<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지 비밀번호 변경하기</title>
    <link rel="stylesheet" href="../../static/css/jyc/password-update.css" />
  </head>
  <body>
    <main id="mypage-update-password">
      <div class="update-password-header"><h3>비밀번호 변경</h3></div>
      <form class="update-password-form">
        <div>
          <input
            type="password"
            name="originalPassword"
            placeholder="새 비밀번호 입력"
            class="original-password"
          />
        </div>
        <div>
          <input
            type="password"
            name="memberPassword"
            placeholder="비밀번호 확인"
            class="new-password"
            aria-autocomplete="list"
          />
          <p class="password-regex">
            대/소문자, 숫자, 특수문자 중 2가지 이상의 조합으로 10자 이상
          </p>
        </div>
        <button disabled="" class="change-button">변경하기</button>
      </form>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</html>
