<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대쉬보드 관리</title>
    <link rel="stylesheet" href="/css/admin/dash-board.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<div class="wrap">
    <div id="menu-side" class="container">
        <div id="top-box" class="menu-box">
            <img id="neighbor-logo" alt="neighbor" src="/css/admin/images/logo2.png">
        </div>
        <div id="middle-box" class="menu-box">
            <div id="wrap-middle-box">
                <div id="middle-box-contents">
                    <div class="side-top-margin"></div>
                    <a class="mouseOnEffect" th:href="@{/main}">
                        <div id="middle-box-site-shortcut-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="home" src="/css/admin/images/home.png">
                            </div>
                            사이트 바로가기
                        </div>
                    </a>

                    <a class="mouseOnEffect" th:href="@{/admin/dashboard/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="dash-board"
                                     src="/css/admin/images/dashBoard-icon.png">
                            </div>
                            대시보드
                        </div>
                    </a>

                    <a class="mouseOnEffect" th:href="@{/admin/member/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="user" src="/css/admin/images/user-icon.png">
                            </div>
                            회원관리
                        </div>
                    </a>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        <div class="icon-gap">
                            <img class="side-icons" alt="ask-answer"
                                 src="/css/admin/images/ask-answer-icon2.png">
                        </div>
                        게시판 관리
                        <img src="/css/admin/images/plus.png" class="collapse-button">
                    </button>

                    <div class="content">
                        <p><a th:href="@{/admin/board/list}" style="color: white">게시글 목록</a></p>
                        <p><a th:href="@{/admin/reply/list}" style="color: white">후기 목록</a></p>
                    </div>

                    <a class="mouseOnEffect" th:href="@{/admin/ask/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="ask-board" src="/css/admin/images/ask-board-icon.png">
                            </div>
                            문의 게시판 관리
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="right-side" class="container">
        <div class="right-header">
            <div class="letter-space">
                대시보드
            </div>
            <h1 id="clock" style="color:black;">clock</h1>
            <img class="admin-profile" src="https://whatsondisneyplus.com/wp-content/uploads/2021/09/bart-.png">
            <p class="admin-name">관리자</p>
            <p class="name-logout-space">ㅣ</p>
            <button class="admin-logout" type="submit" value=""><a th:href="@{/members/logout}" class="admin-logout" type="submit" style="color: black">LOGOUT</a></button>
        </div>
        <div class="right-body">
            <div class="container-flex-top">
                <!-- 신규 회원 -->
                <div class="user-list-contents user-list-contents1">
                    <div class="dashboard-label">
                        <p>회원 관리</p>
                        <a class="detail-button" th:href="@{/admin/member/list}"><input class="detail-button" type="submit" value="더보기"></a>
                    </div>
                    <div class="item-list-header">
                        <div class="user-num">
                            회원 번호
                        </div>
                        <div class="user-name">
                            이름
                        </div>
                        <div class="user-email">
                            이메일
                        </div>
                        <div class="user-nickname">
                            닉네임
                        </div>
                        <div class="user-region">
                            지역
                        </div>
                    </div>

                    <div class="new-user">
                        <div class="user-list1" th:each="member:${members}">
                            <div class="item-list-contents" th:object="${member}">
                                <div class="user-num" th:text="*{memberId}"></div>
                                <div class="user-name" th:text="*{memberName}"></div>
                                <div class="user-email" th:text="*{memberEmail}"></div>
                                <div class="user-nickname" th:text="*{memberNickname}"></div>
                                <div class="user-region" th:text="*{memberRegionKo}"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 문의사항 -->

                <div class="user-list-contents user-list-contents2">
                    <div class="dashboard-label">
                        <p> 문의사항</p>
                        <a class="detail-button" th:href="@{/admin/ask/list}"><input class="detail-button" type="submit" value="더보기"></a>
                    </div>
                    <div class="item-list-header">
                        <div class="qna-num">
                            No.
                        </div>
                        <div class="qna-title">
                            제목
                        </div>
                        <div class="qna-writer">
                            작성자
                        </div>
                        <div class="qna-write-day">
                            작성 일시
                        </div>
                    </div>

                    <div class="new-user">
                        <div class="user-list2" th:each="ask:${asks}">
                            <div class="item-list-contents" th:object="${ask}">
                                <div class="qna-num" th:text="*{askAdminId}"></div>
                                <div class="qna-title" th:text="*{askAdminTitle}"></div>
                                <div class="qna-writer" th:text="*{memberNickname}"></div>
                                <div class="qna-write-day" th:text="*{askAdminRegisterDate}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-flex-bottom">
                <!-- 게시판 관리 -->
                <div class="user-list-contents user-list-contents3">
                    <div class="dashboard-label">
                        <p>게시판 관리</p>
                        <a class="detail-button" th:href="@{/admin/board/list}"><input class="detail-button" type="submit" value="더보기"></a>
                    </div>
                    <div class="item-list-header">
                        <div class="board-num">
                            No.
                        </div>
                        <div class="board-region">
                            지역
                        </div>
                        <div class="board-title">
                            게시글 제목
                        </div>
                        <div class="writer-nick">
                            작성자
                        </div>
                        <div class="board-write-day">
                            작성일시
                        </div>
                        <div class="board-status">
                            상태
                        </div>
                    </div>

                    <div class="new-user">
                        <div class="user-list3" th:each="board:${boards}">
                            <div class="item-list-contents" th:object="${board}">
                                <div class="board-num" th:text="*{boardId}"></div>
                                <div class="board-region" th:text="*{boardRegionKo}"></div>
                                <div class="board-title" th:text="*{boardTitle}"></div>
                                <div class="writer-nick" th:text="*{memberNickname}"></div>
                                <div class="board-write-day" th:text="*{boardRegisterDate}"></div>
                                <div class="board-status" th:text="*{boardSaleStatus}"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 후기 관리 -->
                <div class="user-list-contents user-list-contents4">
                    <div class="dashboard-label">
                        <p>후기 관리</p>
                        <a class="detail-button" th:href="@{/admin/reply/list}"><input class="detail-button" type="submit" value="더보기"></a>
                    </div>
                    <div class="item-list-header">
                        <div class="reply-num">
                            후기글 번호
                        </div>
                        <div class="reply-board-num">
                            게시글 번호
                        </div>
                        <div class="reply-content">
                            후기 내용
                        </div>
                        <div class="writer-nick">
                            작성자
                        </div>
                        <div class="reply-write-day">
                            작성일시
                        </div>
                    </div>

                    <div class="new-user">
                        <div class="user-list4" th:each="reply:${replys}">
                            <div class="item-list-contents" th:object="${reply}">
                                <div class="reply-num" th:text="*{replyId}"></div>
                                <div class="reply-board-num" th:text="*{boardId}"></div>
                                <div class="reply-content" th:text="*{replyContent}"></div>
                                <div class="writer-nick" th:text="*{memberNickname}"></div>
                                <div class="reply-write-day" th:text="*{replyRegisterDate}"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/dash-board.js"></script>
<script>
</script>
</html>