<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기관리</title>
    <link rel="stylesheet" href="/css/admin/manage-reply.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<div class="wrap">
    <div id="menu-side" class="container">
        <div id="top-box" class="menu-box">
            <img id="neighbor-logo" alt="neighbor" src="/css/admin/images/logo2.png">
        </div>
        <div id="middle-box" class="menu-box">
            <div id="wrap-middle-box">
                <div id="middle-box-contents">
                    <div class="side-top-margin"></div>
                    <a class="mouseOnEffect" th:href="@{/main}">
                        <div id="middle-box-site-shortcut-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="home" src="/css/admin/images/home.png">
                            </div>
                            사이트 바로가기
                        </div>
                    </a>

                    <a class="mouseOnEffect" th:href="@{/admin/dashboard/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="dash-board"
                                     src="/css/admin/images/dashBoard-icon.png">
                            </div>
                            대시보드
                        </div>
                    </a>

                    <a class="no-collapsible mouseOnEffect" th:href="@{/admin/member/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="user" src="/css/admin/images/user-icon.png">
                            </div>
                            회원관리
                        </div>
                    </a>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        <div class="icon-gap">
                            <img class="side-icons" alt="ask-answer"
                                 src="/css/admin/images/ask-answer-icon2.png">
                        </div>
                        게시판 관리
                        <img src="/css/admin/images/plus.png" class="collapse-button">
                    </button>

                    <div class="content">
                        <p><a th:href="@{/admin/board/list}" style="color: white">게시글 목록</a></p>
                        <p><a th:href="@{/admin/reply/list}" style="color: white">후기 목록</a></p>
                    </div>

                    <a class="no-collapsible mouseOnEffect" th:href="@{/admin/ask/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="ask-board" src="/css/admin/images/ask-board-icon.png">
                            </div>
                            문의 게시판 관리
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="right-side" class="container">
        <div class="right-header">
            <div class="letter-space">
                후기 관리
            </div>
            <h1 id="clock" style="color:black;">clock</h1>
            <img class="admin-profile" src="https://whatsondisneyplus.com/wp-content/uploads/2021/09/bart-.png">
            <p class="admin-name">관리자</p>
            <p class="name-logout-space">ㅣ</p>
            <button class="admin-logout" type="submit" value="">LOGOUT</button>
        </div>
        <div class="right-body">
            <div class="user-list-letter">
                <p>후기 목록</p>
            </div>

            <div class="user-list-contents">
                <div class="reply-input-wrap">
                    <div class="reply-delete-button-wrap">
                        <input class="reply-delete-button" type="button" value="후기 삭제">
                    </div>

                    <div class="reply-search-wrap">
                        <div class="search-border">
                            <img id="search-icon" alt="search" src="/css/admin/images/search-icon.png">
                            <form class="reply-search-form" name="search-form" >
                                <input class="reply-search keyword" name="keyword" type="text" placeholder="후기내용 검색">
                                <button id="search-button" type="button">검색</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="total-mentor">
                    <p>후기 수</p>
                    <p class="total-mentor-num"></p>
                </div>

                <div class="checkbox-group">
                    <div class="item-list-header">
                        <div class="checkbox-zip">
                            <input type="checkbox" id="check-all" class="all" value="all">
                        </div>
                        <div class="reply-num">
                            후기 번호
                        </div>
                        <div class="board-num">
                            게시글 번호
                        </div>
                        <div class="region">
                            지역
                        </div>
                        <div class="writer-nick">
                            작성자
                        </div>
                        <div class="reply-content">
                            후기 내용
                        </div>
                        <div class="reply-day">
                            작성일
                        </div>
                    </div>

                    <!-- 여기부터 내용 -->
                    <!--                    <div class="item-list-contents" th:each="reply:${replys}">-->
                    <!--                        <div class="checkbox-zip">-->
                    <!--                            <input type="checkbox" name="checkbox" id="check1" class="normal" value="">-->
                    <!--                        </div>-->
                    <!--                        <div class="reply-num" th:text="*{reply.replyId}"></div>-->
                    <!--                        <div class="board-num" th:text="*{reply.boardId}"></div>-->
                    <!--                        <div class="region" th:text="*{reply.replyRegionKo}"></div>-->
                    <!--                        <div class="writer-nick" th:text="*{reply.memberNickname}"></div>-->
                    <!--                        <div class="reply-content">-->
                    <!--                            <span th:attrappend="id=*{reply.replyId}" th:text="*{reply.replyContent}" onclick="openModal(this.id)"></span>-->
                    <!--                            <div th:id="'my_modal' + *{reply.replyId}" class="my_modal">-->
                    <!--                                <a class="modal_close_btn">✖</a>-->
                    <!--                                <div class="comment-writer">작성자: <span th:text="*{reply.memberNickname}"></span></div>-->
                    <!--                                <div class="comment-detail" th:text="*{reply.replyContent}"></div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                        <div class="reply-day" th:text="*{reply.replyRegisterDate}"></div>-->
                    <!--                    </div>-->
                </div>

                <div class="page-button-box">
                    <!--<div th:object="${pagination}">
                        <div style="text-align: center">
                            <a class="page-button" th:href="*{result.pageDTO.startPage - 1}" th:if="*{prev}"><code><</code></a>
                            <th:block th:each="page:${#numbers.sequence(result.pageDTO.startPage, result.pageDTO.endPage)}">
                                <a class="page-button" th:href="${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                                <code th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                            </th:block>
                            <a class="page-button" th:href="*{endPage + 1}" th:if="*{next}"><code>></code></a>
                        </div>
                        <form th:action="@{/replys/list}" th:object="${criteria}" name="pageForm">
                            <input type="hidden" th:field="*{page}">
                        </form>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script>


    const $changePageTags = $(".page-button");
    const $searchButton = $("#search-button");
    const $replySearch = $(".reply-search");
    let page = 1;
    let keyword = null;
    load(page, keyword);
    $(document).ready(function() {
        // 검색창에서 키보드를 눌렀을 때
        $('.reply-search-form').on('keydown', function(e) {
            page = 1;
            if (e.keyCode == 13) { // Enter 키를 눌렀을 때
                e.preventDefault(); // 기본 이벤트 막기
            }
        });
    });
    function showList(replyDTOS) {
        console.log("showlist" + page);
        const $results = $('.checkbox-group');
        var text = "";
        var content = "";
        replyDTOS.forEach(reply => {
            content += `
            <div class="item-list-contents">
                <div class="checkbox-zip">
                    <input type="checkbox" name="checkbox" id="check1" class="normal" value="">
                </div>
                <div class="reply-num">${reply.replyId}</div>
                <div class="board-num">${reply.boardId}</div>
                <div class="region">${reply.replyRegionKo}</div>
                <div class="writer-nick">${reply.memberNickname}</div>
                <div class="reply-content">
                    <span id="${reply.replyId}" onclick="openModal(${reply.replyId})">${reply.replyContent}</span>
                    <div id="my_modal${reply.replyId}" class="my_modal">
                        <a class="modal_close_btn">✖</a>
                        <div class="comment-writer">작성자: <span>${reply.memberNickname}</span></div>
                        <div class="comment-detail">${reply.replyContent}</div>
                    </div>
                </div>
                <div class="reply-day">${reply.replyRegisterDate}</div>
            </div>`
        });
        $('.item-list-contents').remove();
        if ($("#check-all").prop("checked")) {
            $("#check-all").prop("checked", false);
        }
        $results.append(content);

    } // showlist 끝

    // 페이지를 텍스트로 가져오기 성공!
    function showPage(pageDTO) {
        console.log("showpage" + page);
        const $btns = $('.page-button-box');
        const criteria = pageDTO.criteria;
        let text = "";
        $btns.empty(); // 이전에 생성한 페이지 버튼 제거
        if (pageDTO.prev) {
            text += `<a class="page-button" data-page="${pageDTO.startPage - 1}"><code><</code></a>`;
        }
        for (let i = pageDTO.startPage; i <= pageDTO.endPage; i++) {
            if (criteria.page === i) {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            } else {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            }
        }
        if (pageDTO.next) {
            text += `<a class="page-button" data-page="${pageDTO.endPage + 1}"><code>></code></a>`;
        }
        $btns.append(text);
        $("input[name='page']").val(criteria.page);

        // 클릭 시 css가 변하는 이벤트 추가, css가 제대로 작동하는지 확인 필요. 최종 전에 확인하기
        $('.page-button').on('click', function(e) {
            e.preventDefault();
            page = $(this).data('page');
            console.log(page);
            load(page);
            $('.page-button.active').removeClass('active');
            $(this).addClass('active');
        }).on('mouseenter', function() {
            $(this).css('cursor', 'pointer');
        }).on('mouseleave', function() {
            $(this).css('cursor', 'auto');
        });
    }

    $searchButton.on("click", function() {
        keyword = $replySearch.val();
        console.log(keyword);
        load(page,keyword);
    });

    $replySearch.on("keyup", function() {
        keyword = $replySearch.val();
        console.log(keyword);
        load(page,keyword);
    });

    function load(page, keyword) {
        $.ajax({
            url: `/admin/reply/page/keyword`,
            type: "get",
            data: {
                page: page,
                keyword: keyword
            },
            success: function (result) {
                console.log("load" + page);
                // replyDTO
                $('.total-mentor-num').html(result.replyTotal);
                showList(result.replyDTOS);
                showPage(result.pageDTO);
            }
        });
    }

    /* delete 버튼 클릭 시 ajax실행*/

    $('.reply-delete-button').on('click', function () {
        var checkedIds = new Array();
        // 체크 박스 체크된 값
        $('input:checkbox[name=checkbox]:checked').parent().parent().find('.reply-num').each(function () {
            console.log(this.innerText);
            checkedIds.push(this.innerText);
        });
        $.ajax({
            url: "/admin/reply/delete",
            type: "delete",
            data: {
                "checkedIds": checkedIds,
            },
            success: function () {
                load(page, keyword);
            }
        });
    });

</script>
</html>
