<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기관리</title>
    <link rel="stylesheet" href="/css/admin/manage-reply.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<div class="wrap">
    <div id="menu-side" class="container">
        <div id="top-box" class="menu-box">
            <img id="neighbor-logo" alt="neighbor" src="/css/admin/images/logo2.png">
        </div>
        <div id="middle-box" class="menu-box">
            <div id="wrap-middle-box">
                <div id="middle-box-contents">
                    <div class="side-top-margin"></div>
                    <span class="mouseOnEffect">
                                <div id="middle-box-site-shortcut-bar" class="side-bar">
                                    <div class="icon-gap">
                                        <img class="side-icons" alt="home" src="/css/admin/images/home.png">
                                    </div>
                                    사이트 바로가기
                                </div> 
                            </span>

                    <span class="mouseOnEffect">
                                <div id="middle-box-dashBoard-bar" class="side-bar">
                                    <div class="icon-gap">
                                        <img class="side-icons" alt="dash-board"
                                             src="/css/admin/images/dashBoard-icon.png">
                                    </div>
                                    대시보드
                                </div>
                            </span>

                    <button type="button" class="no-collapsible mouseOnEffect">
                        <div class="icon-gap">
                            <img class="side-icons" alt="user" src="/css/admin/images/user-icon.png">
                        </div>
                        회원관리
                    </button>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        <div class="icon-gap">
                            <img class="side-icons" alt="ask-answer"
                                 src="/css/admin/images/ask-answer-icon2.png">
                        </div>
                        게시판 관리
                        <img src="/css/admin/images/plus.png" class="collapse-button">
                    </button>

                    <div class="content">
                        <p>게시글 목록</p>
                        <p>후기 목록</p>
                    </div>

                    <button type="button" class="no-collapsible mouseOnEffect">
                        <div class="icon-gap">
                            <img class="side-icons" alt="ask-board"
                                 src="/css/admin/images/ask-board-icon.png">
                        </div>
                        문의 게시판 관리
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="right-side" class="container">
        <div class="right-header">
            <div class="letter-space">
                후기 관리
            </div>
            <h1 id="clock" style="color:black;">clock</h1>
            <img class="admin-profile" src="https://whatsondisneyplus.com/wp-content/uploads/2021/09/bart-.png">
            <p class="admin-name">관리자</p>
            <p class="name-logout-space">ㅣ</p>
            <button class="admin-logout" type="submit" value="">LOGOUT</button>
        </div>
        <div class="right-body">
            <div class="user-list-letter">
                <p>후기 목록</p>
            </div>

            <div class="user-list-contents">
                <div class="member-input-wrap">
                    <div class="reply-delete-button-wrap">
                        <input class="reply-delete-button" type="submit" value="후기 삭제">
                    </div>

                    <div class="member-search-wrap">
                        <div class="search-border">
                            <img id="search-icon" alt="search" src="/css/admin/images/search-icon.png">
                            <form class="reply-search-form" name="search-form" >
                                <input class="reply-search keyword" name="keyword" type="text" placeholder="후기 검색">
                                <button type="submit" >검색</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="total-mentor">
                    <p>후기</p>
                    <p class="total-mentor-num" th:text="${replyCount}"></p>
                </div>

                <div class="checkbox-group">
                    <div class="item-list-header">
                        <div class="checkbox-zip">
                            <input type="checkbox" id="check-all" class="all" value="all">
                        </div>
                        <div class="reply-num">
                            후기 번호
                        </div>
                        <div class="board-num">
                            게시글 번호
                        </div>
                        <div class="region">
                            지역
                        </div>
                        <div class="writer-nick">
                            작성자
                        </div>
                        <div class="reply-content">
                            후기 내용
                        </div>
                        <div class="reply-day">
                            작성일
                        </div>
                    </div>

                    <!-- 여기부터 내용 -->
                    <div class="item-list-contents" th:each="reply:${replys}">
                        <div class="checkbox-zip">
                            <input type="checkbox" name="checkbox" id="check1" class="normal" value="">
                        </div>
                        <div class="reply-num" th:text="*{reply.replyId}"></div>
                        <div class="board-num" th:text="*{reply.boardId}"></div>
                        <div class="region" th:text="*{reply.replyRegionKo}"></div>
                        <div class="writer-nick" th:text="*{reply.memberNickname}"></div>
                        <div class="reply-content">
                            <span th:attrappend="id=*{reply.replyId}" th:text="*{reply.replyContent}" onclick="openModal(this.id)"></span>
                            <div th:id="'my_modal' + *{reply.replyId}" class="my_modal">
                                <a class="modal_close_btn">✖</a>
                                <div class="comment-writer">작성자: <span th:text="*{reply.memberNickname}"></span></div>
                                <div class="comment-detail" th:text="*{reply.replyContent}"></div>
                            </div>
                        </div>
                        <div class="reply-day" th:text="*{reply.replyRegisterDate}"></div>
                    </div>
                </div>

                <div class="page-button-box">
                    <div th:object="${pagination}">
                        <div style="text-align: center">
                            <a class="page-button" th:href="*{startPage - 1}" th:if="*{prev}"><code><</code></a>
                            <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                                <a class="page-button" th:href="${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                                <code th:unless="${pagination.criteria.page != page}" th:text="${page}"></code>
                            </th:block>
                            <a class="page-button" th:href="*{endPage + 1}" th:if="*{next}"><code>></code></a>
                        </div>
                        <form th:action="@{/replys/list}" th:object="${criteria}" name="pageForm">
                            <input type="hidden" th:field="*{page}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script>

    let $pages = $("a.page-button");

    $pages.on("click", function(e){
        e.preventDefault();
        let page = $(this).attr("href");
        let amount = 6;
        let url = "/admins/reply/list?page=" + page + "&amount=" + amount;

        location.href = url;
    });


    /*검색어 계속 남아 있게 하는 js 시작 되긴 되는데 에이잭스 이렇게 쓰는거 아니다.*/
    // 페이지가 로드될 때 실행되는 함수
    // window.onload = function() {
    //     // 검색어가 저장되어 있으면 검색창에 표시
    //     var savedKeyword = sessionStorage.getItem('savedKeyword');
    //     if (savedKeyword !== null) {
    //         $.ajax({
    //             type: "get",
    //             url: "/admins/reply/list",
    //             data: { keyword: keyword },
    //             success: function(result) {
    //                 // 테이블 초기화
    //                 $('.item-list-contents').empty();
    //                 if (result.length >= 1) {
    //                     result.forEach(function(reply) {
    //                         var replyId = reply.replyId;
    //                         var str = '<div class="checkbox-zip">\n' +
    //                             '<input type="checkbox" id="check1" class="normal" value="">\n' +
    //                             '</div>';
    //                         str += '<div class="board-num">' + reply.boardId + '</div>';
    //                         str += '<div class="region">' + reply.replyRegionKo + '</div>';
    //                         str += '<div class="writer-nick">' + reply.memberNickname + '</div>';
    //                         str += '<div class="reply-content">';
    //                         str += '<span>' + reply.replyContent + '</span>';
    //                         str += '<div id="my_modal' + replyId + '" class="my_modal">';
    //                         str += '<a class="modal_close_btn">' + '✖' + '</a>';
    //                         str += '<div class="comment-writer">' + '작성자: ' + '<span>' + reply.memberNickname + '</span>' + '</div>';
    //                         str += '<div class="comment-detail">' + reply.replyContent + '</div>';
    //                         str += '</div>';
    //                         str += '</div>';
    //                         str += '<div class="reply-day">' + reply.replyRegisterDate + '</div>';
    //                         $('.item-list-contents').append(str);
    //                     });
    //                 }
    //                 // 검색 결과의 갯수 계산해서 출력
    //                 $('.total-mentor-num').empty();
    //                 $('.total-mentor-num').text(result.length); // total-mentor-num 업데이트
    //             }
    //         });
    //     }
    // }





    // 검색 버튼 클릭 시 실행되는 함수
    function search() {
        // 검색어 저장
        var keyword = document.querySelector('.keyword').value;
        sessionStorage.setItem('savedKeyword', keyword);
    }


    /* 후기글 관리 검색시 ajax용*/
    $(".reply-search-form").submit(function(e){
        // console.log(123); 여기까지는 들어옴.
        let keyword = document.querySelector('.keyword').value;
        let page = [[${pagination.criteria.page}]];
        console.log(keyword);
        console.log(page);
        if (keyword !== null) {
            $.ajax({
                type: "post",
                url: "/admins/reply/list",
                data: {
                    keyword: keyword,
                    page : page
                },
                success: function(result) {
                    // 테이블 초기화
                    $('.item-list-contents').empty();
                    if (result.length >= 1) {
                        result.forEach(function(reply) {
                            let replyId = reply.replyId;
                            let str = '<div class="checkbox-zip">\n' +
                                '<input type="checkbox" id="check1" class="normal" value="">\n' +
                                '</div>';
                            str += '<div class="board-num">' + reply.boardId + '</div>';
                            str += '<div class="region">' + reply.replyRegionKo + '</div>';
                            str += '<div class="writer-nick">' + reply.memberNickname + '</div>';
                            str += '<div class="reply-content">';
                            str += '<span>' + reply.replyContent + '</span>';
                            str += '<div id="my_modal' + replyId + '" class="my_modal">';
                            str += '<a class="modal_close_btn">' + '✖' + '</a>';
                            str += '<div class="comment-writer">' + '작성자: ' + '<span>' + reply.memberNickname + '</span>' + '</div>';
                            str += '<div class="comment-detail">' + reply.replyContent + '</div>';
                            str += '</div>';
                            str += '</div>';
                            str += '<div class="reply-day">' + reply.replyRegisterDate + '</div>';
                            $('.item-list-contents').append(str);
                        });
                    }
                    // 검색 결과의 갯수 계산해서 출력
                    $('.total-mentor-num').empty();
                    $('.total-mentor-num').text(result.length); // total-mentor-num 업데이트
                }
            });
        }

    });



    /* delete 버튼 클릭 시 ajax실행*/
    // $('.reply-delete-button').on('click', function() {
    //     var checkedIds = new Array();
    //     // 체크 박스 체크된 값
    //     $('input:checkbox[name=checkbox]:checked').parent().parent().find('.reply-num').each(function(){
    //         console.log(this.innerText);
    //         checkedIds.push(this.innerText);
    //     });
    //
    //     $.ajax({
    //         url: "/admins/reply/delete",
    //         type: "delete",
    //         data: {
    //             "checkedIds": checkedIds,
    //             "page" : page
    //         },
    //
    //         success: function(){
    //             // location.reload();
    //         }
    //
    //     });
    // });

</script>
</html>