<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 게시글 관리</title>
    <link rel="stylesheet" href="/css/admin/manage-board.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<div class="wrap">
    <div id="menu-side" class="container">
        <div id="top-box" class="menu-box">
            <img id="neighbor-logo" alt="neighbor" src="/css/admin/images/logo2.png">
        </div>
        <div id="middle-box" class="menu-box">
            <div id="wrap-middle-box">
                <div id="middle-box-contents">
                    <div class="side-top-margin"></div>
                    <a class="mouseOnEffect" th:href="@{/main}">
                        <div id="middle-box-site-shortcut-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="home" src="/css/admin/images/home.png">
                            </div>
                            사이트 바로가기
                        </div>
                    </a>

                    <a class="mouseOnEffect" th:href="@{/admin/dashboard/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="dash-board"
                                     src="/css/admin/images/dashBoard-icon.png">
                            </div>
                            대시보드
                        </div>
                    </a>

                    <a class="no-collapsible mouseOnEffect" th:href="@{/admin/member/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="user" src="/css/admin/images/user-icon.png">
                            </div>
                            회원관리
                        </div>
                    </a>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        <div class="icon-gap">
                            <img class="side-icons" alt="ask-answer"
                                 src="/css/admin/images/ask-answer-icon2.png">
                        </div>
                        게시판 관리
                        <img src="/css/admin/images/plus.png" class="collapse-button">
                    </button>

                    <div class="content">
                        <p><a th:href="@{/admin/board/list}" style="color: white">게시글 목록</a></p>
                        <p><a th:href="@{/admin/reply/list}" style="color: white">후기 목록</a></p>
                    </div>

                    <a class="no-collapsible mouseOnEffect" th:href="@{/admin/ask/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="ask-board" src="/css/admin/images/ask-board-icon.png">
                            </div>
                            문의 게시판 관리
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="right-side" class="container">
        <div class="right-header">
            <div class="letter-space">
                게시판 관리
            </div>
            <h1 id="clock" style="color:black;">clock</h1>
            <img class="admin-profile" src="https://whatsondisneyplus.com/wp-content/uploads/2021/09/bart-.png">
            <p class="admin-name">관리자</p>
            <p class="name-logout-space">ㅣ</p>
            <button class="admin-logout" type="submit" value=""><a th:href="@{/members/logout}" class="admin-logout" type="submit" style="color: black">LOGOUT</a></button>
        </div>
        <div class="right-body">
            <div class="user-list-letter">
                <p>게시판 목록</p>
            </div>

            <div class="user-list-contents">
                <div class="board-input-wrap">
                    <!-- 버튼만 묶어놓기 -->
                    <div class="wrap-button">
                        <div class="watch-all-board">
                            <input class="watch-all-board-button" type="button" value="전체보기">
                        </div>
                        <div class="watch-waiting-board">
                            <input class="watch-waiting-board-button" type="button" value="판매대기 상품 보기">
                        </div>
                        <div class="board-delete-button-wrap">
                            <input class="board-delete-button admin-delete-button" onclick="openModalDelete()" type="button" value="게시글 삭제">
                        </div>
                        <div id="admin-my-modal" class="admin-modal">
                            <div class="admin-modal-content">
                                <p id="delete-check"></p>
                                <button class="admin-delete-check" onclick="deleteItem()">확인</button>
                                <button class="admin-delete-cancel" onclick="closeModal()">취소</button>
                            </div>
                        </div>
                    </div>
                    <div class="board-search-wrap">
                        <div class="search-border">
                            <img id="search-icon" alt="search" src="/css/admin/images/search-icon.png">
                            <form class="board-search-form" name="search-form" >
                                <input class="board-search keyword" name="keyword" type="text" placeholder="내용 검색">
                                <button id="search-button" type="button" style="display:none;">검색</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="total-mentor">
                    <p>전체 게시글</p>
                    <p class="total-mentor-num"></p>
                </div>

                <div class="checkbox-group">
                    <div class="board-list-header">
                        <div class="checkbox-zip">
                            <input type="checkbox" id="check-all" class="all" value="all">
                        </div>
                        <div class="board-num">
                            게시글 번호
                        </div>
                        <div class="user-region">
                            지역
                        </div>
                        <div class="user-name">
                            작성자
                        </div>
                        <div class="board-contents">
                            게시글 내용
                        </div>
                        <div class="board-register-date">
                            작성일
                        </div>
                        <div class="status">
                            상태
                        </div>
                    </div>

                    <!-- 여기부터 내용 -->
                </div>
                    <div class="page-button-box"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script>


    const $changePageTags = $(".page-button");
    const $searchButton = $("#search-button");
    const $boardSearch = $(".board-search");
    let page = 1;
    let page2 = 1;
    let keyword = null;
    load(page, keyword);
    let count = 1;

        // 검색창에서 키보드를 눌렀을 때
    $('.board-search-form').on('keydown', function(e) {
        if(count==1) {
            page = 1;
        } else {
            page2 = 1;
        }
        if (e.keyCode == 13) { // Enter 키를 눌렀을 때
            e.preventDefault(); // 기본 이벤트 막기
        }
    });

    function showList(boardDTOS) {
        const $results = $('.checkbox-group');
        var text = "";
        var content = "";
        boardDTOS.forEach(board => {
            content +=  `
                        <div class="item-list-contents">
                            <div class="checkbox-zip">
                                <input type="checkbox" id="check1" class="normal" value="${board.boardId}">
                            </div>
                            <div class="board-num">${board.boardId}</div>
                            <div class="user-region">${board.boardRegionKo}</div>
                            <div class="user-name">${board.memberNickname}</div>
                            <div class="board-contents">
                                <span id="${board.boardId}" onclick="openModal(${board.boardId})">${board.boardContent}</span>
                                <div id="my_modal${board.boardId}" class="my_modal">
                                    <a class="modal_close_btn">✖</a>
                                    <div class="comment-writer">작성자: <span>${board.memberNickname}</span></div>
                                    <div class="comment-title">제목: <span>${board.boardTitle}</span></div>
                                    <div class="comment-detail">${board.boardContent}</div>
                                </div>
                            </div>
                            <div class="board-register-date">${board.boardRegisterDate}</div>
                            <div class="status status-false">${board.boardSaleStatus}</div>
                        </div>`



        });
        $('.item-list-contents').remove();
        if ($("#check-all").prop("checked")) {
            $("#check-all").prop("checked", false);
        }
        $results.append(content);

    } // showlist 끝

    // 페이지를 텍스트로 가져오기 성공!
    function showPage(pageDTO) {
        const $btns = $('.page-button-box');
        const criteria = pageDTO.criteria;
        let text = "";
        $btns.empty(); // 이전에 생성한 페이지 버튼 제거
        if (pageDTO.prev) {
            text += `<a class="page-button" data-page="${pageDTO.startPage - 1}"><code><</code></a>`;
        }
        for (let i = pageDTO.startPage; i <= pageDTO.endPage; i++) {
            if (criteria.page === i) {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            } else {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            }
        }
        if (pageDTO.next) {
            text += `<a class="page-button" data-page="${pageDTO.endPage + 1}"><code>></code></a>`;
        }
        $btns.append(text);
        $("input[name='page']").val(criteria.page);

        /*페이지 이동을 위함*/
        $('.page-button').on('click', function(e) {
            e.preventDefault();
            if(count == 1) {
                page = $(this).data('page');
                keyword = $boardSearch.val();
                load(page,keyword);
            } else {
                page2 = $(this).data('page2');
                keyword = $boardSearch.val();
                load2(page2,keyword);
            }
            $('.page-button.active').removeClass('active');
            $(this).addClass('active');
        }).on('mouseenter', function() {
            $(this).css('cursor', 'pointer');
        }).on('mouseleave', function() {
            $(this).css('cursor', 'auto');
        });
    }


    $searchButton.on("click", function() {
        keyword = $boardSearch.val();
        if(count == 1) {
            load(page,keyword);
        } else {
            load2(page2,keyword);
        }

    });

    $boardSearch.on("keyup", function() {
        keyword = $boardSearch.val();
        if(count == 1) {
            load(page,keyword);
        } else {
            load2(page2,keyword);
        }
    });

    // 처음 페이지 목록을 불러옴.
    function load(page, keyword) {
        $.ajax({
            url: `/admin/board/page/keyword`,
            type: "get",
            data: {
                page: page,
                keyword: keyword
            },
            success: function (result) {
                // replyDTO
                $('.total-mentor-num').html(result.boardTotal);
                showList(result.boardDTOS);
                showPage(result.pageDTO);
            }
        });
    }

        /* delete 버튼 클릭 시 ajax실행*/
    $('.admin-delete-check').on('click', function () {
        var checkedItems = [];

// 체크박스 요소들을 가져온다.
        var checkboxes = document.querySelectorAll('.item-list-contents input[type="checkbox"]');

// 체크박스들을 순회하며 체크된 항목들을 배열에 담는다.
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                checkedItems.push(checkbox.value); // 체크된 항목의 부모 요소인 item-list-contents를 배열에 추가합니다.
            }
        });
        console.log(checkedItems);

        for(let i = 0; i<checkedItems.length; i++){
            console.log(checkedItems[i]);
            $.ajax({
                type : "DELETE",
                url : "/admin/board/delete",
                data : {
                    "checkedId" : checkedItems[i]
                },
                success : function() {
                    if(count == 1) {
                        load(page, keyword);
                    } else {
                        load2(page2,keyword);
                    }
                }
            });
        }
    });


    function showListWait(boardDTOS) {
        const $results = $('.checkbox-group');
        var text = "";
        var content = "";
        boardDTOS.forEach(board => {
            content +=  `
                        <div class="item-list-contents">
                            <div class="checkbox-zip">
                                <input type="checkbox" id="check1" class="normal" value="${board.boardId}">
                            </div>
                            <div class="board-num">${board.boardId}</div>
                            <div class="user-region">${board.boardRegionKo}</div>
                            <div class="user-name">${board.memberNickname}</div>
                            <div class="board-contents">
                                <span id="${board.boardId}" onclick="openModal(${board.boardId})">${board.boardContent}</span>
                                <div id="my_modal${board.boardId}" class="my_modal">
                                    <a class="modal_close_btn">✖</a>
                                    <div class="comment-writer">작성자: <span>${board.memberNickname}</span></div>
                                    <div class="comment-title">제목: <span>${board.boardTitle}</span></div>
                                    <div class="comment-detail">${board.boardContent}</div>
                                </div>
                            </div>
                            <div class="board-register-date">${board.boardRegisterDate}</div>
                            <div class="status status-false">${board.boardSaleStatus}</div>
                        </div>`



        });
        $('.item-list-contents').remove();
        if ($("#check-all").prop("checked")) {
            $("#check-all").prop("checked", false);
        }
        $results.append(content);

    }


    function showPageWait(pageDTO) {
        const $btns = $('.page-button-box');
        const criteria = pageDTO.criteria;
        let text = "";
        $btns.empty(); // 이전에 생성한 페이지 버튼 제거
        if (pageDTO.prev) {
            text += `<a class="page-button" data-page2="${pageDTO.startPage - 1}"><code><</code></a>`;
        }
        for (let i = pageDTO.startPage; i <= pageDTO.endPage; i++) {
            if (criteria.page === i) {
                text += `<a class="page-button" data-page2="${i}">${i}</a>`;
            } else {
                text += `<a class="page-button" data-page2="${i}">${i}</a>`;
            }
        }
        if (pageDTO.next) {
            text += `<a class="page-button" data-page2="${pageDTO.endPage + 1}"><code>></code></a>`;
        }
        $btns.append(text);
        $("input[name='page']").val(criteria.page);
        /*페이지 이동을 위함*/
// 페이지 이동 버튼 클릭 이벤트 핸들러 추가
        $('.page-button').on('click', function(e) {
            e.preventDefault();
            page2 = $(this).data('page2');
            keyword = $boardSearch.val();
            load2(page2, keyword);
            $('.page-button.active').removeClass('active');
            $(this).addClass('active');
        });
    }

    function load2(page2, keyword) {
        $('.total-mentor-num').empty();
        $('.list-container').empty();
        $('.page-button-box').empty();
        $.ajax({
            url: `/admin/board/page/keyword/status`,
            type: "get",
            data: {
                page: page2,
                keyword: keyword
            },
            success: function (resultWait) {
                $('.total-mentor-num').html(resultWait.boardTotal);
                showListWait(resultWait.boardDTOS);
                showPageWait(resultWait.pageDTO);
            }
        });
    }


        $('.watch-all-board-button, .watch-waiting-board-button').click(function() {
            $('.board-search-form input').val("");

            /*판매 대기중인 목록을 불러오는 ajax*/
            $('.watch-waiting-board').on('click',function() {
                count = 0;
                page2 = 1;
                keyword = null;
                load2(page2,keyword);
            });

            $('.watch-all-board').on('click',function() {
                count = 1;
                page = 1;
                keyword = null;
                load(page,keyword);
            });
        });
/*삭제 버튼 모달*/
    // 모달창 열기 함수
    function openModalDelete() {
        var checkedItems = [];
        var message = document.getElementById("delete-check");
        // 체크박스 요소들을 가져온다.
        var checkboxes = document.querySelectorAll('.item-list-contents input[type="checkbox"]');
        // 체크된 항목이 없으면 모달을 띄웁니다.

        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                checkedItems.push(checkbox.value); // 체크된 항목의 부모 요소인 item-list-contents를 배열에 추가합니다.
            }
        });
        if (checkedItems.length === 0) {
            message.innerText = "선택된게 없습니다.";
            document.getElementById("admin-my-modal").style.display = "block";
            document.getElementsByClassName("admin-delete-cancel")[0].style.display = "none";
            return;
        } else {
            message.innerText = "정말 삭제하시겠습니까?";
            document.getElementById("admin-my-modal").style.display = "block";
            document.getElementsByClassName("admin-delete-cancel")[0].style.display = "inline-block";
        }
    }

    // 모달창 닫기 함수
    function closeModal() {
        document.getElementById("admin-my-modal").style.display = "none";
    }

    // 삭제 함수
    function deleteItem() {
        // 여기에 삭제 작업 코드를 작성
        // 삭제 작업 후 모달창을 닫는 코드
        closeModal();
    }



</script>
</html>