<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매 게시글 관리</title>
    <link rel="stylesheet" href="/css/admin/manage-board.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<div class="wrap">
    <div id="menu-side" class="container">
        <div id="top-box" class="menu-box">
            <img id="neighbor-logo" alt="neighbor" src="/css/admin/images/logo2.png">
        </div>
        <div id="middle-box" class="menu-box">
            <div id="wrap-middle-box">
                <div id="middle-box-contents">
                    <div class="side-top-margin"></div>
                    <a class="mouseOnEffect" th:href="@{/main}">
                        <div id="middle-box-site-shortcut-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="home" src="/css/admin/images/home.png">
                            </div>
                            사이트 바로가기
                        </div>
                    </a>

                    <a class="mouseOnEffect" th:href="@{/admin/dashboard/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="dash-board"
                                     src="/css/admin/images/dashBoard-icon.png">
                            </div>
                            대시보드
                        </div>
                    </a>

                    <a class="mouseOnEffect" th:href="@{/admin/member/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="user" src="/css/admin/images/user-icon.png">
                            </div>
                            회원관리
                        </div>
                    </a>

                    <button type="button" class="mouseOnEffect collapsible" onclick="collapse(this);">
                        <div class="icon-gap">
                            <img class="side-icons" alt="ask-answer"
                                 src="/css/admin/images/ask-answer-icon2.png">
                        </div>
                        게시판 관리
                        <img src="/css/admin/images/plus.png" class="collapse-button">
                    </button>

                    <div class="content">
                        <p><a th:href="@{/admin/board/list}" style="color: white">게시글 목록</a></p>
                        <p><a th:href="@{/admin/reply/list}" style="color: white">후기 목록</a></p>
                    </div>

                    <a class="mouseOnEffect" th:href="@{/admin/ask/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="ask-board" src="/css/admin/images/ask-board-icon.png">
                            </div>
                            문의 게시판 관리
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="right-side" class="container">
        <div class="right-header">
            <div class="letter-space">
                게시판 관리
            </div>
            <h1 id="clock" style="color:black;">clock</h1>
            <img class="admin-profile" src="https://whatsondisneyplus.com/wp-content/uploads/2021/09/bart-.png">
            <p class="admin-name">관리자</p>
            <p class="name-logout-space">ㅣ</p>
            <button class="admin-logout" type="submit" value=""><a th:href="@{/members/logout}" class="admin-logout" type="submit" style="color: black">LOGOUT</a></button>
        </div>
        <div class="right-body">
            <div class="user-list-letter">
                <p>게시판 목록</p>
            </div>

            <div class="user-list-contents">
                <div class="board-input-wrap">
                    <!-- 버튼만 묶어놓기 -->
                    <div class="wrap-button">
                        <div class="watch-all-board">
                            <input class="watch-all-board-button" type="button" value="전체보기">
                        </div>
                        <div class="watch-waiting-board">
                            <input class="watch-waiting-board-button" type="button" value="판매대기 상품">
                        </div>
                        <div class="board-delete-button-wrap">
                            <input class="board-delete-button admin-delete-button" onclick="openModalDelete()" type="button" value="게시글 삭제">
                        </div>
                        <div id="admin-my-modal" class="admin-modal">
                            <div class="admin-modal-content">
                                <p id="delete-check"></p>
                                <button class="admin-delete-check" onclick="deleteItem()">확인</button>
                                <button class="admin-delete-cancel" onclick="closeModal()">취소</button>
                            </div>
                        </div>
                    </div>
                    <div class="board-search-wrap">
                        <div class="search-border">
                            <img id="search-icon" alt="search" src="/css/admin/images/search-icon.png">
                            <form class="board-search-form" name="search-form" >
                                <input class="board-search keyword" name="keyword" type="text" placeholder="내용 검색">
                                <button id="search-button" type="button" style="display:none;">검색</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="total-mentor">
                    <p>게시글 수</p>
                    <p class="total-mentor-num"></p>
                </div>

                <div class="checkbox-group">
                    <div class="board-list-header">
                        <div class="checkbox-zip">
                            <input type="checkbox" id="check-all" class="all" value="all">
                        </div>
                        <div class="board-num">
                            게시글 번호
                        </div>
                        <div class="user-region">
                            지역
                        </div>
                        <div class="user-name">
                            작성자
                        </div>
                        <div class="board-contents">
                            게시글 내용
                        </div>
                        <div class="board-register-date">
                            작성일
                        </div>
                        <div class="status">
                            상태
                        </div>
                    </div>

                    <!-- 여기부터 내용 -->
                </div>
                <div class="page-button-box"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/manage-board.js"></script>
</html>