<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원관리</title>
    <link rel="stylesheet" href="/css/admin/manage-user.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<div class="wrap">
    <div id="menu-side" class="container">
        <div id="top-box" class="menu-box">
            <img id="neighbor-logo" alt="neighbor" src="/css/admin/images/logo2.png">
        </div>
        <div id="middle-box" class="menu-box">
            <div id="wrap-middle-box">
                <div id="middle-box-contents">
                    <div class="side-top-margin"></div>
                    <a class="mouseOnEffect" th:href="@{/main}">
                                <div id="middle-box-site-shortcut-bar" class="side-bar">
                                    <div class="icon-gap">
                                        <img class="side-icons" alt="home" src="/css/admin/images/home.png">
                                    </div>
                                    사이트 바로가기
                                </div> 
                            </a>

                    <a class="mouseOnEffect" th:href="@{/admin/dashboard/list}">
                                <div id="middle-box-dashBoard-bar" class="side-bar">
                                    <div class="icon-gap">
                                        <img class="side-icons" alt="dash-board"
                                             src="/css/admin/images/dashBoard-icon.png">
                                    </div>
                                    대시보드
                                </div>
                            </a>

                        <a class="no-collapsible mouseOnEffect" th:href="@{/admin/member/list}">
                            <div id="middle-box-dashBoard-bar" class="side-bar">
                                <div class="icon-gap">
                                    <img class="side-icons" alt="user" src="/css/admin/images/user-icon.png">
                                </div>
                                회원관리
                            </div>
                        </a>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        <div class="icon-gap">
                            <img class="side-icons" alt="ask-answer"
                                 src="/css/admin/images/ask-answer-icon2.png">
                        </div>
                        게시판 관리
                        <img src="/css/admin/images/plus.png" class="collapse-button">
                    </button>

                    <div class="content">
                        <p><a th:href="@{/admin/board/list}" style="color: white">게시글 목록</a></p>
                        <p><a th:href="@{/admin/reply/list}" style="color: white">후기 목록</a></p>
                    </div>

                    <a class="no-collapsible mouseOnEffect" th:href="@{/admin/ask/list}">
                        <div id="middle-box-dashBoard-bar" class="side-bar">
                            <div class="icon-gap">
                                <img class="side-icons" alt="ask-board" src="/css/admin/images/ask-board-icon.png">
                            </div>
                            문의 게시판 관리
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="right-side" class="container">
        <div class="right-header">
            <div class="letter-space"></div>
            회원 관리
            <h1 id="clock" style="color:black;">clock</h1>
            <img class="admin-profile" src="https://whatsondisneyplus.com/wp-content/uploads/2021/09/bart-.png">
            <p class="admin-name">관리자</p>
            <p class="name-logout-space">ㅣ</p>
            <button class="admin-logout" type="submit" value="">LOGOUT</button>
        </div>
        <div class="right-body">
            <div class="user-list-letter">
                <p>회원 목록</p>
            </div>

            <div class="user-list-contents">
                <div class="member-input-wrap">
                    <div class="member-delete-button-wrap">
                        <input class="member-delete-button" type="button" value="회원 탈퇴">
                    </div>

                    <div class="member-search-wrap">
                        <div class="search-border">
                            <img id="search-icon" alt="search" src="/css/admin/images/search-icon.png">
                            <form class="member-search-form" name="search-form" >
                                <input class="member-search keyword" name="keyword" type="text" placeholder="이름 검색">
                                <button id="search-button" type="button">검색</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="total-mentor">
                    <p>회원 수</p>
                    <p class="total-mentor-num"></p>
                </div>

                <div class="checkbox-group">
                    <div class="item-list-header">
                        <div class="checkbox-zip">
                            <input type="checkbox" id="check-all" class="all" value="all">
                        </div>
                        <div class="user-num">
                            회원 번호
                        </div>
                        <div class="user-name">
                            이름
                        </div>
                        <div class="user-email">
                            이메일
                        </div>
                        <div class="user-nickname">
                            닉네임
                        </div>
                        <div class="user-region">
                            지역
                        </div>
                    </div>

                    <!--여기부터 내용-->
                    <!--div class="item-list-contents">
                        <div class="checkbox-zip">
                            <input type="checkbox" id="check1" class="normal" value="">
                        </div>
                        <div class="user-num"></div>
                        <div class="user-name"></div>
                        <div class="user-email"></div>
                        <div class="user-nickname"></div>
                        <div class="user-region"></div>
                    </div>-->
                </div>
                <div class="page-button-box"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script>

    const $changePageTags = $(".page-button");
    const $searchButton = $("#search-button");
    const $memberSearch = $(".member-search");
    let page = 1;
    let keyword = null;

    load(page, keyword);

    $(document).ready(function() {
        // 검색창에서 키보드를 눌렀을 때
        $('.member-search-form').on('keydown', function(e) {
            page = 1;
            if (e.keyCode == 13) { // Enter 키를 눌렀을 때
                e.preventDefault(); // 기본 이벤트 막기
            }
        });
    });

    function showList(memberDTOS) {
        const $results = $('.checkbox-group');
        var text = "";
        var content = "";
        memberDTOS.forEach(member => {
            content +=  `<div class="item-list-contents">
                        <div class="checkbox-zip">
                            <input type="checkbox" id="check1" class="normal" value="${member.memberId}">
                        </div>
                        <div class="user-num">${member.memberId}</div>
                        <div class="user-name">${member.memberName}</div>
                        <div class="user-email">${member.memberEmail}</div>
                        <div class="user-nickname">${member.memberNickname}</div>
                        <div class="user-region">${member.memberRegionKo}</div>
                    </div>`

        });
        $('.item-list-contents').remove();
        if ($("#check-all").prop("checked")) {
            $("#check-all").prop("checked", false);
        }
        $results.append(content);

    } // showlist 끝

    // 페이지를 텍스트로 가져오기 성공!
    function showPage(pageDTO) {
        const $btns = $('.page-button-box');
        const criteria = pageDTO.criteria;
        let text = "";
        $btns.empty(); // 이전에 생성한 페이지 버튼 제거
        if (pageDTO.prev) {
            text += `<a class="page-button" data-page="${pageDTO.startPage - 1}"><code><</code></a>`;
        }
        for (let i = pageDTO.startPage; i <= pageDTO.endPage; i++) {
            if (criteria.page === i) {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            } else {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            }
        }
        if (pageDTO.next) {
            text += `<a class="page-button" data-page="${pageDTO.endPage + 1}"><code>></code></a>`;
        }
        $btns.append(text);
        $("input[name='page']").val(criteria.page);

        // 클릭 시 css가 변하는 이벤트 추가, css가 제대로 작동하는지 확인 필요. 최종 전에 확인하기
        $('.page-button').on('click', function(e) {
            e.preventDefault();
            page = $(this).data('page');
            console.log(page);
            load(page);
            $('.page-button.active').removeClass('active');
            $(this).addClass('active');
        }).on('mouseenter', function() {
            $(this).css('cursor', 'pointer');
        }).on('mouseleave', function() {
            $(this).css('cursor', 'auto');
        });
    }

    $searchButton.on("click", function() {
        keyword = $memberSearch.val();
        load(page,keyword);
    });

    $memberSearch.on("keyup", function() {
        keyword = $memberSearch.val();
        load(page,keyword);
    });

    function load(page, keyword) {
        $.ajax({
            url: `/admin/member/page/keyword`,
            type: "get",
            data: {
                page: page,
                keyword: keyword
            },
            success: function (result) {
                // replyDTO
                $('.total-mentor-num').html(result.memberTotal);
                showList(result.memberDTOS);
                showPage(result.pageDTO);
            }
        });
    }

    /* delete 버튼 클릭 시 ajax실행*/

    $('.member-delete-button').on('click', function () {
        var checkedItems = [];

// 체크박스 요소들을 가져옵니다.
        var checkboxes = document.querySelectorAll('.item-list-contents input[type="checkbox"]');

// 체크박스들을 순회하며 체크된 항목들을 배열에 담습니다.
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                checkedItems.push(checkbox.value); // 체크된 항목의 부모 요소인 item-list-contents를 배열에 추가합니다.
            }
        });
        console.log(checkedItems);

        for(let i = 0; i<checkedItems.length; i++){
            console.log(checkedItems[i]);
            $.ajax({
                type : "DELETE",
                url : "/admin/member/delete",
                data : {
                    "checkedMemberId" : checkedItems[i]
                },
                success : function() {
                    load(page, keyword);
                }
            });
        }
    });

</script>
</html>