<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의게시판 관리</title>
    <link rel="stylesheet" href="/css/admin/manage-qna.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<div class="wrap">
    <div id="menu-side" class="container">
        <div id="top-box" class="menu-box">
            <img id="neighbor-logo" alt="neighbor" src="/css/admin/images/logo2.png">
        </div>
        <div id="middle-box" class="menu-box">
            <div id="wrap-middle-box">
                <div id="middle-box-contents">
                    <div class="side-top-margin"></div>
                    <span class="mouseOnEffect">
                                <div id="middle-box-site-shortcut-bar" class="side-bar">
                                    <div class="icon-gap">
                                        <img class="side-icons" alt="home" src="/css/admin/images/home.png">
                                    </div>
                                    사이트 바로가기
                                </div> 
                            </span>

                    <span class="mouseOnEffect">
                                <div id="middle-box-dashBoard-bar" class="side-bar">
                                    <div class="icon-gap">
                                        <img class="side-icons" alt="dash-board"
                                             src="/css/admin/images/dashBoard-icon.png">
                                    </div>
                                    대시보드
                                </div>
                            </span>

                    <button type="button" class="no-collapsible mouseOnEffect">
                        <div class="icon-gap">
                            <img class="side-icons" alt="user" src="/css/admin/images/user-icon.png">
                        </div>
                        회원관리
                    </button>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        <div class="icon-gap">
                            <img class="side-icons" alt="ask-answer"
                                 src="/css/admin/images/ask-answer-icon2.png">
                        </div>
                        게시판 관리
                        <img src="/css/admin/images/plus.png" class="collapse-button">
                    </button>

                    <div class="content">
                        <p>게시글 목록</p>
                        <p>후기 목록</p>
                    </div>

                    <button type="button" class="no-collapsible mouseOnEffect">
                        <div class="icon-gap">
                            <img class="side-icons" alt="ask-board"
                                 src="/css/admin/images/ask-board-icon.png">
                        </div>
                        문의 게시판 관리
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="right-side" class="container">
        <div class="right-header">
            <div class="letter-space">
                문의 게시판 관리
            </div>
            <h1 id="clock" style="color:black;">clock</h1>
            <img class="admin-profile" src="https://whatsondisneyplus.com/wp-content/uploads/2021/09/bart-.png">
            <p class="admin-name">관리자</p>
            <p class="name-logout-space">ㅣ</p>
            <button class="admin-logout" type="submit" value="">LOGOUT</button>
        </div>
        <div class="right-body">
            <div class="user-list-letter">
                <p>문의 목록</p>
            </div>

            <div class="user-list-contents">
                <div class="qna-input-wrap">
                    <!-- 버튼만 묶어놓기 -->
                    <div class="wrap-button">
                        <div class="watch-all-ask">
                            <input class="watch-all-ask-button" type="button" value="전체보기">
                        </div>
                        <div class="watch-waiting-ask">
                            <input class="watch-waiting-button" type="button" value="대기 문의 보기">
                        </div>
                        <div class="ask-delete-button-wrap">
                            <input class="ask-delete-button" type="button" value="게시글 삭제">
                        </div>
                    </div>

                    <div class="ask-admin-search-wrap">
                        <div class="search-border">
                            <img id="search-icon" alt="search" src="/css/admin/images/search-icon.png">
                            <form class="ask-admin-search-form" name="search-form" >
                                <input class="ask-admin-search keyword" name="keyword" type="text" placeholder="제목 검색">
                                <button id="search-button" type="button">검색</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="total-mentor">
                    <p>전체 문의</p>
                    <p class="total-mentor-num"></p>
                </div>

                <div class="checkbox-group">
                    <div class="item-list-header">
                        <div class="checkbox-zip">
                            <input type="checkbox" id="check-all" class="all" value="all">
                        </div>
                        <div class="qna-num">
                            문의 번호
                        </div>
                        <div class="qna-title">
                            제목
                        </div>
                        <div class="user-nick-name">
                            작성자
                        </div>
                        <div class="qna-ask-day">
                            작성일시
                        </div>
                        <div class="qna-answer-day">
                            답변일시
                        </div>
                        <div class="qna-status">
                            진행 상태
                        </div>
                        <div class="detail">
                            답변하기
                        </div>
                    </div>
                     <!--<div class="item-list-contents">
                         <div class="checkbox-zip">
                             <input type="checkbox" id="check1" class="normal" value="">
                         </div>
                         <div class="qna-num"></div>
                         <div class="qna-title"></div>
                         <div class="user-nick-name"></div>
                         <div class="qna-ask-day"></div>
                         <div class="qna-answer-day"></div>
                         <div class="qna-status qna-status-false"></div>
                         <div class="detail">
                             <button class="detail-button modal7" type="submit">
                                 <img class="detail-icon" src="/css/admin/images/edit-icon.png">
                             </button>
                         </div>
                         <div id="my_modal7" class="my_modal">
                             <a class="modal_close_btn">✖</a>
                             <div class="comment-writer">작성자: 벅벅코딩</div>
                             <div class="comment-title">제목: 메일이 안와요</div>
                             <div class="comment-detail">
                                 메일이 안와요메일이 안와요메일이 안와요메일이 안와요메일이 안와요
                                 메일이 안와요메일이 안와요메일이 안와요메일이 안와요메일이 안와요
                                 메일이 안와요메일이 안와요메일이 안와요메일이 안와요메일이 안와요
                                 메일이 안와요메일이 안와요메일이 안와요메일이 안와요메일이 안와요
                                 메일이 안와요메일이 안와요메일이 안와요메일이 안와요메일이 안와요
                                 메일이 안와요메일이 안와요메일이 안와요메일이 안와요메일이 안와요
                                 메일이 안와요메일이 안와요메일이 안와요메일이 안와요메일이 안와요
                                 메일이 안와요메일이 안와요메일이 안와요메일이 안와요메일이 안와요
                             </div>
                             <div class="qna-manage">
                                 <p><textarea class="write-section" cols="82" rows="10"></textarea></p>
                                 <input class="qna-submit-btn" type="submit" value="전송하기">
                             </div>
                         </div>
                    </div>-->
                </div>
                <div class="page-button-box"></div>
            </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/admin.js"></script>
<script>
    $(document).ready(function() {
        // 검색창에서 키보드를 눌렀을 때
        $('.board-search-form').on('keydown', function(e) {
            if (e.keyCode == 13) { // Enter 키를 눌렀을 때
                e.preventDefault(); // 기본 이벤트 막기
            }
        });
    });

    const $changePageTags = $(".page-button");
    const $searchButton = $("#search-button");
    const $askAdminSearch = $(".ask-admin-search");
    let page = 1;
    let keyword = null;

    load(page, keyword);

    function showList(askAdminDTOS) {
        const $results = $('.checkbox-group');
        var text = "";
        var content = "";
        askAdminDTOS.forEach(ask => {
            if (ask.askAdminAnswerRegisterDate == null) {
                ask.askAdminAnswerRegisterDate="";
            }
            if (ask.askAdminAnswerId == null) {
                ask.askAdminAnswerId=1;
            }
                content += `
                        <div class="item-list-contents">
                         <div class="checkbox-zip">
                             <input type="checkbox" id="check1" class="normal" value="${ask.askAdminId}">
                             <input type="hidden" id="check2" class="normal" value="${ask.memberId}">
                         </div>
                         <div class="qna-num">${ask.askAdminId}</div>
                         <div class="ask-admin-contents">
                                <span id="${ask.askAdminId}" onclick="openModal(${ask.askAdminId})">${ask.askAdminTitle}</span>
                                <div id="my_modal${ask.askAdminId}" class="my_modal">
                                    <a class="modal_close_btn">✖</a>
                                    <div class="comment-writer">작성자: <span>${ask.memberNickname}</span></div>
                                    <div class="comment-title">제목: <span>${ask.askAdminTitle}</span></div>
                                    <div class="comment-detail">${ask.askAdminContent}</div>
                                </div>
                            </div>
                         <div class="user-nick-name">${ask.memberNickname}</div>
                         <div class="qna-ask-day">${ask.askAdminRegisterDate}</div>
                         <div class="qna-answer-day">${ask.askAdminAnswerRegisterDate}</div>
                         <div class="qna-status qna-status-false">${ask.askStatus}</div>
                         <div class="detail">
                             <button class="detail-button modal${ask.askAdminId}1" onclick="openModal(${parseInt(ask.askAdminId + "1")})" type="submit">
                                 <img class="detail-icon" src="/css/admin/images/edit-icon.png">
                             </button>
                         </div>
                         <div id="my_modal${ask.askAdminId}1" class="my_modal">
                             <a class="modal_close_btn">✖</a>
                             <div class="comment-writer">작성자: <span>${ask.memberNickname}</span></div>
                              <div class="comment-title">제목: <span>${ask.askAdminTitle}</span></div>
                             <div class="comment-detail">${ask.askAdminContent}</div>
                             <form class="qna-manage">
                                 <p><textarea class="write-section" cols="82" rows="10"></textarea></p>
                                 <input class="qna-submit-btn" type="button" value="전송하기" data-askId="${ask.askAdminId}">
                             </form>
                         </div>
                    </div>`
        });
        $('.item-list-contents').remove();
        if ($("#check-all").prop("checked")) {
            $("#check-all").prop("checked", false);
        }
        $results.append(content);

    } // showlist 끝

    // 페이지를 텍스트로 가져오기 성공!
    function showPage(pageDTO) {
        const $btns = $('.page-button-box');
        const criteria = pageDTO.criteria;
        let text = "";
        $btns.empty(); // 이전에 생성한 페이지 버튼 제거
        if (pageDTO.prev) {
            text += `<a class="page-button" data-page="${pageDTO.startPage - 1}"><code><</code></a>`;
        }
        for (let i = pageDTO.startPage; i <= pageDTO.endPage; i++) {
            if (criteria.page === i) {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            } else {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            }
        }
        if (pageDTO.next) {
            text += `<a class="page-button" data-page="${pageDTO.endPage + 1}"><code>></code></a>`;
        }
        $btns.append(text);
        $("input[name='page']").val(criteria.page);

        /*페이지 이동을 위함*/
        $('.page-button').on('click', function(e) {
            e.preventDefault();
            const page = $(this).data('page');
            console.log(page);
            load(page);
            $('.page-button.active').removeClass('active');
            $(this).addClass('active');
        }).on('mouseenter', function() {
            $(this).css('cursor', 'pointer');
        }).on('mouseleave', function() {
            $(this).css('cursor', 'auto');
        });
    }


    $searchButton.on("click", function() {
        keyword = $askAdminSearch.val();
        load(page,keyword);
    });

    $askAdminSearch.on("keyup", function() {
        keyword = $askAdminSearch.val();
        load(page,keyword);
    });

    // 처음 페이지 목록을 불러옴.
    function load(page, keyword) {
        $.ajax({
            url: `/admin/ask/page/keyword`,
            type: "get",
            data: {
                page: page,
                keyword: keyword
            },
            success: function (result) {
                // replyDTO
                $('.total-mentor-num').html(result.askTotal);
                showList(result.askAdminDTOS);
                showPage(result.pageDTO);
            }
        });
    }

    /* delete 버튼 클릭 시 ajax실행*/

    $('.ask-delete-button').on('click', function () {
        var checkedItems = [];

// 체크박스 요소들을 가져온다.
        var checkboxes = document.querySelectorAll('.item-list-contents input[type="checkbox"]');

// 체크박스들을 순회하며 체크된 항목들을 배열에 담는다.
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                checkedItems.push(checkbox.value); // 체크된 항목의 부모 요소인 item-list-contents를 배열에 추가합니다.
            }
        });
        console.log(checkedItems);

        for(let i = 0; i<checkedItems.length; i++){
            console.log(checkedItems[i]);
            $.ajax({
                type : "DELETE",
                url : "/admin/ask/delete",
                data : {
                    "checkedId" : checkedItems[i]
                },
                success : function() {
                    load(page, keyword);
                }
            });
        }
    });


    function showListWait(askAdminDTOS) {
        const $results = $('.checkbox-group');
        var text = "";
        var content = "";
        askAdminDTOS.forEach(ask => {
            if (ask.askAdminAnswerRegisterDate == null) {
                ask.askAdminAnswerRegisterDate="";
            }

            content += `

                        <div class="item-list-contents">
                         <div class="checkbox-zip">
                             <input type="checkbox" id="check1" class="normal" value="${ask.askAdminId}">
                             <input type="hidden" id="check2" class="normal" value="${ask.memberId}">
                         </div>
                         <div class="qna-num">${ask.askAdminId}</div>
                         <div class="ask-admin-contents">
                                <span id="${ask.askAdminId}" onclick="openModal(${ask.askAdminId})">${ask.askAdminTitle}</span>
                                <div id="my_modal${ask.askAdminId}" class="my_modal">
                                    <a class="modal_close_btn">✖</a>
                                    <div class="comment-writer">작성자: <span>${ask.memberNickname}</span></div>
                                    <div class="comment-title">제목: <span>${ask.askAdminTitle}</span></div>
                                    <div class="comment-detail">${ask.askAdminContent}</div>
                                </div>
                            </div>
                         <div class="user-nick-name">${ask.memberNickname}</div>
                         <div class="qna-ask-day">${ask.askAdminRegisterDate}</div>
                         <div class="qna-answer-day">${ask.askAdminAnswerRegisterDate}</div>
                         <div class="qna-status qna-status-false">${ask.askStatus}</div>
                         <div class="detail">
                             <button class="detail-button modal${ask.askAdminId}1" onclick="openModal(${parseInt(ask.askAdminId + "1")})" type="submit">
                                 <img class="detail-icon" src="/css/admin/images/edit-icon.png">
                             </button>
                         </div>
                         <div id="my_modal${ask.askAdminId}1" class="my_modal">
                             <a class="modal_close_btn">✖</a>
                             <div class="comment-writer">작성자: <span>${ask.memberNickname}</span></div>
                              <div class="comment-title">제목: <span>${ask.askAdminTitle}</span></div>
                             <div class="comment-detail">${ask.askAdminContent}</div>
                             <form class="qna-manage">
                                 <p><textarea class="write-section" cols="82" rows="10"></textarea></p>
                                 <input class="qna-submit-btn" type="button" value="전송하기" data-askid="${ask.askAdminId}">
                             </form>
                         </div>
                    </div>`
        });
        $('.item-list-contents').remove();
        if ($("#check-all").prop("checked")) {
            $("#check-all").prop("checked", false);
        }
        $results.append(content);

    }


    function showPageWait(pageDTO) {
        const $btns = $('.page-button-box');
        const criteria = pageDTO.criteria;
        let text = "";
        $btns.empty(); // 이전에 생성한 페이지 버튼 제거
        if (pageDTO.prev) {
            text += `<a class="page-button" data-page="${pageDTO.startPage - 1}"><code><</code></a>`;
        }
        for (let i = pageDTO.startPage; i <= pageDTO.endPage; i++) {
            if (criteria.page === i) {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            } else {
                text += `<a class="page-button" data-page="${i}">${i}</a>`;
            }
        }
        if (pageDTO.next) {
            text += `<a class="page-button" data-page="${pageDTO.endPage + 1}"><code>></code></a>`;
        }
        $btns.append(text);
        $("input[name='page']").val(criteria.page);
        /*페이지 이동을 위함*/
// 페이지 이동 버튼 클릭 이벤트 핸들러 추가
        $('.page-button').on('click', function(e) {
            e.preventDefault();
            const page = $(this).data('page');
            console.log(page);
            load2(page, keyword);
            $('.page-button.active').removeClass('active');
            $(this).addClass('active');
        });
    }

    function load2(page, keyword) {
        $('.total-mentor-num').empty();
        $('.list-container').empty();
        $('.page-button-box').empty();
        $.ajax({
            url: `/admin/ask/page/keyword/status`,
            type: "get",
            data: {
                page: page,
                keyword: keyword
            },
            success: function (resultWait) {
                $('.total-mentor-num').html(resultWait.askTotal);
                showListWait(resultWait.askAdminDTOS);
                showPageWait(resultWait.pageDTO);
            }
        });
    }
    /*판매 대기중인 목록을 불러오는 ajax*/
    $('.watch-waiting-ask').on('click',function() {
        load2(page,keyword);
    });

    $('.watch-all-ask').on('click',function() {
        load(page,keyword);
    });

    /*회원에게 관리자가 답변할 때*/
    let bg;
    function modal(id) {
        var zIndex = 9998;
        var modal = $('#my_modal' + id);

        // 모달 div 뒤에 희끄무레한 레이어
        bg = $('<div>')
            .css({
                position: 'fixed',
                zIndex: zIndex,
                left: '0px',
                top: '0px',
                width: '100%',
                height: '100%',
                overflow: 'auto',
                // 레이어 색갈은 여기서 바꾸면 됨
                backgroundColor: 'rgba(0,0,0,0.4)'
            })
            .appendTo('body');

        modal
            .show()
            // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
            .find('.modal_close_btn')
            .on('click', function() {
                bg.remove();
                modal.hide();
            })
            .end()
            .css({
                position: 'absolute',
                boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

                // 시꺼먼 레이어 보다 한칸 위에 보이기
                zIndex: zIndex + 1,

                // div center 정렬
                top: '50%',
                left: '50%',
                transform: 'translate(-50%, -50%)',
                msTransform: 'translate(-50%, -50%)',
                webkitTransform: 'translate(-50%, -50%)'
            });
        return bg;
    }

    // 전송하기 버튼을 클릭했을 때 실행할 코드 작성
    $(document).on('click', '.qna-submit-btn', function() {
        // console.log("전송하기 버튼을 클릭했습니다."); 들어옴
        let askAdminAnswerDTO = {
            askAdminAnswerContent: $('.write-section').val(),
            askAdminId: this.dataset.askid,
            memberId: $("input[id='check2']").val()
        }
        console.log("13245687");
        console.log(this);
        console.log(this.dataset.askid);

        $.ajax({
            url: `/admin/ask/answer`,
            type: "POST",
            contentType: 'application/json; charset=UTF-8 ',
            data: JSON.stringify(askAdminAnswerDTO),
            success: function() {
                bg.remove();
                $('.item-list-contents').remove();
                load(page, keyword);
            }
        });
    });



</script>
</html>