<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 &gt; 1:1 문의 | 이웃집 반찬</title>
    <link rel="stylesheet" href="/css/mypage/inquiry_to_admin.css">
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
<div th:insert="~{/main/header:: header}"></div>
<!-- 서브네비게이션  -->
<nav class="subnav">
    <div class="subnav_wrapper">
        <ul class="subnav_list">
            <li class="list_profile">
                <a th:href="@{/mypage/profile_home}" class="first_letter">프로필</a>
                <div class="list_profile_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter">쪽지함</a>
                    <a href="" class="second_letter except_home_letter">내가 올린 반찬</a>
                    <a href="" class="second_letter except_home_letter">후기</a>
                </div>
            </li>

            <li class="list_my_shopping">
                <a href="" class="first_letter select">문의</a>
                <div class="list_my_shopping_items disply_bundle">
                    <a href="/ask-admin/faq" class="second_letter except_home_letter">FAQ</a>
                    <a  class="second_letter except_home_letter select">1:1 문의</a>
                </div>
            </li>

            <li class="list_setting">
                <a th:href="@{/mypage/password_update}" class="first_letter">설정</a>
                <div class="list_my_setting_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">비밀번호 변경</a>
                    <a href="" class="second_letter except_home_letter">회원탈퇴</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 콘텐츠부분 시작 -->

<!-- 메뉴 -->
<section class="wrap">
    <article class="divide_btns">
        <ul class="btn_list">
            <li class="activate">
                <a class="btn_setting select_btn">1:1문의</a>
            </li>
        </ul>
    </article>

    <article class="faq_content">
        <form class="faq_search">
            <div class="search_wrap">
                <div class="search_container">
                    <div class="selectOne" data-role="selectBox" style="display: none">
                        <span date-value="optValue" class="selected-option"><!-- 선택된 옵션 값이 출력되는 부분 --></span>
                        <!-- 옵션 영역 -->
                        <ul class="hide">
                            <li>
                                문의유형을 선택해주세요
                            </li>
                            <li>
                                회원정보관련
                            </li>
                            <li>
                                거래관련
                            </li>
                            <li>
                                상품관련
                            </li>
                            <li>
                                기타
                            </li>
                        </ul>
                    </div>
                    <input type="text" name="keyword" id="search_text" class="search_input" value="" placeholder="제목으로 검색">
                    <button type="submit" class="search_btn" th:href="@{inquiry-list/{askAdminId}(askAdminId=${askAdmin.askAdminId})}" th:each="askAdmin:${askAdmin}">검색</button>
                    <a th:href="@{write}" class="goingToAsk" >1:1문의 쓰기</a>
                </div>
            </div>
        </form>

        <div class="inquiry_table">
            <ul class="inquiry_info">
                <li class="inquiry_num">번호</li>
                <li class="inquiry_title">제목</li>
                <li class="inquiry_status">상태</li>
                <li class="inquiry_date">등록일</li>
            </ul>

            <ul class="my_inquiry" th:each="askAdmin:${askAdmin}">
                <li class="inquiry_num" th:text="${askAdmin.askAdminId}"></li>
                <li class="inquiry_my_title">
                    <strong> <span class="cat">[1:1문의]</span></strong>
                    <a class="detail_link" th:href="@{detail/{askAdminId}(askAdminId=${askAdmin.askAdminId})}" th:text="${askAdmin.askAdminTitle}">
                        로그인이 안돼요!
                    </a>
                </li>
                <li class="inquiry_status"><span class="inquiry_status_color"><span th:if="${askAdmin.askAdminStatus} == true">답변완료</span><span th:unless="${askAdmin.askAdminStatus} == true" style="color: #545353">답변대기</span></span></li>
                <li class="inquiry_date" th:text="${askAdmin.askAdminRegisterDate}"></li>
            </ul>
        </div>

        <div class="page-button-box">
            <div th:object="${pagination}">
                <div style="text-align: center; font-size: 16px; margin-top: 15px; font-weight: bold;">
                    <a class="page-button" th:href="*{startPage - 1}" th:if="*{prev}"<code><</code></a>
                    <th:block th:each="page:${#numbers.sequence(pagination.startPage, pagination.endPage)}">
                        <a class="page-button" th:href="${page}" th:if="${pagination.criteria.page != page}"><code th:text="${page}"></code></a>
                        <code th:unless="${pagination.criteria.page != page}" th:text="${page}" style="color: green"></code>
                    </th:block>
                    <a class="page-button" style="margin-left: 12px;" th:href="*{endPage + 1}" th:if="*{next}"<code> > </code></a>
                </div>
                <form th:action="@{/ask-asAdmin/inquiry-list}"  th:object="${criteria}" name="pageForm">
                    <input type="hidden" th:field="*{page}">
                    <input type="hidden" th:value="${keyword}" id="keyword">
                </form>
            </div>
        </div>

    </article>
</section>
<div th:insert="~{/main/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/mypage/inquiry_to_admin.js"></script>
<script>
    let keyword = $("input[name=keyword]");
    console.log(keyword);

    let $pages = $("a.page-button");

    $pages.on("click", function(e){
        e.preventDefault();
        let page = $(this).attr("href");
        let amount = 10;
        let keyword = $("input[name=keyword]");
        let url ="";

        if($("#keyword").val() != ""){
             url = "/ask-admin/inquiry-list?page=" +page+"&amount="+amount + "&keyword=" + $("#keyword").val();
        }else{
            url = "/ask-admin/inquiry-list?page=" +page+"&amount="+amount;
        }

        location.href = url;
    });




//    -------------------------------------------------
    /* 후기글 관리 검색시 ajax용*/
    // function showList(){
    //     let page = 1;
    //     $.ajax({
    //         type: "post",
    //         url: "/admins/reply/list",
    //         data: {
    //             page : page
    //         },
    //         //replys는 replyDTO
    //         success: function(replys) {
    //             if (replys.length >= 1) {
    //                 replys.forEach(function (reply) {
    //                     $('.total-mentor-num').html(reply.replyTotal);
    //                     let replyId = reply.replyId;
    //                     let str = '<div class="checkbox-zip">\n' +
    //                         '<input type="checkbox" id="check1" class="normal" value="">\n' +
    //                         '</div>';
    //                     str += '<div class="board-num">' + reply.boardId + '</div>';
    //                     str += '<div class="region">' + reply.replyRegionKo + '</div>';
    //                     str += '<div class="writer-nick">' + reply.memberNickname + '</div>';
    //                     str += '<div class="reply-content">';
    //                     str += '<span>' + reply.replyContent + '</span>';
    //                     str += '<div id="my_modal' + replyId + '" class="my_modal">';
    //                     str += '<a class="modal_close_btn">' + '✖' + '</a>';
    //                     str += '<div class="comment-writer">' + '작성자: ' + '<span>' + reply.memberNickname + '</span>' + '</div>';
    //                     str += '<div class="comment-detail">' + reply.replyContent + '</div>';
    //                     str += '</div>';
    //                     str += '</div>';
    //                     str += '<div class="reply-day">' + reply.replyRegisterDate + '</div>';
    //                     $('.item-list-contents').append(str);
    //                 });
    //             }
    //             let page =
    //             if(result.pageDTO.globalThis.page > 1){
    //                 text += `<a class="changePage" href="` + (result.globalThis.page - 1) + `"><code><</code></a>`
    //             }
    //             text += `<code>` + globalThis.page + `</code>`
    //             if(globalThis.page < realEnd){
    //                 text += `<a class="changePage" href="` + (globalThis.page + 1) + `"><code>></code></a>`
    //             }
    //         }else{
    //             if(prev){
    //                 text += `<a class="changePage" href="` + (startNumber - 1) + `"><code>PREV</code></a>`
    //             }
    //             for (let i=startNumber; i<=endNumber; i++){
    //             if(globalThis.page == i){
    //                 text += `<code>` + i + `</code>`
    //                 continue;
    //             }
    //         text += `<a class="changePage" href="` + i + `"><code>` + i + `</code></a>`
    //     }
    //     if(next){
    //         text += `<a class="changePage" href="` + (endNumber + 1) + `"><code>NEXT</code></a>`
    //     }
    // }
    // }
    // });
    // });


/*----------------------------------------------------------------------------------------*/









</script>
</html>