<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 &gt; 1:1 문의 | 이웃집 반찬</title>
    <link rel="stylesheet" href="/css/mypage/inquiry_to_admin_detail.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
<div th:insert="~{/main/header:: header}"></div>
<!-- 서브네비게이션  -->
<nav class="subnav">
    <div class="subnav_wrapper">
        <ul class="subnav_list">
            <li class="list_profile">
                <a href="" class="first_letter">프로필</a>
                <div class="list_profile_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter">쪽지함</a>
                    <a href="" class="second_letter except_home_letter">내가 올린 반찬</a>
                    <a href="" class="second_letter except_home_letter">후기</a>
                </div>
            </li>

            <li class="list_my_shopping">
                <a href="" class="first_letter select">문의</a>
                <div class="list_my_shopping_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">FAQ</a>
                    <a href="" class="second_letter except_home_letter select">1:1 문의</a>
                </div>
            </li>

            <li class="list_setting">
                <a href="" class="first_letter">설정</a>
                <div class="list_my_setting_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">비밀번호 변경</a>
                    <a href="" class="second_letter except_home_letter">회원탈퇴</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 콘텐츠부분 시작 -->

<!-- 메뉴 -->
<section class="wrap">
    <article class="detail_content">
        <div class="inquiry_detail_title">
            <strong th:text="${askAdmin.askAdminTitle}"> </strong><!-- (추가) -->
            <p class="inquiry_date" th:text="${askAdmin.askAdminRegisterDate}"></p><!-- (추가) -->
        </div>

        <div class="inquiry_detail_content" th:text="${askAdmin.askAdminContent}">
            <br><br>
        </div>

        <div class="inquiry_detail_reply" th:if="${askAdmin.askAdminStatus} == true">
            <div class="writer">
                <span class="icon1">└</span> <strong>관리자</strong>
                <span></span>

            </div>
            <div class="subject">
                안녕하세요, 이웃집 반찬입니다.
            </div>
            <div class="contents" th:text="${askAdminAnswer.askAdminAnswerContent}">
                <p>안녕하세요,  이웃집 반찬 입니다.&nbsp;</p>
                <p><br></p>
                <p><span><p>문의하여 주신 내용을 답변준비중입니다</p>문의하고자 하시는 내용이 추가로 있다면 1:1 문의로 문의 부탁드립니다 답변 드리겠습니다.&nbsp;</span></p>
                <p><span><br></span></p>
                <p>&nbsp;</p>
            </div>
            <p><br></p>
            <p><span>감사합니다.&nbsp;&nbsp</span></p>
        </div>

        <div class="inquiry_detail_btn" >
                <a type="button" name="askAdminId" class="detail_delete_btn" id="delete-button" th:href="@{/ask-admins/detail-delete/{askAdminId}(askAdminId=${askAdmin.askAdminId})}">삭제</a>
            <a href="" class="go_to_inquiry_list">목록</a>
        </div>
    </article>
</section>
<button id="topBtn">Top</button>
<div th:insert="~{/main/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/mypage/inquiry_to_admin_detail.js"></script>
<script th:inline="javascript">
    // askAdmin = [[${askAdmin}]];
    // console.log(askAdmin);
    // console.log(askAdmin.askAdminId);
    // const value2 = "/askAdmins/detailDelete/" + askAdmin.askAdminId;
    // $("#delete-button").attr('href', value2);
</script>
</html>