<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 &gt; 1:1 문의 | 이웃집 반찬</title>
    <link rel="stylesheet" href="/css/mypage/inquiry_to_admin_write.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
<div th:insert="~{/main/header:: header}"></div>
<!-- 서브네비게이션  -->
<nav class="subnav">
    <div class="subnav_wrapper">
        <ul class="subnav_list">
            <li class="list_profile">
                <a href="" class="first_letter">프로필</a>
                <div class="list_profile_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter">쪽지함</a>
                    <a href="" class="second_letter except_home_letter">내가 올린 반찬</a>
                    <a href="" class="second_letter except_home_letter">후기</a>
                </div>
            </li>

            <li class="list_my_shopping">
                <a href="" class="first_letter select">문의</a>
                <div class="list_my_shopping_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">FAQ</a>
                    <a href="" class="second_letter except_home_letter select">1:1 문의</a>
                </div>
            </li>

            <li class="list_setting">
                <a href="" class="first_letter">설정</a>
                <div class="list_my_setting_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">비밀번호 변경</a>
                    <a href="" class="second_letter except_home_letter">회원탈퇴</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 콘텐츠부분 시작 -->

<!-- 메뉴 -->
<section class="wrap">

    <article class="faq_content">
        <form class="faq_search" name="inquiryForm">
            <div class="search_wrap">
                <div class="search_container">
                    <dt class="inquiry_category_info">문의유형</dt>
                    <div class="selectOne" data-role="selectBox">
                        <span date-value="optValue" id="option" name="selectOne" class="selected-option"><!-- 선택된 옵션 값이 출력되는 부분 --></span>
                        <!-- 옵션 영역 -->
                        <ul class="hide">
                            <li class="first">문의유형을 선택해주세요</li>
                            <li>회원정보관련</li>
                            <li>거래관련</li>
                            <li>상품관련</li>
                            <li>기타</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="inquiry_title_wrap">
                <dt class="inquiry_title">제목</dt>
                <input type="text" name="title" id="subject" value="" class="write_title" title="제목을 입력해 주세요"
                       placeholder="제목을 입력해 주세요">
            </div>

            <div class="inquiry_content_wrap">
                <dt class="inquiry_content">문의내용</dt>
                <textarea name="content" id="content" class="write_content" title="문의내용을 입력하세요"
                          placeholder="문의내용을 입력하세요"></textarea>
            </div>

            <div class="inquiry_write_btn">
                <button type="button" class="write_cancel">취소</button>
                <button type="button" class="send_inquiry" onclick="writeScript()">문의하기</button>
            </div>
        </form>

    </article>
</section>
<div class="modal">
    <div class="warn-modal">
        <div id="content-wrap"></div>
    </div>
</div>
<div th:insert="~{/main/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/mypage/inquiry_to_admin_write.js"></script>
</html>