<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 &gt; 쪽지함 | 이웃집 반찬</title>
    <link rel="stylesheet" href="../../static/css/mypage/message_box_old.css">
    <link rel="shortcut icon" type="image/x-icon" href="imageseighbor_logo.ico" />
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- 서브네비게이션  -->
<nav class="subnav">
    <div class="subnav_wrapper">
        <ul class="subnav_list">
            <li class="list_profile">
                <a href="" class="first_letter select">프로필</a>
                <div class="list_profile_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter select">쪽지함</a>
                    <a href="" class="second_letter except_home_letter">내가 올린 반찬</a>
                    <a href="" class="second_letter except_home_letter">후기</a>
                </div>
            </li>

            <li class="list_my_shopping">
                <a href="" class="first_letter">문의</a>
                <div class="list_my_shopping_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">FAQ</a>
                    <a href="" class="second_letter except_home_letter">1:1 문의</a>
                </div>
            </li>

            <li class="list_setting">
                <a href="" class="first_letter">설정</a>
                <div class="list_my_setting_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">비밀번호 변경</a>
                    <a href="" class="second_letter except_home_letter">회원탈퇴</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 콘텐츠부분 시작 -->

<!-- 메뉴 -->
<section class="wrap">

    <article class="faq_content">

        <form class="faq_search">
            <div class="search_wrap">
                <h3 class="message_box_title">쪽지함</h3>
                <div class="search_container">
                    <input type="text" name="search_text" id="search_text" class="search_input" value="" placeholder="제목으로 검색">
                    <button type="submit" class="search_btn">검색</button>
                </div>
            </div>
        </form>

        <div class="inquiry_table">
            <ul class="inquiry_info">
                <li class="inquiry_title">제목</li>
                <li class="inquiry_nickname">닉네임</li>
                <li class="inquiry_status_letter">상태</li>
                <li class="inquiry_date">등록일</li>
            </ul>

            <ul class="my_inquiry">
                <li class="inquiry_my_title">
                    <a class="detail_link" href="">
                        맛있는 불고기 반찬

                    </a>
                </li>
                <li class="inquiry_nickname">고기반찬</li>
                <li class="inquiry_status"><button type="button" class="purchase_complete_btn">구매완료</button></li>
                <li class="inquiry_date">2023.03.15</li>
            </ul>

            <ul class="my_inquiry">
                <li class="inquiry_my_title">
                    <a class="detail_link" href="">
                        맛있는 불고기 반찬

                    </a>
                </li>
                <li class="inquiry_nickname"> 고기반찬</li>
                <li class="inquiry_status"><button type="button" class="purchase_complete_btn">구매완료</button></li>
                <li class="inquiry_date">2023.03.15</li>
            </ul>

            <ul class="my_inquiry">
                <li class="inquiry_my_title">
                    <a class="detail_link" href="">
                        맛있는 불고기 반찬

                    </a>
                </li>
                <li class="inquiry_nickname"> 고기반찬</li>
                <li class="inquiry_status"><button type="button" class="purchase_complete_btn">구매완료</button></li>
                <li class="inquiry_date">2023.03.15</li>
            </ul>

            <ul class="my_inquiry">
                <li class="inquiry_my_title">
                    <a class="detail_link" href="">
                        맛있는 불고기 반찬

                    </a>
                </li>
                <li class="inquiry_nickname"> 고기반찬</li>
                <li class="inquiry_status"><button type="button" class="purchase_complete_btn">구매완료</button></li>
                <li class="inquiry_date">2023.03.15</li>
            </ul>

            <ul class="my_inquiry">
                <li class="inquiry_my_title">
                    <a class="detail_link" href="">
                        맛있는 불고기 반찬

                    </a>
                </li>
                <li class="inquiry_nickname"> 고기반찬</li>
                <li class="inquiry_status">거래완료</li>
                <li class="inquiry_date">2023.03.15</li>
            </ul>
        </div>

        <div id="pagingDisplay" class="paging_navigation">
            <a href="" rel="prev" class="arrow prev"><img class="arrow_left" src="imagesaging_left_arrow.png"></a>
            <a href="" class="paging_num">1</a>
            <a href="" class="paging_next_num">2</a>
            <a href="" class="arrow next"><img class="arrow_right" src="imagesaging_right_arrow.png"></a>
        </div>
    </article>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="../../static/js/mypage/message_box_old.js"></script>
</html>