<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 &gt; 쪽지함 | 이웃집 반찬</title>
    <link rel="stylesheet" href="/css/mypage/message_box.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
<div th:insert="~{/main/header:: header}"></div>
<!-- 서브네비게이션  -->
<nav class="subnav">
    <div class="subnav_wrapper">
        <ul class="subnav_list">
            <li class="list_profile">
                <a href="" class="first_letter select">프로필</a>
                <div class="list_profile_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter select">쪽지함</a>
                    <a href="" class="second_letter except_home_letter">내가 올린 반찬</a>
                    <a href="" class="second_letter except_home_letter">후기</a>
                </div>
            </li>

            <li class="list_my_shopping">
                <a href="" class="first_letter">문의</a>
                <div class="list_my_shopping_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">FAQ</a>
                    <a href="" class="second_letter except_home_letter">1:1 문의</a>
                </div>
            </li>

            <li class="list_setting">
                <a href="" class="first_letter">설정</a>
                <div class="list_my_setting_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">비밀번호 변경</a>
                    <a href="" class="second_letter except_home_letter">회원탈퇴</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 콘텐츠부분 시작 -->

<!-- 메뉴 -->
<section class="wrap">
    <article class="message_box_content">
        <p class="message_box_title">쪽지함</p>
        <ul id="message_box_list" th:each="target: ${targetInfo}">
            <!-- 쪽지 목록 1개 -->
            <li class="message_list" th:object="${target}">
                <button class="detail_btn" th:data-target-id="${target.targetId}" th:data-board-id="${target.boardId}" th:onclick="getMessageRoom(this.getAttribute('data-target-id'), this.getAttribute('data-board-id'))">
                </button>
                <div class="message_box_wrapper">
                    <div class="profile_wrap">
                        <div class="message_box_profile">
                            <a href="">
                                <img class="message_box_profile_image" src="/css/mypage/images/profile_sample1.png">
                            </a>
                        </div>
                    </div>
                    <div class="message_box_detail">
                        <div class="detail_message">
                            <a href="" class="nick_name" th:text="*{targetNickname}"></a>
                        </div>
                        <div class="message_box_info">
                            <p class="board_title" th:text="*{boardTitle}"></p>
                            <p class="message_box_time" th:text="*{latestRegisterDate}"></p>
                        </div>
                    </div>
                </div>
                <form class="purchase_complete_form">
                    <div class="purchase_complete_wrap">
                        <p id="purchase_complete_message1" class="complete_message">거래완료</p>
                        <button type="button" id="purchase_done1" class="purchase_complete_btn"
                                onclick="changeToText(1)">구매완료
                        </button>
                    </div>
                </form>
                <!--  쪽지 모달 위치  -->
                <!--modal-->
                <div  th:id="'my_modal' + *{targetId}" class="my_modal2 this_modal"> <!-- my_modal옆에 쪽지번호로 가져오기 -->
                    <a class="modal_close_btn">✖</a>
                    <div class="box_top">
                    </div>
                    <div class="box_text">
                    </div>
                    <!--    <form th:action="@{/messages/insert}" th:object="${boardVO}" class="send_form" name="form" method="post" >-->
                    <form class="send_form" name="form" method="post" >
                        <div class="text-container">
                        <textarea class="write-section"  th:id="'write-section'+ *{targetId}" name="messageContent" cols="20" rows="5"
                                  th:onKeydown="getLength(/*[[*{targetId}]]*/)"  th:onKeyUp="getLength(/*[[*{targetId}]]*/)" maxlength="1001"></textarea>
                            <div class="text_send_wrap">
                                <input  th:id="'text_length'+ *{targetId}" class="count_letter" type="text" size="3" name="txtlen" value="0"
                                       readonly>
                                <input disabled class="count_letter_max" type="text" size="10" value="/1000" readonly>
                                <button type="submit" id="send_btn_id" class="send_btn">전송</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--  // 쪽지 모달 위치  -->
            </li>
            <!-- // 쪽지 목록 1개 -->
        </ul>
    </article>
</section>

<div class="modal">
    <div class="warn-modal">
        <div id="content-wrap"></div>
    </div>
</div>
<button id="topBtn">Top</button>
<div class="modal_background"
     style="position: fixed; z-index: 998; left: 0px; top: 0px; width: 100%; height: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.4);"></div>
<div th:insert="~{/main/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    const memberId = 1;
</script>
<script src="/js/mypage/message_box.js"></script>
</html>