<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>설정 &gt; 비밀번호 변경 | 이웃집 반찬</title>
    <link rel="stylesheet" href="/css/mypage/password_update.css">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>
<body>
<div th:insert="~{/main/header:: header}"></div>
<!-- 서브네비게이션  -->
<nav class="subnav">
    <div class="subnav_wrapper">
        <ul class="subnav_list">
            <li class="list_profile">
                <a href="" class="first_letter">프로필</a>
                <div class="list_profile_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter">쪽지함</a>
                    <a href="" class="second_letter except_home_letter">내가 올린 반찬</a>
                    <a href="" class="second_letter except_home_letter">후기</a>
                </div>
            </li>

            <li class="list_my_shopping">
                <a href="" class="first_letter">문의</a>
                <div class="list_my_shopping_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">FAQ</a>
                    <a href="" class="second_letter except_home_letter">1:1 문의</a>
                </div>
            </li>

            <li class="list_setting">
                <a href="" class="first_letter select">설정</a>
                <div class="list_my_setting_items disply_bundle">
                    <a href="" class="second_letter except_home_letter select">비밀번호 변경</a>
                    <a href="" class="second_letter except_home_letter">회원탈퇴</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 콘텐츠부분 시작 -->

<!-- 메뉴 -->
<section class="wrap">
    <div class="all_wrapper">
        <div class="menu_container">
            <div class="menu_box">
                <div class="menu_contents">

                    <div class="profile">
                        <div class="oneline_wrapper">
                            <div class="profile_image_section">
                                <img class="profile_image" src="/css/mypage/images/profile_sample1.png">
                            </div>

                            <div class="info_desk" >
                                <div class="nick_name">
                                    <p class="nick_name_letter">싱그러운반찬</p>
                                </div>

                                <div class="my_state">
                                    <div class="scrap">
                                        <a class="scrap_link" href="">
                                            <p class="scrap_message">게시물&nbsp</p>
                                            <p class="scrap_count">0</p>
                                        </a>
                                    </div>

                                    <div class="alarm">
                                        <a class="alarm_link" href="">
                                            <p class="alarm_message">후기&nbsp</p>
                                            <p class="alarm_count">0</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        프로필
                    </button>
                    <div class="content">
                        <p class="content_items_padding"></p>
                        <a href="" class="content_items">홈</a>
                        <a href="" class="content_items">쪽지함</a>
                        <a href="" class="content_items">내가 올린 반찬</a>
                        <a href="" class="content_items">후기</a>
                        <p class="content_items_padding"></p>
                    </div>


                    <button type="button" class="collapsible" onclick="collapse(this);">
                        문의
                    </button>
                    <div class="content">
                        <p class="content_items_padding"></p>
                        <a href="" class="content_items">FAQ</a>
                        <a href="" class="content_items">1:1 문의</a>
                        <p class="content_items_padding"></p>
                    </div>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        설정
                    </button>
                    <div class="content">
                        <p class="content_items_padding"></p>
                        <a href="" class="content_items">비밀번호 변경</a>
                        <a href="" class="content_items">회원탈퇴</a>
                        <p class="content_items_padding"></p>
                    </div>


                </div>
            </div>
        </div>

        <!-- 본 컨텐츠 -->
        <div class="contents_container">
            <div class="password_change_wrap">
                <main id="mypage-update-password">
                    <div class="modal">
                        <div class="warn-modal">
                            <div class="modal-content"></div>
                        </div>
                    </div>
                    <div class="update-password-header"><h3>비밀번호 변경</h3></div>
                    <form class="update-password-form">
                        <div>
                            <input
                                    type="password"
                                    name="originalPassword"
                                    placeholder="기존 비밀번호 입력"
                                    class="original-password"
                            />
                        </div>
                        <div>
                            <input
                                    type="password"
                                    name="memberPassword"
                                    placeholder="새 비밀번호 입력"
                                    class="new-password"
                                    aria-autocomplete="list"
                            />
                            <p class="password-regex">대/소문자, 숫자, 특수문자 중 2가지 이상의 조합으로 10자 이상</p>
                        </div>
                        <div>
                            <input
                                    type="password"
                                    name="memberPassword"
                                    placeholder="새 비밀번호 한번 더 입력"
                                    class="new-password-check"
                            />
                            <p class="warn-text"></p>
                        </div>
                        <button type="button" disabled="" class="change-button">변경하기</button>
                    </form>
                </main>
            </div>
        </div>
    </div>
    <div class="modal">
        <div class="warn-modal">
            <div id="content-wrap"></div>
        </div>
    </div>
</section>
<div th:insert="~{/main/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/mypage/password_update.js"></script>
</html>