<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my_shopping_favorite</title>
    <link rel="stylesheet" href="../../static/css/lyt/my_shopping_favorite.css">
</head>
<body>
<!-- 서브네비게이션  -->
<nav class="subnav">
    <div class="subnav_wrapper">
        <ul class="subnav_list">
            <li class="list_profile">
                <a href="" class="first_letter">프로필</a>
                <div class="list_profile_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter">알림</a>
                    <a href="" class="second_letter except_home_letter">쪽지함</a>
                    <a href="" class="second_letter except_home_letter">내가 올린 음식</a>
                    <a href="" class="second_letter except_home_letter">후기</a>
                </div>
            </li>

            <li class="list_my_shopping">
                <a href="" class="first_letter select">마이쇼핑</a>
                <div class="list_my_shopping_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter select">판매자 즐겨찾기</a>
                    <a href="" class="second_letter except_home_letter">최근 본 음식</a>
                    <a href="" class="second_letter except_home_letter">거래목록</a>
                    <a href="" class="second_letter except_home_letter">문의</a>
                </div>
            </li>

            <li class="list_setting">
                <a href="" class="first_letter">설정</a>
                <div class="list_my_setting_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">푸시 알림</a>
                    <a href="" class="second_letter except_home_letter">비밀번호 변경</a>
                    <a href="" class="second_letter except_home_letter">회원탈퇴</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 콘텐츠부분 시작 -->
<section class="wrap">
    <div class="all_wrapper">
        <div class="contents_container">
            <div class="dish_image_wrap">
                <img class="dish_image" src="./images/dish1.png">
                <p>판매자1</p>
            </div>

            <div class="dish_image_wrap dish">
                <img class="dish_image" src="./images/dish2.png">
                <p>판매자2</p>
            </div>
        </div>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="../../static/js/lyt/my_shopping_favorite.js"></script>
</html>