<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이웃집 반찬</title>
    <link rel="stylesheet" href="../../static/css/lyt/password_update.css">
</head>
<body>
<!-- 서브네비게이션  -->
<nav class="subnav">
    <div class="subnav_wrapper">
        <ul class="subnav_list">
            <li class="list_profile">
                <a href="" class="first_letter">프로필</a>
                <div class="list_profile_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter">알림</a>
                    <a href="" class="second_letter except_home_letter">쪽지함</a>
                    <a href="" class="second_letter except_home_letter">내가 올린 음식</a>
                    <a href="" class="second_letter except_home_letter">후기</a>
                </div>
            </li>

            <li class="list_my_shopping">
                <a href="" class="first_letter">마이쇼핑</a>
                <div class="list_my_shopping_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter">판매자 즐겨찾기</a>
                    <a href="" class="second_letter except_home_letter">최근 본 음식</a>
                    <a href="" class="second_letter except_home_letter">거래목록</a>
                    <a href="" class="second_letter except_home_letter">문의</a>
                </div>
            </li>

            <li class="list_setting">
                <a href="" class="first_letter select">설정</a>
                <div class="list_my_setting_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">푸시 알림</a>
                    <a href="" class="second_letter except_home_letter select">비밀번호 변경</a>
                    <a href="" class="second_letter except_home_letter">회원탈퇴</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 콘텐츠부분 시작 -->

<!-- 메뉴 -->
<section class="wrap">
    <div class="all_wrapper">
        <div class="menu_container">
            <div class="menu_box">
                <div class="menu_contents">

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        프로필
                    </button>
                    <div class="content">
                        <p class="content_items_padding"></p>
                        <a href="" class="content_items">알림</a>
                        <a href="" class="content_items">쪽지함</a>
                        <a href="" class="content_items">내가 올린 음식</a>
                        <a href="" class="content_items">후기</a>
                        <p class="content_items_padding"></p>
                    </div>


                    <button type="button" class="collapsible" onclick="collapse(this);">
                        마이 쇼핑
                    </button>
                    <div class="content">
                        <p class="content_items_padding"></p>
                        <a href="" class="content_items">최근 본 음식</a>
                        <a href="" class="content_items">거래목록</a>
                        <a href="" class="content_items">문의</a>
                        <p class="content_items_padding"></p>
                    </div>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        설정
                    </button>
                    <div class="content">
                        <p class="content_items_padding"></p>
                        <a href="" class="content_items">푸시 알림</a>
                        <a href="" class="content_items">비밀번호 변경</a>
                        <a href="" class="content_items">회원탈퇴</a>
                        <p class="content_items_padding"></p>
                    </div>


                </div>
            </div>
        </div>

        <!-- 본 컨텐츠 -->
        <div class="contents_container">
            <div class="password_change_wrap">
                <main id="mypage-update-password">
                    <div class="update-password-header"><h3>비밀번호 변경</h3></div>
                    <form class="update-password-form">
                        <div>
                            <input
                                    type="password"
                                    name="originalPassword"
                                    placeholder="기존 비밀번호 입력"
                                    class="original-password"
                            />
                        </div>
                        <div>
                            <input
                                    type="password"
                                    name="memberPassword"
                                    placeholder="새 비밀번호 입력"
                                    class="new-password"
                                    aria-autocomplete="list"
                            />
                            <p class="password-regex">
                                대/소문자, 숫자, 특수문자 중 2가지 이상의 조합으로 10자 이상
                            </p>
                        </div>
                        <div>
                            <input
                                    type="password"
                                    name="memberPassword"
                                    placeholder="새 비밀번호 한번 더 입력"
                                    class="new-password-check"
                            />
                        </div>
                        <button disabled="" class="change-button">변경하기</button>
                    </form>
                </main>

            </div>
        </div>
    </div>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="../../static/js/lyt/password_update.js"></script>
</html>