<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile_home</title>
    <link rel="stylesheet" href="../../static/css/lyt/profile_home.css">
</head>
<body>
<!-- 서브네비게이션  -->
<nav class="subnav">
    <div class="subnav_wrapper">
        <ul class="subnav_list">
            <li class="list_profile">
                <a href="" class="first_letter select">프로필</a>
                <div class="list_profile_items disply_bundle">
                    <a href="" class="second_letter select">홈</a>
                    <a href="" class="second_letter except_home_letter">알림</a>
                    <a href="" class="second_letter except_home_letter">쪽지함</a>
                    <a href="" class="second_letter except_home_letter">내가 올린 음식</a>
                    <a href="" class="second_letter except_home_letter">후기</a>
                </div>
            </li>

            <li class="list_my_shopping">
                <a href="" class="first_letter">마이쇼핑</a>
                <div class="list_my_shopping_items disply_bundle">
                    <a href="" class="second_letter">홈</a>
                    <a href="" class="second_letter except_home_letter">판매자 즐겨찾기</a>
                    <a href="" class="second_letter except_home_letter">최근 본 음식</a>
                    <a href="" class="second_letter except_home_letter">거래목록</a>
                    <a href="" class="second_letter except_home_letter">문의</a>
                </div>
            </li>

            <li class="list_setting">
                <a href="" class="first_letter">설정</a>
                <div class="list_my_setting_items disply_bundle">
                    <a href="" class="second_letter except_home_letter">푸시 알림</a>
                    <a href="" class="second_letter except_home_letter">비밀번호 변경</a>
                    <a href="" class="second_letter except_home_letter">회원탈퇴</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- 콘텐츠부분 시작 -->
<section class="wrap">
    <div class="all_wrapper">
        <div class="menu_container">
            <div class="menu_box">
                <div class="menu_contents">

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        프로필
                    </button>
                    <div class="content">
                        <p class="content_items_padding"></p>
                        <a href="" class="content_items">알림</a>
                        <a href="" class="content_items">쪽지함</a>
                        <a href="" class="content_items">내가 올린 음식</a>
                        <a href="" class="content_items">후기</a>
                        <p class="content_items_padding"></p>
                    </div>


                    <button type="button" class="collapsible" onclick="collapse(this);">
                        마이 쇼핑
                    </button>
                    <div class="content">
                        <p class="content_items_padding"></p>
                        <a href="" class="content_items">판매자 즐겨찾기</a>
                        <a href="" class="content_items">최근 본 음식</a>
                        <a href="" class="content_items">거래목록</a>
                        <a href="" class="content_items">문의</a>
                        <p class="content_items_padding"></p>
                    </div>

                    <button type="button" class="collapsible" onclick="collapse(this);">
                        설정
                    </button>
                    <div class="content">
                        <p class="content_items_padding"></p>
                        <a href="" class="content_items">푸시 알림</a>
                        <a href="" class="content_items">비밀번호 변경</a>
                        <a href="" class="content_items">회원탈퇴</a>
                        <p class="content_items_padding"></p>
                    </div>


                </div>
            </div>
        </div>

        <div class="contents_container">
            <div class="profile_wrap">
                <div class="contents_top">
                    <button type="button" class="benefit">혜택보기<img class="arrow_right" src="./images/arrow_right.png"></button>
                    <button type="button" class="grade">등급보기<img class="arrow_right" src="./images/arrow_right.png"></button>
                    <button type="button" class="favorite">즐겨찾기<img class="arrow_right" src="./images/arrow_right.png"></button>
                </div>

                <div class="contents_middle">
                    <div class="profile">
                        <div class="profile_image_section">
                            <img class="profile_image" src="./images/theif.png">
                            <div class="profile_camera_image_section">
                                <img class="profile_camera_image" src="./images/camera.png">
                            </div>
                        </div>

                        <div class="nick_name">
                            <p class="nick_name_letter">UI도둑</p>
                        </div>

                        <div class="introduce">
                            <p class="introduce_letter">한 줄 소개글을 작성해주세요.</p>
                            <button type="button" class="introduce_letter_write">
                                <img class="pen_image" src="./images/pen.png">
                            </button>
                        </div>

                        <div class="sns_list">
                            <div class="sns_list_insta">
                                <button type="button" class="write_insta_btn">
                                    <img class="insta_image" src="./images/insta_image.png">
                                </button>
                            </div>

                            <div class="sns_list_youtube">
                                <button type="button" class="write_youtube_btn">
                                    <img class="youtube_image" src="./images/youtube_image.png">
                                </button>
                            </div>

                            <div class="sns_list_blog">
                                <button type="button" class="write_blog_btn">
                                    <img class="blog_image" src="./images/blog_image.png">
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="my_info">
                        <div class="post">
                            <strong>
                                <a class="post_count" href="">
                                    0
                                </a>
                            </strong>
                            <a class="post_letter" href="">
                                게시물
                            </a>
                        </div>

                        <div class="follow">
                            <strong>
                                <a class="follow_count" href="">
                                    0
                                </a>
                            </strong>
                            <a class="follow_letter" href="">
                                팔로우
                            </a>
                        </div>

                        <div class="following">
                            <strong>
                                <a class="following_count" href="">
                                    0
                                </a>
                            </strong>
                            <a class="following_letter" href="">
                                팔로잉
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my_state">
                <div class="alarm">
                    <a class="alarm_link" href="">
                        <img class="alarm_image" src="./images/my_alarm.png">
                        <p>알림&nbsp</p>
                        <p class="alarm_count">0</p>
                    </a>
                </div>

                <div class="like">
                    <a class="like_link" href="">
                        <img class="like_image" src="./images/my_like.png">
                        <p>좋아요&nbsp</p>
                        <p class="like_count">0</p>
                    </a>
                </div>

                <div class="scrap">
                    <a class="scrap_link" href="">
                        <img class="scrap_image" src="./images/my_scrap.png">
                        <p>스크랩&nbsp</p>
                        <p class="scrap_count">0</p>
                    </a>
                </div>
            </div>

            <div class="third_content">
                <h3 class="third_content_title">마이가든</h3>
                <div class="third_content_image_section">
                    <img class="third_content_image" src="./images/none_image.png">
                    <p class="third_content_letter">마이가든 사진을 등록해주세요.</p>
                </div>
                <a class="third_content_upload_btn" href="">마이가든 사진 등록하기</a>
            </div>

        </div>

        <div class="forth_content">
            <a class="story" href="">스토리 0</a>
            <a class="photo" href="">사진 0</a>
        </div>



    </div>
    <div class="forth_content_photo">
        <div class="forth_content_image_section">
            <img class="forth_content_image" src="./images/none_image.png">
            <p class="forth_content_letter">등록한 음식일기가 없습니다.</p>
        </div>
    </div>

</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="../../static/js/lyt/profile_home.js"></script>
</html>