server:
  port: 10000

#log4jdbc
log4jdbc:
  spylogdelegator:
    name: net.sf.log4jdbc.log.slf4j.Slf4jSpyLogDelgator

#datasource
spring:
  datasource:
    hikari:
      driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
      jdbc-url: jdbc:log4jdbc:mysql://localhost:3306/neighbor?serverTimezone=Asia/Seoul
      username: root
      password: 1234

  #multipart
  servlet:
    multipart:
      enabled: true
      max-request-size: 40MB
      max-file-size: 40MB
      file-size-threshold: 100MB

  #email
  mail:
    host: smtp.gmail.com
    port: 587
    username: 'dlstk3031@gmail.com'
    password: 'ixdkmadwxhyhlujd'
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true