@charset "utf-8";
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

/* 배너 */
body {
    min-width: 1200px;
}

#container-wrapper {
    height: 500px;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

section.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

div.banner {
    width: 8400px;  /* 배너 5개라 * 7 */
    transition: transform 0.3s;
    cursor: pointer;
}

div.banner div {
    width: 1200px;
    height: 460px;
    float: left;
    background-size: 100%;
}

div.banner div:hover {
    transform: scale(1.025);
}


div.move-arrow {
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 6%;

}

div.move-arrow div {
    background-color: white;
    /* width: 25%;
    height: 100%; */
    width: 32px;
    height: 27px;
    background-size: 7px auto;
    background-repeat: no-repeat;
    background-position: center;
}

div.prev {
    background-image: url('https://www.shouse.garden/images/common/arrow03_l.png');
}

#dot-wrapper{
    width: 6px;
    height: 15px;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

#dot {
    content: " ";
    position: absolute;
    top: calc(50% - 2px);
    left: 1.2px;
    top: 9.5px;
    width: 4px;
    height: 4px;
    background-color: #b3b3b3;
    border-radius: 100%;
}

div.next {
    background-image: url('https://www.shouse.garden/images/common/arrow03_r.png');
}

div.buttons {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

div.buttons button {
    background: white;
}

div.buttons button:nth-child(1) {
    background-color: black;
    color: white;
}

.page-move-wrapper {
    color: #808080 !important;
    line-height: 27px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.05em;
    font-family: 'Spoqa Han Sans', sans-serif;
    font: 12px;
}

/* --------------------------------------------------header------------------------------------- */
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

html {
    overflow-y: scroll;
}

body {
    font: 12px/1.2 'Spoqa Han Sans', sans-serif;
    color: #4d4d4d;
}

body, div, dl, dt, dd, th, td, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, blockquote, button, input, textarea {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

section, article, header, footer, nav, aside, hgroup, figure, figcaption {
    display: block;
    margin: 0;
    padding: 0;
}

html, body, #wrap {
    min-height: 100vh;
}



#wrap {
    position: relative;
    min-width: 320px;
    overflow: hidden;
    letter-spacing: -0.05em;
}

#container {
    position: relative;
    padding: 0;
    box-sizing: border-box;
    display: block;
    margin: 0;
}

.blank.type3 #container {
    min-height: calc(100vh - 40px);
    min-height: calc(100vh - 40px - env(safe-area-inset-bottom));
    padding: 0;
    box-sizing: border-box;
}

input, select, button{
    font: 12px/1.2 'Spoqa Han Sans', sans-serif;
    color: #4d4d4d;
    letter-spacing: inherit;
    outline: none;
}

img, button, input {
    border: 0;
    vertical-align: middle;
}

.holder {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.common:not(.holder) {
    margin: 0 auto;
    max-width: 400px;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

.p_hide {
    display: none !important;
}

#header .top {
    padding-top: 20px;
}


#header .info.fr li {
    color: #808080;
}

#header .info.fr li + li {
    margin-left: 20px;
}

#header .info li {
    float: left;
}

#header {
    padding-top: env(safe-area-inset-top);
}

#header .util {
    line-height: 40px;
    background-color: #f2f2f2;
}

#header .info.fl {
    padding-top: 9px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fc3 {
    color: #b3b3b3 !important;
}

.fc1 {
    color: #009a3e !important;
}

.widthfull {
    width: 100% !important;
}

.title_form {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    background-repeat: no-repeat;
}

.title .title_form {
    margin-right: 11px;
    width: 155px;
    height: 30px;
}

h1 .title_form {
    vertical-align: top;
    background-image: url('https://www.shouse.garden/images/common/bi.png');
    background-size: 100% 100%;
}


.title {
    text-align: center;
    line-height: 30px;
    font-size: 25px;
    font-weight: 700;
    color: #009a3e;
}

#header .back {
    z-index: 100;
    position: absolute;
    top: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

#header .info .title_form {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    background-size: 100% 100%;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    margin-right: 2px;
}

#header .info .google_play {
    background-image: url('https://www.shouse.garden/images/common/u_gp.png');
}

#header .info .apple {
    background-image: url('https://www.shouse.garden/images/common/u_ap.png');
}

#header .info .instagram {
    background-image: url('https://www.shouse.garden/images/common/u_in.png');
}

#header .info .kakao {
    background-image: url('https://www.shouse.garden/images/common/u_kc.png');
}

#header .info .facebook {
    background-image: url('https://www.shouse.garden/images/common/u_fb.png');
}

#header .info .youtube {
    background-image: url('https://www.shouse.garden/images/common/u_yt.png');
}

a {
    color: inherit;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: normal;
}

.text_center {
    text-align: center;
}

.mt10 {
    margin-top: 10px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.check input {
    display: none;
}

input::placeholder {
    color:  #b3b3b3;
}


input.frmbox {
    text-indent: 19px;
}

.frmbox {
    height: 50px !important;
    font-size: 15px !important;
    color: #808080 !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    box-sizing: border-box;
}

button {
    vertical-align: top !important;
    background: transparent;
    font-family: 'Spoqa Han Sans', sans-serif;
}

.button_complete.h50 {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}

.login .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.copyright {
    padding-top: 50px;
    padding-bottom: 54px;
    line-height: 1;
    font-size: 15px;
    color: #808080;
}
/* header 끝 */