<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/kjp/product-registration.css}">
    <title>Document</title>
</head>
<body>
<section class="container">
    <form action="save" name="board" method="POST">
        <article class="write-text fullh">
            <h3 class="subtitle">
                <span class="subtitle-icon"></span>
                스토리 글쓰기
                <span class="subtitle-text">이웃집반찬 글 올리기</span>
            </h3>
            <div class="cover-container">
                <div class="detail-title">
                    <h4 class="sub-detail">제목 입력</h4>
                </div>
                <div class="cover-title">
                    <label for="">
                        <input type="text" class="input-title" name="boardTitle" placeholder="* 스토리 제목을 입력해주세요">
                    </label>
                </div>

                <div class="detail-title">
                    <h4 class="sub-detail">가격 입력</h4>
                </div>
                <div class="cover-title price-title">
                        <input type="text" class="input-title input-price" name="boardPrice">
                        <span>원</span>
                </div>

                <div class="detail-title">
                    <h4 class="sub-detail">상세 내용 입력</h4>
                </div>
                <div class="detail-text">
                    <div class="text-top">
                        <div class="cartagori">
                            <select name="boardRegion" id="select-region">
                                <option value="1">강남구</option>
                                <option value="2">강동구</option>
                                <option value="3">강북구</option>
                                <option value="4">강서구</option>
                                <option value="5">관악구</option>
                                <option value="6">광진구</option>
                                <option value="7">구로구</option>
                                <option value="8">금천구</option>
                                <option value="9">노원구</option>
                                <option value="10">도봉구</option>
                                <option value="11">동대문구</option>
                                <option value="12">동작구</option>
                                <option value="13">마포구</option>
                                <option value="14">서대문구</option>
                                <option value="15">서초구</option>
                                <option value="16">성동구</option>
                                <option value="17">성북구</option>
                                <option value="18">송파구</option>
                                <option value="19">양천구</option>
                                <option value="20">영등포구</option>
                                <option value="21">용산구</option>
                                <option value="22">은평구</option>
                                <option value="23">종로구</option>
                                <option value="24">중구</option>
                                <option value="25">중랑구</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-input">
                        <label for="">
                            <textarea name="boardContent" id="" cols="30" rows="10" placeholder="* 사진에 대한 내용을 작성해주세요"></textarea>
                        </label>
                    </div>
                    <div class="text-hashtag"></div>
                    <div class="text-controls"></div>
                </div>
                <div class="cover-photo">
                    <div class="photo-sdsdsd">
                        <label for="cover-file" class="cover-label">
                            <div class="img">
                                <input type="file" class="file" id="cover-file">
                                <div class="cover-center">
                                    <div class="cover-img"></div>
                                </div>
                                <span class="cover-txt">커버 사진을 등록해주세요.</span>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="detail-form">
                <div class="detail-photo">
                            <label for="detail-file" class="detail-label">
                                <input type="file" class="" id="detail-file" name="additionalPhoto" multiple>
                                    <img id="thumbnail" style="display: none;"/>
                            </label>
                    <div id="thumbnail-container1"></div>
                </div>
            </div>
            <label for="detail-file">
                <div class="add-button">
                    <label for="detail-file">
                            <span class="add-button-img"></span>
                            사진을 추가하세요!
                    </label>
                </div>
        <article class="submit-article">
            <div class="inner">
                <button type="submit" class="submit-button">
                    등록하기
                </button>
            </div>
        </article>
    </form>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:src="@{/js/kjp/product-registration.js}" ></script>
</html>