<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/kjp/product-registration.css">
    <title>Document</title>
</head>
<body>
<section class="container">
    <form action="">
        <article class="write-text fullh">
            <h3 class="subtitle">
                <span class="subtitle-icon"></span>
                스토리 글쓰기
                <span class="subtitle-text">싱그러운 라이프 스타일</span>
            </h3>
            <div class="cover-container">
                <div class="caution">
                    <button type="button" class="caution-modal">
                        <strong class="st">스토리 작성 가이드</strong>
                        <span class="">글쓰기 전 작성 가이드를 확인 후 스토리를 남겨주세요.</span>
                    </button>
                </div>
                <div class="cover-title">
                    <label for="">
                        <input type="text" class="input-title" placeholder="* 스토리 제목을 입력해주세요">
                    </label>
                </div>
                <div class="cover-photo">
                    <div class="photo-sdsdsd">
                        <label for="cover-file" class="cover-label">
                            <input type="file" class="file" id="cover-file">
                            <span class="cover-img"></span>
                            <span class="cover-txt">커버 사진을 등록해주세요.</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="detail-title">
                <h4 class="sub-detail">상세 내용 입력</h4>
            </div>
            <div class="detail-form">
                <div class="detail-photo">
                    <div class="detail-container">
                        <div class="detail-content">
                            <label for="detail-file" class="detail-label">
                                <input type="file" class="" id="detail-file">
                                <div class="thumbnail-container" style="display: none;">
                                    <img id="thumbnail" style="display: none;"/>
                                </div>
                                <span class="detail-img"></span>
                                <span class="detail-span">사진을 등록해주세요</span>
                            </label>
                        </div>
                    </div>
                    <div id="thumbnail-container1"></div>
                </div>
                <div class="detail-text">
                    <div class="text-top">
                        <div class="cartagori">
                            <select name="" id="">
                                <option value="강남구">* 구 선택</option>
                                <option value="강남구">강남구</option>
                                <option value="노원구">노원구</option>
                                <option value="마포구">마포구</option>
                                <option value="동작구">동작구</option>
                            </select>
                        </div>
                        <div class="cartagori-two">
                            <select name="" id="" >
                                <option value="대치동">* 동 선택</option>
                                <option value="대치동">대치동</option>
                                <option value="월계동">월계동</option>
                                <option value="하계동">하계동</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-input">
                        <label for="">
                            <textarea name="" id="" cols="30" rows="10" placeholder="* 사진에 대한 내용을 작성해주세요"></textarea>
                        </label>
                        <button type="button"id="delete-button"class="delete-button">
                            <span  >삭제</span>
                        </button>
                    </div>
                    <div class="text-hashtag"></div>
                    <div class="text-controls"></div>
                </div>

            </div>
            <div class="addition-button">
                <label for="">
                    <button type="button" class="add-button">
                        <span class="add-button-img"></span>
                        사진을 추가하세요!
                    </button>
                </label>
            </div>
        </article>
        <article class="submit-article">
            <div class="inner">
                <button type="submit" class="submit-button">
                    등록하기
                </button>
            </div>
        </article>
    </form>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script src="../../static/js/kjp/product-registration.js"></script>
</html>