<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/css/kjp/product-detail.css">
    <title>Document</title>
</head>
<body>
<!-- 모달 -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 class="modal-title">쪽지 보내기</h3>
        <form id="noteForm">
            <label for="title" class="modal-label">받는 이 :
                <div class="nick-name">미키마우스</div>
            </label>

            <br>
            <textarea id="content" name="content" required></textarea>
            <br>
            <div class="button-group">
                <button type="button" id="sendBtn">보내기</button>
                <!-- <button type="button" id="cancelBtn">취소</button> -->
            </div>
        </form>
    </div>
</div>
<!-- <button id="openBtn">열기</button> -->
<!-- 모달 -->
<div class="holder" style="border-bottom: 35px solid; color: #f2f2f2"></div>
<section id="container">
    <article class="product-payment">
        <div class="product-img">
            <img src="../../static/css/kjp/mmmm.jpg" />
            <div class="img-spec">
                <h3>제육볶음 따뜻할때 거래해요~~</h3>
                <button class="btn-like" style="display: none">
                    <span></span>
                    <span></span>
                </button>
                <div>
                    <ul>
                        <li>
                            <div>
                                <p>
                                    <span></span>
                                </p>
                            </div>
                            <p class="price">
                                <span></span>
                            </p>
                            <div class="info-container">
                    <span class="stars">
                            <img src="../../static/css/kjp/star.png" class="star">
                            <img src="../../static/css/kjp/star.png" class="star">
                            <img src="../../static/css/kjp/star.png" class="star">
                            <img src="../../static/css/kjp/star.png" class="star">
                            <img src="../../static/css/kjp/star.png" class="star">
                    </span>
                            </div>
                        </li>
                    </ul>
                    <div class="border-botton"></div>
                </div>
                <form action="" class="spec">
                    <div id="spec-top">
                        <p class="spec-top">사용자 닉네임</p>
                        <p class="spec-top">판매 지역</p>
                        <p class="spec-top">사용자 정보</p>
                    </div>
                    <div id="spec-md">
                        <p class="spec-md">미키마우스</p>
                        <p class="spec-md">강남구 역삼동</p>
                        <p class="spec-md">미정</p>
                    </div>
                </form>
                <div class="border-botton"></div>
                <div class="total">
                    <div class="count">
                        <input type="button" id="mainus" value="-" />
                        <span id="span">1</span>
                        <input type="button" id="plus" value="+" />
                    </div>
                    <div class="total-price">
                        <span>총 상품금액</span>
                        &nbsp;
                        <span>29,000</span>원
                    </div>
                </div>
                <div class="buy">
                    <input type="button" value="장바구니" />
                    <input type="button" value="쪽지" id="openBtn"/>
                </div>
            </div>
        </div>
        <div class="pagination-img" style="display: none;">
            <div class="count">
                <a href=""></a>
                <div class="img-content">
                    <ul class="img-ul">
                        <li class="pagination">
                            <a href="">
                                <div class="">
                                    <div class="">
                                        <img src="" alt="">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <a href=""></a>
            </div>
        </div>
        <div class="product-contents-quick" style="height: 600px;">
            <div class="product-tabs">
                <div class="nav-tabs">
                    <div class="nav-info">
                        <a href="#">
                            <span>상품정보</span>
                        </a>
                        <a href="#">리뷰</a>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="product-information">
                <h4 class="product-information-title">상품정보</h4>
                <div class="product-img-content">
                    <div class="product-img">
                        <p class="product-img-info">
                            <img src="../../static/css/kjp/food.jpeg" alt="">
                        </p>
                    </div>
                    <div class="product-img">
                        <p class="product-img-info">
                            <img src="../../static/css/kjp/food2.jpeg" alt="">
                        </p>
                    </div>
                </div>
            </div>
            <div class="reviewMain">
                <div class="container">
                    <h6>리뷰</h6>
                    <ul class="review_list">
                        <li>
                            <div class="txt_area">
                                <div class="tp">
                                    <strong>이순신</strong>
                                    <span class="stars">
                              <img src="../../static/css/kjp/star.png" class="star1">
                              <img src="../../static/css/kjp/star.png" class="star1">
                              <img src="../../static/css/kjp/star.png" class="star1">
                              <img src="../../static/css/kjp/star.png" class="star1">
                              <img src="../../static/css/kjp/star.png" class="star1">
                            </span>
                                    <span class="tm">2022-11-16</span>
                                </div>
                                <div class="txt">
                                    맨날 이분 음식만 먹고싶다..
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="review_list">
                        <li>
                            <div class="txt_area">
                                <div class="tp">
                                    <strong>미키마우스</strong>
                                    <span class="stars">
                              <img src="../../kjp/star.png" class="star1">
                              <img src="/kjp/star.png" class="star1">
                              <img src="/kjp/star.png" class="star1">
                              <img src="/kjp/star.png" class="star1">
                              <img src="/kjp/star.png" class="star1">
                            </span>
                                    <span class="tm">2022-11-16</span>
                                    <div class="txt">
                                        이분 음식은 믿고 먹어요 진짜로
                                    </div>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </article>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="../../static/js/kjp/product-detail.js"></script>
</html>