<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>푸터</title>
    <link rel="stylesheet" href="/neighbor/css/footer.css">
</head>
<body>
<footer id = "footer">
    <div class="footer-content">
        <div class="footer-cs footer-info">
            <span>고객문의 : TeamEffect@gmail.com</span>
            <!-- after있음 -->
            <span>제휴문의 : TeamEffect@gmail.com</span>
            <!-- after있음 -->
        </div>
        <div class="fotter-site-info"> <!-- =siteinfo -->
            <address class="footer-middle footer-info"> <!-- add = footer-middle -->
                <!-- after-use는 ::after를 쓰기위해 만든 클래스 명 -->
                <div class="footer-middle-inner after-use"> <!-- inner = footer-middle-inner -->
                    <span>대표번호 : 1234-1234</span>
                    <span>회사 : GB TeamEffect</span>
                    <span>대표이사 : 김대표</span>
                    <br class="p-hide t-hide"> <!-- p-hide t-hide 이 두개는 뜻을 모르겠다. -->
                </div>
                <div class="footer-middle-inner after-use"> <!-- inner = footer-middle-inner -->
                    <span>주소 : 서울특별시 강남구 역삼동</span>
                    <span>사업자등록번호 : 123-45-67890</span>
                    <span>통신판매업신고번호 : 2023-서울강남구-2023</span>
                    <span>Copyright©TeamEffect ALL RIGHTS RESERVED.</span>
                </div>
                <!-- footer-middle-last = mt0 -->
                <div class="footer-middle-inner after-use footer-middle-last"> <!-- inner = footer-middle-inner -->
                    <span>주소 : 서울특별시 강남구 역삼동</span>
                    <span>사업자등록번호 : 123-45-67890</span>
                    <span>통신판매업신고번호 : 2023-서울강남구-2023</span>
                    <span>Copyright©TeamEffect ALL RIGHTS RESERVED.</span>
                </div>
            </address>
            <div class="footer-bottom footer-info">
                <p>
                    거래 시 유의사항 : 쪽지를 통해서 거래 전 먼저 송금해달라고 하는 등 그러한 문제가 발생 시 절대 송금하지 마시고 만나서 거래할 것을 당부합니다. 쪽지로는 거래 약속까지만 잡아주세요!
                </p>
                <p>
                    ㈜GB TeamEffect는 판매중개자로서 판매의 당사자가 아니며, 판매자가 등록한 상품, 상품정보 및 거래에 대하여 ㈜GB TeamEffect에서는 일체 책임을 지지 않습니다.
                </p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>