<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/neighbor/css/main.css">
</head>
<body>
<div id="container-wrapper">
    <section class="container">
        <!-- 메인 배너 -->
        <div class="banner">
            <div style="background-image: url('/image/001.jpg');"></div>
            <div style="background-image: url('/image/002.jpg');"></div>
            <div style="background-image: url('/image/003.jpg');"></div>
            <div style="background-image: url('/image/004.jpg');"></div>
            <div style="background-image: url('/image/005.jpg');"></div>
            <!-- <div></div> -->
            <div style="background-image: url(&quot;image/001.jpg&quot;);"></div></div>


        <!-- 선택 버튼 -->
        <div class="buttons">
            <button style="background: white; color: black;">1</button>
            <button style="background: white; color: black;">2</button>
            <button style="background: white; color: black;">3</button>
            <button style="background: white; color: black;">4</button>
            <button style="background: black; color: white;">5</button>
        </div>
    </section>
    <div class="move-arrow">
        <!-- 이전 버튼 -->
        <div class="prev"></div>
        <!-- 사이 -->
        <div class="page-move-wrapper">
            <span id="page-now">5</span>
            <div id="dot-wrapper">
                <span id="dot"></span>
            </div>
            <span id="page-total">
                    5
                </span>
        </div>
        <!-- 다음 버튼 -->
        <div class="next"></div>
    </div>
</div>
</body>
<script src="/neighbor/js/main.js"></script>
</html>