@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


/************************************************************/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
body {
    font: 12px/1.2 'Spoqa Han Sans', sans-serif;
    color: #4d4d4d;
}

dl{
    margin-top: 30px;
}

dt{
    font-size: 15px;
    line-height: 1;
    margin-bottom: 1.4em;
    font-weight: 800;
    color: #222624;
}

dd{
    margin-inline-start: 0;
}

label{
    cursor: pointer;
    display:inline-block;
    position:relative;
}

input[type='text'], input[type='password'], select, textarea{
    /* text-indent: 19px;
    height: 50px;
    font-size: 15px ;
    color: #808080 ;
    border: 1px solid #d9d9d9 ;
    border-radius: 4px;
    box-sizing: border-box;
    width:100%; */
    width: 100%;
    padding: 14px 14px 12px;
    color: rgb(17, 17, 17);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    border-radius: 3px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(238, 238, 238);
    margin: 4px 0px 8px;
    overflow-x: hidden;
}

textarea{
    resize:none;
}

select{
    width:107%;
}
.wrapper{
    padding: 0;
    box-sizing: border-box;
}


.join-wrapper{
    margin: 0 auto;
    max-width: 400px;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 110px;
}

.logo .title{
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 800;
    color: #009a3e;
    text-align: center;
}

.sp{
    margin-right: 11px;
    width: 250px;
    height: 80px;
    vertical-align: top;
    background-image: url('../../image/logo_title_450_150.png');
    background-size: 100% 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    background-repeat: no-repeat;
}

.text{
    text-align: right;
}

label[for=profile]{
    width: 100px;
    height: 100px;
}

.profile-label img{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0px 0px 16px;
    border-radius: 100%;
    cursor: pointer;
}

.err{
    color: red;
}

/*#region{
    width:70%;
}*/

.policy{
    padding-bottom: 13px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    width:107%;
}

.check-all{
    position:relative;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 18px;
    font-weight: 700;
    border-bottom: 1px solid #d9d9d9;
    line-height: 22px;
    font-size: 14px;
    color: #222624;
    
}

.check{
    position: relative;
    padding-left: 18px;
    line-height: 22px;
    font-size: 14px;
    color: #222624;
    margin-top: 13px;
    font-weight: 700;
}

button{
    border: none;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-weight: 700;
    line-height: 22px;
    font-size: 14px;
    color: #222624;
    padding: 0;
}

input[type='checkbox']{
    display:none;
}

.img{
    background-image: url('../../../templates/jyc/images/profile2.png');
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px 0px 16px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

.close{
    font-size: 14px;
    position: absolute;
    left: 84px;
    bottom: 81px;
    font-weight: 800;
}

.check .span-check, .check-all .span-check{
    position: absolute;
    top: calc(50% - 11px);
    width: 20px;
    height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    left:398px;
    cursor: pointer;
}

.check span.span-checked, .check-all span.span-checked{
    background: url('https://www.shouse.garden/images/common/check.png') center center no-repeat;
    background-size: 14px auto;
    border-color: #009a3e;
    position: absolute;
    top: calc(50% - 11px);
    right: 13px;
    width: 20px;
    height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    left:398px;
    cursor: pointer;
}

.join{
    color: #fff;
    background-color: #009a3e;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    width:107%;
    outline: none;
    border:none;
    cursor:pointer;
}


/* 모달  3개 다 복붙임*/

/* 1번째 모달 */
#modal-agree.modal-overlay {
    width: 100%;
    height: 456%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
#modal-agree .modal-window {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 700px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#modal-agree .title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: black;
    
}
#modal-agree .title h2 {
    display: inline;
}
#modal-agree .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: black;
}

#modal-agree .content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: black;
}




/* 2번쨰 모달 */
#modal-privacy.modal-overlay {
    width: 100%;
    height: 456%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display:none;
}
#modal-privacy .modal-window {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 700px;
    height: 500px;
    position: relative;
    top: -100px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#modal-privacy .title {
    padding-left: 10px;
    display: inline;
    text-shadow: 1px 1px 2px gray;
    color: black;
    
}
#modal-privacy .title h2 {
    display: inline;
}
#modal-privacy .close-area {
    display: inline;
    float: right;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: black;
}

#modal-privacy .content {
    margin-top: 20px;
    padding: 0px 10px;
    text-shadow: 1px 1px 2px gray;
    color: black;
}

.fc6{
    color: #222624 !important;
}
