<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list-by-member</title>
    <link rel="stylesheet" href="../../static/css/hhs/list-by-member.css">
</head>
<body>
    <!-- 밖 위 아래 패딩을 위한 div -->
    <div class="wrap">
        <!-- 양 옆 마진을 위한  -->
        <article class="wrap-inner">
            <!-- 프로필 영역 전체 감싸는 -->
            <div class="info-container">
                <!-- 프로필 영역 안쪽 패딩 -->
                <div class="info-inner">
                    <!-- 프로필사진 -->
                    <div class="profile-thumbs"></div>
                    <!-- //프로필사진 -->
                    <!-- 닉네임 -->
                    <div class="nickname">
                        <p>안녕안녕</p>      
                    </div>
                    <!-- //닉네임 -->
                    <!-- 게시물 수 -->
                    <div class="counts-wrap">
                        <p><strong>22</strong></p>
                        <p>게시물</p>
                    </div>
                    <!-- //게시물 수 -->
                </div>
                <!-- //프로필 영역 안쪽 패딩 -->
            </div>
            <!-- //프로필 영역 전체 감싸는 -->
            <!-- 게시글 내역 감싸는 -->
            <div class="list-container">
                <!-- 제목 -->
                <h3 class="sub-title">게시글 내역</h3>
                <!-- //제목 -->
                <!-- 내용 전체 감싸는  -->
                <div class="list-container">
                    <ul class="list-outer">
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                                <!-- 판매종료 시 띄워야 하는 레이블 -->
                                <label for="parent-block">판매종료</label>
                                <!-- //판매종료 시 띄워야 하는 레이블 -->
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper">
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                                <!-- 판매종료 시 띄워야 하는 레이블 -->
                                <label for="parent-block">판매종료</label>
                                <!-- //판매종료 시 띄워야 하는 레이블 -->
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                        <!-- 게시글 한개 -->
                        <li>
                            <a href="#" style="display: block;" id="parent-block">
                                <div class="board-thumb-wrapper" >
                                    <div class="board-thumb"></div>
                                </div>
                                <p class="board-title">정원여행자</p>
                                <p class="board-date">2023.03.24</p>
                                <!-- 판매종료 시 띄워야 하는 레이블 -->
                                <label for="parent-block">판매종료</label>
                                <!-- //판매종료 시 띄워야 하는 레이블 -->
                            </a>
                        </li>
                        <!-- 게시글 한개 -->
                    </ul>
                </div>
                <!-- //내용 전체 감싸는  -->
            </div>
            <!-- //게시글 내역 감싸는 -->
        </article>
        <!-- //양 옆 마진을 위한  -->
    </div>
    <!-- //밖 위 아래 패딩을 위한 div -->
</body>
</html>