@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');


/************************************************************/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body {
    font: 12px/1.2 'Spoqa Han Sans', sans-serif;
    color: #4d4d4d;
}

.entire-wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    margin: 0 auto;
    max-width: 400px;
    box-sizing: border-box;
}

dt{
    cursor: pointer;
    line-height: 58px;
    font-size: 18px;
    font-weight: 700;
    color: #222624;
}

dd{
    margin-inline-start: 0;
    margin-top: 10px;
    font: 14px/1.2 'Spoqa Han Sans', sans-serif;
    text-indent: 3px;
}

button{
  color: #fff;
  background-color: #009a3e;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  border-radius: 4px;
  width:100%;
  outline: none;
  border:none;
  cursor:pointer;
}

input{
    height: 50px ;
    font-size: 15px ;
    color: #808080 ;
    border: 1px solid #d9d9d9 ;
    border-radius: 4px ;
    box-sizing: border-box;
    text-indent: 19px;
    width:100%;
}

.input{
    width:100%;
}
