body{
    letter-spacing: -0.05em;
    margin: 0;
}

*{
    font-family: 'Spoqa Han Sans', sans-serif
}

/* 서브네비게이션 */
.subnav{
    border-bottom: 1px solid #d9d9d9;
}

ul, ol, li{
    list-style: none;
}

ul{
    display: flex;
}

a{
    text-decoration: none;
}

.subnav a{
    display: inline-block;
    line-height: 49px;
}

.subnav_wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.subnav_list {
    padding: 0;
    margin: 0;
}

.disply_bundle{
    display: inline-block;
    margin-left: 20px;
}

.first_letter{
    font-size: 15px;
    font-weight: 700;
    color: #222624;
}

.second_letter{
    font-size: 14px;
    font-weight: 400;
    color: #808080;
}

.except_home_letter{
    margin-left: 15px;
}

.subnav li + li {
    margin-left: 32px;
}

/* 네비게이션 항목 설정 */
.select{
    color: #009a3e;
}

.list_my_setting_items{
    display: none;
}

.list_profile_items{
    display: none;
}


/*컨텐츠*/
.wrap{
    letter-spacing: -0.05em;
    padding-top: 30px;
    padding-bottom: 100px;
}

.divide_btns{
    display: flex;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.btn_setting{
    display: block;
    color: #4D4D4D;
    background-color: #F2F2F2;
    padding: 0 12px;
    line-height: 37px;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 14px;
}

.select_btn{
    color: #fff;
    background-color: #009a3e;
}

.btn_list{
    margin: 0;
    padding: 0;
}

.user_center_num{
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 20px;
    font-size: 13px;
    color: #4D4D4D;
}

.divide_btns li:not(.activate) a:hover{
    background-color: #d9d9d9;
}

.detail_content{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* 본문 */
p{
    margin: 0;
}

.inquiry_detail_title{
    margin-top: -3px;
    padding: 0 0 28px;
    font-size: 22px;
    color: #222624;
    border-color: #d9d9d9;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-weight: 500;
}

.inquiry_date{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 13px;
    color: #b3b3b3;
}

.inquiry_detail_content{
    padding: 30px 0;
    line-height: 24px;
    font-size: 14px;
    color: #808080;
    word-break: break-all;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    letter-spacing: -0.05em;
}

.inquiry_detail_reply{
    position: relative;
    margin-top: 30px;
    padding: 10px 32px 11px;
    line-height: 24px;
    font-size: 15px;
    color: #808080;
    word-break: break-all;
    background-color: #f2f2f2;
    border: 0;
    border-radius: 4px;
}


.icon1{
    position: absolute;
    left: 9px;
}

.writer{
    line-height: 24px;
    font-size: 15px;
    color: #808080;
    word-break: break-all;
}

.writer strong{
    font-weight: 400;
    color: #4D4D4D;
}

.subject{
    color: #4D4D4D;
    padding-top: 6px;
    font-weight: 700;
}

.inquiry_detail_btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    font-size: 0;
}

.detail_delete_btn{
    background-color: #ffffff;
    margin-top: 0;
    display: flex;
    width: 70px;
    height: 50px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    color: #808080;
    text-align: center;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.go_to_inquiry_list{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #808080;
    margin-top: 0;
    width: 70px;
    height: 50px;
    font-size: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-left: 8px;
}



/* 스크롤 CSS */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* 위로가기 버튼 */
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #009a3e;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

#topBtn:hover {
    background-color: #c2185b;
}

