body{
    letter-spacing: -0.05em;
    margin: 0;
    zoom: 100%;
}

*{
    font-family: 'Spoqa Han Sans', sans-serif
}

/* 서브네비게이션 */
.subnav{
    border-bottom: 1px solid #d9d9d9;
}

ul, ol, li{
    list-style: none;
}

ul{
    display: flex;
}

a{
    text-decoration: none;
}

.subnav a{
    display: inline-block;
    line-height: 49px;
}

.subnav_wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.subnav_list {
    padding: 0;
    margin: 0;
}

.disply_bundle{
    display: inline-block;
    margin-left: 20px;
}

.first_letter{
    font-size: 15px;
    font-weight: 700;
    color: #222624;
}

.second_letter{
    font-size: 14px;
    font-weight: 400;
    color: #808080;
}

.except_home_letter{
    margin-left: 15px;
}

.subnav li + li {
    margin-left: 32px;
}

/* 네비게이션 항목 설정 */
.select{
    color: #009a3e;
}

.list_my_setting_items{
    display: none;
}

.list_my_shopping{
    display: none;
}


/*컨텐츠*/
.wrap{
    letter-spacing: -0.05em;
    padding-top: 30px;
    padding-bottom: 100px;
}


.user_center_num{
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 20px;
    font-size: 13px;
    color: #4D4D4D;
}

.faq_content{
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.message_box_title{
    font-size: 18px;
    margin: 0;
}

.search_wrap{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 30px;
    border-radius: 4px;
}


.search_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.search_input{
    width: calc(100% - 367px);
    padding-right: 64px;
    text-indent: 19px;
    box-sizing: border-box;
    line-height: 32px;
    width: 268px;
    height: 50px;
    font-size: 15px;
    color: #808080 ;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
}

input::placeholder {
    color: #b3b3b3;
    font-size: 14px;
}

.search_btn{
    position: absolute;
    right: 0;
    width: 65px;
    height: 50px;
    font-size: 15px;
    color: #009a3e;
    background-color: #fff;
    outline: none;
    border:1px solid #d9d9d9;
    border-left:0;
    border-radius: 4px;
    cursor: pointer;
}

.purchase_complete_btn{
    display: flex;
    width: 90px;
    height: 30px;
    line-height: 1;
    font-size: 15px;
    color: #009a3e;
    background-color: #e5f5eb;
    border: 1px solid #009a3e;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.review_table{
    width: 80%;
    margin: 0 auto;
    border-top: 2px solid #808080;
    border-bottom-color: #d9d9d9;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 700;
    color: #4D4D4D;
    background-color: #f7f7f7;
}

.review_info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 20px 0;
}

.my_review{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1px;
    margin-bottom: 0;
    text-align: center;
    padding: 16px 0;
    color: #808080;
    font-weight: 500;
    background-color: #f7fafd;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box;
}

.review_num{
    width: 8.33%;
}

.review_title{
    width: 30%;
}

.review_content{
    width: 31.67%;
}

.star_score{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 30px;
}

.star_score_letter{
    width: 15%;
}

.review_date{
    width: 15%;
}

.review_my_title{
    width: 30%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.review_my_content{
    width: 31.67%;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size: 12px;
}


.detail_link{
    cursor: pointer;
    color: #808080;
}

.paging_navigation{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.prev{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 32px;
}

.paging_num{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #009a3e;
}

.paging_next_num{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #b3b3b3;
    margin-left: 20px;
}

.next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 32px;
    margin-left: 35px;
}

.arrow_left{
    width: 7px;
}

.arrow_right{
    width: 7px;
}


/* 스크롤 CSS */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}