<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
    <link rel="stylesheet" href="/css/login/join.css"/>
</head>
<body>
<div class="wrapper">
    <div class="logo">
        <form action="/members/join-to-main" method="get">
            <button>
                <span class="logo-name">이웃집 반찬</span>
            </button>
        </form>
    </div>
    <form action="/members/register" class="join" method="post" name="writeForm">
        <div class="join-wrapper">
            <div class="join-content">
                <dl style="text-align: center;">
                    <label for="profile" id="profile_label">
                        <div class="img">
                            <img id="image" src="">
                            <div class="camera">
                                <img class="img" src="/css/admin/images/camera.png" width="20" alt="">
                            </div>
                        </div>
                        <span class="close" style="display:none">X</span>
                    </label>
                    <!-- 이미지만을 업로드할 수 있게 -->
                    <input type="file" name="file" id="profile" style="display: none" accept="image/*"/>
                </dl>
                <dl>
                    <dt>아이디</dt>
                    <dd class="id-check">
                        <input type="text" class="identification"  name="memberIdentification" placeholder="아이디">
                        <p class="id-err err"></p>
                    </dd>
                </dl>
                <dl>
                    <dt>비밀번호</dt>
                    <dd class="password">
                        <input type="password" class="pw" name="memberPassword" placeholder="비밀번호">
                        <p class="err-password err"></p>
                    </dd>
                    <dd style="margin-top:5px">
                        <input type="password" id="join-check-password" placeholder="비밀번호 확인">
                        <p class="err-password-check err"></p>
                    </dd>
                </dl>
                <dl>
                    <dt>닉네임</dt>
                    <dd>
                        <input type="text" class="nick-name" name="memberNickname" placeholder="닉네임(2~10자)">
                        <p class="err-nickname err"></p>
                    </dd>
                </dl>
                <dl>
                    <dt>이름</dt>
                    <dd>
                        <input type="text" class="name" name="memberName" placeholder="이름">
                        <p class="err-name err"></p>
                    </dd>
                </dl>
                <dl>
                    <dt>생일</dt>
                    <input type="text" class="birth" name="memberBirth" placeholder="생일 ex)19980101">
                    <p class="err-birth err"></p>
                </dl>
                <dl>
                    <dt>핸드폰 번호</dt>
                    <input type="text" class="phone" name="memberPhone" placeholder="전화번호 ex)01041938215">
                    <p class="err-phone err"></p>
                </dl>
                <dl>
                    <dt>지역</dt>
                    <select name="memberRegion" class="regionSelect">
                        <option value="0">선택</option>
                        <option value="1">강남구</option>
                        <option value="2">강동구</option>
                        <option value="3">강북구</option>
                        <option value="4">강서구</option>
                        <option value="5">관악구</option>
                        <option value="6">광진구</option>
                        <option value="7">구로구</option>
                        <option value="8">금천구</option>
                        <option value="9">노원구</option>
                        <option value="10">도봉구</option>
                        <option value="11">동대문구</option>
                        <option value="12">동작구</option>
                        <option value="13">마포구</option>
                        <option value="14">서대문구</option>
                        <option value="15">서초구</option>
                        <option value="16">성동구</option>
                        <option value="17">성북구</option>
                        <option value="18">송파구</option>
                        <option value="19">양천구</option>
                        <option value="20">영등포구</option>
                        <option value="21">용산구</option>
                        <option value="22">은평구</option>
                        <option value="23">종로구</option>
                        <option value="24">중구</option>
                        <option value="25">중랑구</option>


                    </select>
                    <p class="err-region err"></p>
                </dl>
                <dl>
                    <dt>이메일</dt>
                    <input class="email" type="text" name="memberEmail" placeholder="이메일" th:if="${session.memberVO == null}">
                    <input class="email" type="text" name="memberEmail" th:if="${session.memberVO != null}" th:value="${session.memberVO.getMemberEmail()}" readonly style="opacity: 0.5">
                    <p class="err-email err"></p>
                </dl>
                <dl>
                    <dt>자기소개</dt>
                    <textarea placeholder="20자 이내로 써주세요" name="memberHiSentence"></textarea>
                </dl>
                <dl>
                    <dt>약관동의</dt>
                    <dd>
                        <div class="policy">

                            <div class="check-all">
                                <label>
                                    전체동의
                                    <input type="checkbox">
                                    <span class="span-check" style="left:378px;"></span>
                                </label>
                            </div>

                            <div class="check">
                                <button type="button" onclick="show1()">이용약관</button>
                                <input type="checkbox">
                                <span class="span-check"></span>
                            </div>

                            <div class="check">
                                <button type="button" onclick="show2()">개인정보 처리 방침</button>
                                <input type="checkbox">
                                <span class="span-check"></span>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
            <button type="button" class="join-btn" onclick="send()">회원가입 완료</button>
        </div>
    </form>


    <div id="modal-agree" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h2>서비스 이용약관</h2>
            </div>
            <div class="close-area" onclick="">X</div>
            <div class="content">
                <div class="wrapper">
                    <p>
                        <span class="fc6">제1조 (목적)</span><br>
                        이웃집반찬 이용약관(이하 “약관”이라 합니다)은 주식회사 코나(이하 “회사”)가 제공하는 서비스와 관련하여 회사와 이용 고객(또는 회원) 간의 이용 조건 및 절차, 회사와
                        회원 간의 권리, 의무 및 책임 사항을 포함한 기타 필요한 사항을 규정함을 목적으로 합니다.
                    </p>
                    <p>
                        <span class="fc6">제2조 (정의)</span><br>
                        본 약관에서 사용하는 용어의 정의는 다음 각 호와 같습니다.<br>
                        1. “이웃집반찬 서비스(이하 “서비스”)”란 이용 고객 또는 회원이 PC, 휴대형 단말기, 태블릿PC 등 각종 유무선 기기 또는 프로그램을 통하여 이용할 수 있도록 회사가
                        제공하는 식물, 소품, 플랜(인)테리어 관련 콘텐츠 및 전문가 큐레이션, SNS 및 그 외 관련 서비스 일체를 말합니다.<br>
                        2. “회원”이란 회사의 서비스에 접속하여 본 약관에 동의, ID와 PASSWORD를 발급받는 회원등록 절차를 거쳐 회사가 제공하는 서비스를 제공받고 이용하는 이용자를
                        의미합니다.<br>
                        3. “비회원”이란 회원등록을 하지 않고 회사가 제공하는 서비스를 이용하는 이용자를 말합니다.<br>
                        4. “판매자’란 본 ”서비스“를 통하여 제품을 판매하는 회원을 말합니다.<br>
                        5. “스페셜리스트”란 본 “서비스”를 통하여 플랜(인)테리어 관련 유료서비스를 제공하는 회원 중 회사가 지정한 자격 검증절차를 거쳐 회원 서비스와 제품에 대한 정보 및
                        상담을 제공할 수 있는 회원을 의미합니다.<br>
                        6. 본 약관에서 별도의 언급이 없는 경우 모든 약관의 조항들은 판매자와 스페셜리스트에게도 회원과 동일하게 적용됩니다.<br>
                        7. “회원정보”란 회사가 가입신청자에게 회원가입 신청양식(이하 “신청양식")의 기재를 통하여 요청하는 가입 신청자의 개인정보와 회원의 식별 및 서비스 이용을 위하여 회원이
                        직접 입력한 개인정보를 의미합니다.<br>
                        8. “회원아이디(ID)”란 회원 식별과 본 서비스의 이용을 위하여 회원이 설정하고 회사가 승인하여 회사에 등록된 문자와 숫자의 조합을 말합니다. 본 서비스에서는
                        E-mail 주소를 ID로 사용합니다.<br>
                        9. “비밀번호(PASSWORD)”란 회원의 동일성 확인과 정보 보호를 위하여 회원 스스로가 설정하고 회사에 등록한 문자와 숫자의 조합을 말합니다.<br>
                        10. “게시물”이란 회원이 회사가 제공하는 서비스에 게시 또는 등록하는 부호(URL 포함), 문자, 음성, 음향, 영상(동영상 포함), 이미지(사진 포함), 파일 등
                        일체의 정보를 말합니다.<br>
                        11. “협력사”, “공급사”, “판매자”, “스페셜리스트”란 회사와 특정 업무에 대하여 제휴를 맺은 업체를 말하며, 관련 기준은 별도의 약정서를 통합니다.
                    </p>
                    <p>
                        <span class="fc6">제3조 (약관)</span><br>
                        1. 본 약관은 회원이 쉽게 알 수 있도록 약관의 내용과 상호, 소재지, 대표자의 성명, 사업자등록번호, 연락처 등을 회사의 초기 서비스화면에 게시하거나 기타의 방법으로
                        회원에게 공지함으로써 효력이 발생합니다.<br>
                        2. 회사는 약관의 규제에 관한 법률, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관계법령에 위배되지 않는 범위 내에서 본 약관을 개정할 수 있습니다.<br>
                        3. 회사가 약관을 개정하는 경우 회사는 개정 사유 및 적용 일자를 명시하여 현행 약관과 함께 적용일자 7일 전부터 적용 전일까지 제1항의 방법으로 공지합니다. 다만,
                        회원의 권리 또는 의무에 관한 중요한 규정의 변경은 최소한 30일전에 공지하고 개정약관을 회원이 등록한 전자우편으로 발송하여 통지합니다.<br>
                        4. 회사가 제3항에 따라 개정약관을 공지 또는 통지하였음에도 불구하고 회원이 명시적으로 거부의사를 표시 하지 아니하는 경우 회원이 개정약관에 동의한 것으로 봅니다.<br>
                        5. 본 약관에 동의하는 것은 서비스를 정기적으로 방문하여 약관의 변경사항을 확인하는 것에 동의함을 의미 하며, 따라서 변경된 약관에 대한 정보를 알지 못하여 발생하는
                        회원의 피해에 대하여 회사는 책임을 지지 않습니다.
                    </p>
                    <p>
                        <span class="fc6">제4조 (약관 외 준칙 및 관계법령)</span><br>
                        1. 본 약관에 명시되지 않은 사항에 대해서는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 약관의 규제에 관한 법률, 전기통신사업법 등 관계법령 및 회사가 정한 서비스
                        등의 규정에 따릅니다.<br>
                        2. 회사가 제공하는 서비스를 통하지 아니한 회원 상호간의 거래에 관하여 회사는 책임을 지지 않으며 해당 회원은 본 약관에 의한 보호 및 관련법령에 따른 거래상대방에 대한
                        면책 등을 주장할 수 없습니다.
                    </p>
                    <p>
                        <span class="fc6">제5조 (계약의 성립)</span><br>
                        1. 서비스 이용계약은 회사가 정한 가입 양식에 따라 회원정보(전자우편주소, 비밀번호, 별명 등)를 기입하여 회원가입신청을 하고 회사가 이러한 신청에 대하여 승인함으로써
                        체결됩니다.<br>
                        2. 판매자는 이웃집반찬 내 제품을 판매하는 직종에 종사하는 회원으로 가입신청과 회사 승인의 절차를 통해 판매자로서 서비스를 이용할 수 있습니다.<br>
                        3. 스페셜리스트는 플랜(인)테리어 관련 유료서비스를 제공하는 직종에 종사하는 회원으로 가입신청과 회사 승인의 절차를 통해 스페셜리스트로서 서비스를 이용할 수
                        있습니다.<br>
                        4. 가입신청자가 회원정보를 제출하는 것은 회원가입 화면에 노출되어 있는 본 약관 및 개인정보처리방침의 내용을 숙지하고, 회사가 서비스 이용을 위해 운영하는 각종
                        정책(저작권 정책, 운영 방침 등)과 수시로 공지하는 사항을 준수하는 것에 대해 동의하는 것으로 봅니다.
                    </p>
                    <p>
                        <span class="fc6">제6조 (이용신청에 대한 승낙 및 제한)</span><br>
                        1. 회사는 서비스의 이용신청에 대하여 원칙적으로 신청자의 서비스 이용을 승낙합니다.<br>
                        2. 회사는 다음 각 호에 해당하는 경우 이용신청에 대한 승낙을 거부 또는 유보할 수 있습니다.<br>
                        ① 기술상 서비스 제공이 불가능한 경우<br>
                        ② 신청 양식의 기재사항의 누락 또는 오기로 인하여 일치하지 않는 경우<br>
                        ③ 만 14세 미만의 자가 이용신청을 한 경우<br>
                        ④ 사회의 안녕질서 또는 미풍양속을 저해하거나 저해할 목적으로 신청한 경우<br>
                        ⑤ 회원의 귀책사유에 의하여 회원자격을 상실한 적이 있는 경우. 단, 자격상실 후 6개월이 경과한 자로 회사의 회원 재가입 승낙을 받은 경우는 예외로 합니다.<br>
                        ⑥ 기타 회사가 정한 이용 요건에 충족되지 않았을 경우<br>
                        3. 회사는 서비스를 이용하는 회원에 대하여 회원의 종류 및 등급별로 구분하여 이용시간, 이용 회수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다.<br>
                        4. 회사는 스페셜리스트 전환을 신청한 회원에 대하여 회사의 업무상, 기술상 또는 서비스 운영 정책상 문제가 있다고 판단하는 경우 전환 접수를 제한할 수 있습니다.<br>
                        5. 이용신청 시 회원정보는 사실과 다름이 없어야 하며, 그렇지 않음을 확인한 경우 회사는 승인을 거부하거나 사전 통지 없이 이용 계약을 해지할 수 있습니다.<br>
                        6. 타인의 개인정보를 도용하는 등 부정한 목적 또는 방법으로 이용신청을 한 회원에 대해 회사는 사전 통지 없이 이용 계약을 해지할 수 있으며, 해당 회원은 관계법령에 따라
                        처벌을 받을 수 있습니다.
                    </p>
                    <p>
                        <span class="fc6">제7조 (정보의 변경)</span><br>
                        1. 회원은 서비스를 통하여 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다.<br>
                        2. 회원은 회사에 제출한 회원정보가 변경되었을 경우 개인정보 설정 화면에서 회원정보를 수정하거나 고객센터를 통하여 회사에 변경 사항을 통지하여야 합니다.<br>
                        3. 회원정보를 변경하지 않음으로 발생하는 모든 책임은 회원에게 있습니다.<br>
                        4. 스페셜리스트가 회사에 제출한 정보를 변경하는 경우, 변경된 정보에 대해 회사의 지정된 검증절차를 재요청, 승인 되어야만 변경된 정보가 서비스에 반영됩니다.
                    </p>
                    <p>
                        <span class="fc6">제8조 (서비스의 이용)</span><br>
                        1. 회사는 회원의 이용신청을 승낙한 때부터 서비스를 개시합니다.<br>
                        2. 회사의 업무상, 기술상의 장애로 인하여 서비스를 개시하지 못하거나 중지되는 경우 사전 또는 사후에 회원에게 이를 통지합니다.<br>
                        3. 회사는 서비스 내의 개별서비스에 대한 별도의 약관을 둘 수 있으며, 개별서비스에서 별도로 적용되는 약관에 대한 동의는 회원이 개별서비스를 최초로 이용할 경우 별도의
                        동의절차를 거치게 됩니다.
                    </p>
                    <p>
                        <span class="fc6">제9조 (서비스의 변경 및 중지)</span><br>
                        1. 회사는 상당한 이유가 있는 경우 서비스(개별서비스 포함)를 변경 또는 중지할 수 있습니다.<br>
                        2. 서비스의 변경 또는 중지가 필요한 경우 회사는 내용 및 일자를 회원에게 통지하여야 합니다.<br>
                        3. 회사는 다음 각 호에 해당하는 경우 서비스의 전부 또는 일부를 제한하거나 중지할 수 있습니다.<br>
                        ① 서비스용 설비의 보수 등 공사로 인한 부득이한 경우<br>
                        ② 회원이 회사의 영업활동을 방해하는 경우<br>
                        ③ 정전, 설비 장애 또는 이용량의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 경우<br>
                        ④ 제휴업체(BP)와의 계약종료 등과 같은 회사의 제반 사정으로 서비스를 유지할 수 없는 경우<br>
                        ⑤ 기타 천재지변, 국가비상사태 등 불가항력적 사유가 있는 경우
                    </p>
                    <p>
                        <span class="fc6">제10조 (회사의 의무)</span><br>
                        1. 회사는 본 약관이 정하는 바에 따라 지속적이고 안정적으로 서비스를 제공합니다.<br>
                        2. 회사는 서비스 제공과 관련하여 알고 있는 회원의 회원정보를 본인의 동의 없이 제3자에게 제공하지 않습니다.<br>
                        3. 회사는 회원의 회원정보를 보호하기 위해 보안시스템을 구축 운영하며, "개인정보처리방침"을 공지하고 준수합니다.<br>
                        4. 회사는 서비스와 관련한 회원의 불만사항이 접수되는 경우 이를 신속하게 처리하며, 그 사유와 처리 일정을 회원에게 통지합니다.<br>
                        5. 공정하고 건전한 운영을 통하여 전자거래 질서유지에 최선을 다하고, 지속적인 연구와 개발을 통하여 양질의 서비스를 제공합니다.<br>
                        6. 회사의 고의나 중과실에 의해 회원에게 손해가 발생한 경우 회사는 그 책임을 부담하며, 그 책임의 범위는 통상 손해에 한합니다.
                    </p>
                    <p>
                        <span class="fc6">제11조 (회원의 의무)</span><br>
                        1. 회원은 관계법령, 약관, 서비스 이용안내, 주의사항 및 회사가 서비스 이용과 관련하여 회원에게 통지하는 사항 등을 준수하여야 합니다.<br>
                        2. 회원은 회사에서 공식적으로 인정한 경우를 제외하고는 서비스를 이용하여 상품을 판매하는 영업 활동을 할 수 없으며, 특히 해킹, 광고를 통한 수익, 음란사이트를 통한
                        상업 행위, 상용소프트웨어 불법 배포 등을 할 수 없습니다. 이를 위반하여 발생한 영업 활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 회사가
                        책임을 지지 않으며, 회원은 이와 같은 행위와 관련하여 회사에 대하여 손해배상 의무를 집니다.<br>
                        3. 회원은 서비스의 이용 권한과 서비스 이용계약상의 지위를 타인에게 양도, 증여할 수 없으며 이를 담보로 제공할 수 없습니다.
                    </p>
                    <p>
                        <span class="fc6">제12조 (회원에 대한 통지)</span><br>
                        1. 회사는 회원의 서비스 이용에 필요한 권리 및 의무 등에 관한 사항을 회원이 지정한 E-mail, SMS 등으로 통지할 수 있습니다.<br>
                        2. 불특정다수 회원에 대한 통지는 서비스 내에 게시함으로써 개별 통지에 갈음할 수 있습니다.
                    </p>
                    <p>
                        <span class="fc6">제13조 (ID와 PASSWORD 관리에 대한 의무와 책임)</span><br>
                        1. 회원은 자신의 ID와 PASSWORD 관리를 철저히 하여야 합니다.<br>
                        2. 회원 본인의 ID 및 PASSWORD를 타인에게 양도하거나 사용하게 할 수 없습니다.<br>
                        3. 회원은 자신의 ID와 PASSWORD관리 소홀, 부정사용에 의하여 발생하는 모든 결과에 대한 책임은 회원 본인에게 있습니다.<br>
                        4. 회사는 회원 ID의 유출 우려가 있거나, 반사회적 또는 미풍양속에 어긋나거나 회사 및 회사의 운영자로 오인할 우려가 있는 경우, 해당 ID의 이용을 제한할 수
                        있습니다.<br>
                        5. 도난당하거나 타인이 사용하고 있음을 인지하는 경우에는 바로 회사에 통보하고 회사의 안내가 있는 경우 그에 따라야 합니다.
                    </p>
                    <p>
                        <span class="fc6">제14조 (회원정보의 보호 및 이용)</span><br>
                        1. 회사는 이용계약의 성립 및 이행에 필요한 최소한의 범위 내에서 개인정보처리방침에 따라 회원의 회원정보를 수집합니다.<br>
                        2. 회사의 개인정보처리방침은 회사에 연동된 다른 서비스에는 적용되지 않습니다.<br>
                        3. 회사는 통신비밀보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관계법령에 따라 행정기관이나 수사기관 등에서 회원의 회원정보의 열람이나 제출을 요청하는
                        경우에는 이를 제공할 수 있습니다.<br>
                        4. 회사는 배송 업무 등 서비스 제공에 필요한 경우 최소한의 이용자 정보(성명, 주소, 연락처)를 알려줄 수 있습니다.<br>
                        5. 회사는 회원의 귀책사유로 인해 노출된 회원정보에 대해서 일체의 책임을 지지 않습니다.<br>
                        6. 회사는 회원정보의 처리 및 관리 등의 업무를 스스로 수행함을 원칙으로 하나, 필요한 경우 이러한 업무의 일부 또는 전부를 회사가 선정한 회사에 위탁할 수 있으며, 이
                        경우에는 개인정보처리방침을 통하여 공지합니다.<br>
                        7. 회원이 이용계약 체결과정에서 회사에 제공한 회원정보에 대한 이용 또는 제공에 대한 동의를 철회하는 경우 서비스 이용계약은 자동으로 해지됩니다.
                    </p>
                    <p>
                        <span class="fc6">제15조 (개인정보 열람 및 보유)</span><br>
                        1. 회원은 회사가 보관하는 본인 정보의 열람 및 오류의 정정을 요청할 수 있습니다.<br>
                        2. 회원의 오류정정 요청이 있을 경우, 회사는 그 오류를 정정 할 때까지 당해 개인정보를 이용하지 않습니다.<br>
                        3. 회사는 관련법령의 규정에 의하여 권리 의무 관계의 확인 등을 이유로 다음과 같이 거래와 관련된 개인정보를 일정기간 보유하여야 할 수 있습니다.<br>
                        ① 계약 또는 청약철회 등에 관한 기록: 5년<br>
                        ② 대금결제 및 재화 등의 공급에 관한 기록: 5년<br>
                        ③ 소비자의 불만 또는 분쟁 처리에 관한 기록: 3년
                    </p>
                    <p>
                        <span class="fc6">제16조 (계약해지 및 이용제한)</span><br>
                        1. 회원이 서비스 이용계약을 해지하고자 할 경우에는 서비스를 제공하는 홈페이지 또는 어플리케이션에서 해지 신청을 하여야 하며 계약 해지가 불가능한 경우에는 회원이 회사가
                        제공하는 서비스 페이지 또는 전자우편 등의 방법으로 회사에 해지 신청을 할 수 있습니다.<br>
                        2. 회사는 회원이 본 약관 및 개별서비스 이용약관을 위반한 경우 또는 서비스의 정상적인 운영을 방해한 경우에는 경고, 일시적 이용정지, 영구적 이용정지 등의 제한조치를
                        하거나 이용계약을 해지할 수 있습니다.<br>
                        3. 회원은 제2항의 조치에 대해 전자우편 등을 통해 이의신청을 할 수 있으며, 회사는 회원의 이의신청이 정당하다고 판단되는 경우 즉시 서비스 이용을 재개합니다.<br>
                        4. 회사는 회원이 계속해서 6개월 이상 이용하지 않는 경우, 휴면회원으로 구분하며, 회원정보의 보호 및 운영의 효율성을 위해 서비스의 이용을 제한할 수 있습니다.
                    </p>
                    <p>
                        <span class="fc6">제17조 (구매신청)</span><br>
                        회원은 본 약관 및 회사가 정한 규정에 따라 다음과 같은 과정으로 구매신청을 할 수 있습니다.<br>
                        ① 구매하고자하는 재화 등의 선택<br>
                        ② 수신인의 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력<br>
                        ③ 약관 내용, 배송료, 설치비 등의 비용부담과 관련한 내용에 대한 확인<br>
                        ④ 구매신청 및 이에 관한 확인 또는 회사의 확인에 대한 동의<br>
                        ⑤ 결제 방법의 선택
                    </p>
                    <p>
                        <span class="fc6">제18조 (구매계약의 성립)</span><br>
                        1. 회사는 제17조와 같은 구매 신청에 대하여 다음의 경우 해당 신청을 거부할 수 있습니다.<br>
                        ① 신청 내용에 허위, 기재 누락, 오기가 있는 경우<br>
                        ② 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우<br>
                        ③ 기타 회사의 기술상 현저한 지장이 있다고 판단하는 경우<br>
                        2. 미성년자인 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있습니다.<br>
                        3. 구매 신청에 대해 이용자에게 수신확인통지가 도달한 시점에 계약이 성립한 것으로 봅니다.<br>
                        4. 회사의 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매 가능여부, 구매신청의 정정 취소 등에 관한 정보 등을 포함하여야 합니다.
                    </p>
                    <p>
                        <span class="fc6">제19조 (대금지급)</span><br>
                        1. 회사에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각 호의 방법 중 가용한 방법으로 할 수 있습니다.<br>
                        ① 폰뱅킹, 인터넷뱅킹 등의 각종 계좌이체<br>
                        ② 선불카드, 직불카드, 신용카드 등의 각종 카드 결제<br>
                        ③ 휴대폰 결제<br>
                        ④ 온라인 가상계좌 입금<br>
                        ⑤ 회사가 지급한 할인쿠폰, 포인트 등에 의한 결제<br>
                        ⑥ 기타 회사가 추가 지정하는 결제 수단<br>
                        2. 회사는 이용자의 지급방법에 대하여 어떠한 명목의 수수료도 추가하여 징수할 수 없습니다.<br>
                        3. 회사는 회원의 대금 지급에 기술적 문제가 발생하거나 은행 통신망 장애 등 예상치 못한 문제가 발생하는 경우 회원에게 결제 수단의 변경을 요청할 수 있습니다.<br>
                        4. 결제와 관련하여 회원이 입력한 정보 및 그와 관련된 책임은 회원에게 있으며, 재화 또는 용역의 청약 이후 합리적인 일정 기간 내 결제가 이루어 지지 않는 경우 회사는
                        해당 주문을 취소할 수 있습니다.<br>
                        5. 회사는 구매자의 결제 수단에 대하여 정당한 사용권한 보유 여부를 확인할 수 있으며 필요한 경우 해당 거래 진행의 보류 및 소명 자료의 제출을 요청할 수 있습니다.
                    </p>
                    <p>
                        <span class="fc6">제20조 (수신확인통지, 구매신청 변경 및 취소)</span><br>
                        1. 회사는 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.<br>
                        2. 수신확인통지를 받은 이용자는 불일치 항목이 있는 경우 수신확인통지를 받은 즉시 구매신청 변경 및 취소를 할 수 있고 회사는 배송 전에 이용자의 요청이 있는 경우에는
                        지체 없이 그 요청에 따라 처리하여야 합니다.
                    </p>
                    <p>
                        <span class="fc6">제21조 (재화 등의 공급)</span><br>
                        1. 회사는 이용자와 재화 등의 공급시기에 관하여 별도의 약정이 없는 이상, 이용자가 청약을 한 날부터 7일 이내에 재화 등을 배송할 수 있도록 주문제작, 포장 등 기타의
                        필요한 조치를 취합니다.<br>
                        2. 회사는 이용자가 재화 등의 공급 절차 및 진행 사항을 확인할 수 있도록 적절한 조치를 합니다.<br>
                        3. 공휴일 및 기타 휴무일 또는 천재지변 등의 불가항력적인 사유가 발생하는 경우 그 해당 기간은 배송 소요 기간에서 제외합니다.<br>
                        4. 회사는 이용자가 구매 신청한 재화 등이 품절 등의 사유로 공급이 불가능한 경우 지체 없이 그 사유를 이용자에게 통지하여야 하며 대금을 받은 경우에는 대금을 받은 날부터
                        3 영업일 이내에 환급하거나 환급에 필요한 조치를 취합니다.
                    </p>
                    <p>
                        <span class="fc6">제22조 (청약철회 등)</span><br>
                        1. 회사와 재화 등의 구매에 관한 계약을 체결한 이용자는 수신확인의 통지를 받은 날로부터 7일 이내에는 청약의 철회를 할 수 있습니다. 다만, 통지를 받은 때보다 공급이
                        늦게 이루어진 경우에는 재화 등의 공급을 받은 날로부터 7일 이내에 청약 철회를 할 수 있습니다.<br>
                        2. 이용자는 재화 등을 배송 받은 경우, 다음 각 호의 어느 하나에 해당하는 경우에는 반품 및 교환을 할 수 없습니다.<br>
                        ① 이용자에게 책임이 있는 사유로 재화 등이 훼손된 경우<br>
                        ② 이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우<br>
                        ③ 시간의 경과에 의하여 재판매가 불가능할 정도로 재화 등의 가치가 현저히 감소한 경우<br>
                        ④ 유사 상품으로 복제가 가능한 경우 그 원본인 재화 등의 포장을 훼손한 경우<br>
                        3. 이용자는 제1항 및 제2항의 규정에도 불구하고 재화 등의 내용이 표시, 광고 내용과 다르거나 계약내용과 다르게 이행된 경우에는 당해 재화 등을 공급받은 날로부터 3개월
                        이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30 일 이내에 청약철회를 할 수 있습니다.
                    </p>
                    <p>
                        <span class="fc6">제23조 (청약철회 등의 효과)</span><br>
                        1. 회사는 이용자로부터 재화 등을 반환 받은 경우 3영업일 이내에 이미 지급받은 재화 등의 대금을 환급합니다.<br>
                        2. 회사가 이용자에게 재화 등의 환급을 지연한 때에는 그 지연기간에 대하여 공정거래위원회가 정하여 고시 하는 지연이자율을 곱하여 산정한 지연이자를 지급합니다.<br>
                        3. 회사는 위 대금을 환급함에 있어서 이용자가 신용카드 또는 전자화폐 등의 결제수단으로 재화 등의 대금을 지급한 때에는 지체 없이 당해 결제수단을 제공한 사업자로 하여금
                        재화 등의 대금의 청구를 정지 또는 취소하도록 요청합니다.<br>
                        4. 청약철회 등의 경우 공급받은 재화 등의 반환에 필요한 비용은 이용자가 부담합니다. 다만 재화 등의 내용이 표시, 광고의 내용과 다르거나 계약내용과 다르게 이행된 경우의
                        청약철회는 반환에 필요한 비용을 회사가 부담합니다.<br>
                        5. 이용자가 재화 등을 제공받을 때, 청약철회 시 배송 등의 제반 비용을 누가 부담하는지를 이용자가 알기 쉽도록 명확하게 표시합니다.
                    </p>
                    <p>
                        <span class="fc6">제24조 (쿠폰)</span><br>
                        1. 회사는 재화 등을 구매하는 이용자에게 지정된 상품 구매 시 일정액 또는 일정비율을 할인 받을 수 있는 쿠폰을 발급할 수 있습니다.<br>
                        2. 회사에서 명시한 경우를 제외하고는 타인에게 양도, 증여 등을 할 수 없습니다.<br>
                        3. 쿠폰은 현금화 할 수 없으며, 표시된 유효기간이 만료되거나 이용계약이 종료되면 소멸됩니다.<br>
                        4. 쿠폰은 일부 품목이나 금액에 따라 사용이 제한될 수 있으며, 이용계약을 해지하는 경우 쿠폰은 소멸됩니다.
                    </p>
                    <p>
                        <span class="fc6">제25조 (포인트)</span><br>
                        1. 포인트는 본 서비스 내에서 사용 가능한 전자화폐로써 재화 등을 구매할 때 1P(포인트)=현금 1원으로 적용, 재화의 구매 등에 사용할 수 있습니다.<br>
                        2. 포인트는 회사의 정책, 이벤트 등을 통해 회사가 정한 절차와 방법에 따라 적립됩니다.<br>
                        3. 포인트의 유효기간은 적립일로부터 1년으로 하며, 회사가 별도로 유효기간을 정한 때에는 이에 따릅니다.<br>
                        4. 청약철회 등으로 환급되는 포인트의 경우 최초 적립 일을 기준으로 유효기간이 적용됩니다.<br>
                        5. 회사에서 명시한 경우를 제외하고는 포인트를 타인에게 양도, 증여 등을 할 수 없습니다.<br>
                        6. 포인트는 유효기간의 도래가 빠른 순서로 사용되며, 유효기간이 만료되거나 이용계약이 종료되면 미사용 포인트는 소멸됩니다.<br>
                        7. 포인트는 회사가 회원에게 무상지급하는 혜택으로 현금화 할 수 없으며 일부 품목이나 금액에 따라 사용이 제한될 수 있습니다.<br>
                        8. 부정한 방법으로 포인트를 획득한 사실이 확인될 경우 회사는 회원의 포인트 회수, 이용계약의 해지 및 형사 고발 등 기타 조치를 취할 수 있습니다.<br>
                        9. 회사는 휴면회원으로 구분된 회원의 포인트는 회수 처리할 수 있습니다.
                    </p>
                    <p>
                        <span class="fc6">제26조 (정보제공과 광고게재)</span><br>
                        1. 회사는 서비스를 운영함에 있어 각종 정보를 서비스 화면에 게재하거나 전자우편, 서신우편, SMS(MMS)등으로 회원에게 제공할 수 있습니다.<br>
                        2. 회사는 서비스를 운영함에 있어 회사 또는 제휴사의 서비스 관련 각종 광고를 서비스 화면 또는 게시물과 결합하여 게재하거나 회원의 동의를 얻어 전자우편 및 서신 우편,
                        SMS(MMS) 등의 방법으로 회원에게 제공 할 수 있습니다.<br>
                        3. 회원이 서비스 상에 게재되어 있는 광고를 이용하거나 서비스를 통한 광고주의 판촉활동에 참여하는 등의 방법으로 교신 또는 거래를 하는 것은 전적으로 회원과 광고주 간의
                        문제입니다. 만약, 회원과 광고주 간에 문제가 발생할 경우에도 회원과 광고주가 직접 해결하여야 하며, 이와 관련하여 회사는 어떠한 책임도 지지 않습니다.<br>
                        4. 회사는 다음 각호에 해당하는 경우 회원의 동의 여부와 상관없이 전자우편으로 발송할 수 있습니다.<br>
                        ① 이용 신청에서 입력한 전자우편 주소의 소유를 확인하기 위해서 인증메일을 발송하는 경우<br>
                        ② 회원의 정보가 변경되어 확인하기 위해서 인증메일을 발송하는 경우<br>
                        ③ 기타 서비스를 제공함에 있어 회원이 반드시 알아야 하는 중대한 정보라고 회사가 판단하는 경우
                    </p>
                    <p>
                        <span class="fc6">제27조 (게시물에 대한 책임)</span><br>
                        1. 회사는 회원이 게시하거나 전달하는 서비스 내의 게시물이 다음 각 호의 경우에 해당한다고 판단되는 경우 사전 통지 없이 삭제할 수 있습니다.<br>
                        ① 회사, 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우<br>
                        ② 공공질서 및 미풍양속에 위반되는 내용의 게시물에 해당하는 경우<br>
                        ③ 범죄 행위와 결부된다고 인정되는 경우<br>
                        ④ 회사 또는 제3자의 저작권, 기타 타인의 권리를 침해하는 내용인 경우<br>
                        ⑤ 회사가 정한 개별 서비스 별 세부이용지침에 반하는 내용인 경우<br>
                        ⑥ 회사에서 제공하는 서비스와 관련 없는 내용인 경우<br>
                        ⑦ 불필요하거나 승인되지 않은 광고, 판촉물을 게재하는 경우<br>
                        ⑧ 타인의 명의 등을 무단으로 도용하여 작성한 내용이거나, 타인이 입력한 정보를 무단으로 위조 또는 변조한 내용인 경우<br>
                        ⑨ 동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우<br>
                        ⑩ 게시물의 정보를 외부 서비스에서 사용하는 행위를 금지하는 사이트에서 URL 정보를 수집하여 게재하는 경우<br>
                        ⑪ 기타 관계 법령 및 회사의 이용 지침 등에 위반된다고 판단되는 경우<br>
                        2. 회사는 개별 서비스 별로 게시물과 관련된 세부이용지침을 별도로 정하여 시행할 수 있으며, 회원은 그 지침에 따라 게시물(회원간 전달 포함)을 게재하여야 합니다.<br>
                        3. 스페셜리스트가 아니면서 플랜(인)테리어 관련 직종에 종사하는 회원이 해당 회원의 서비스와 제품에 대한 정보가 담긴 게시물을 서비스 내에 게재할 경우에는 회사는 해당
                        게시물을 사전 통지 없이 삭제할 수 있으며, 이에 대해 회사는 어떤 책임도 지지 않습니다.
                    </p>
                    <p>
                        <span class="fc6">제28조 (저작권 등)</span><br>
                        1. 회원이 서비스 내에 게시한 게시물의 저작권은 저작권법에 의해 보호를 받으며, 회사가 작성한 저작물에 대한 저작권 및 기타 지적재산권은 회사에 귀속합니다.<br>
                        2. 회원은 자신이 서비스 내에 게시한 게시물을 회사가 국내, 외에서 다음 각 호의 목적으로 사용하는 것을 허락합니다.<br>
                        ① 서비스(제3자가 운영하는 사이트 또는 미디어의 일정 영역 내에 입점하여 서비스가 제공되는 경우 포함) 내에서 게시물을 사용하기 위하여 게시물의 크기를 변환하거나
                        단순화하는 등의 방식으로 수정하는 것<br>
                        ② 회사 또는 관계사가 운영하는 본 서비스 및 연동 서비스 에 게시물을 복제, 전송, 전시하는 것. 다만, 회원이 게시물의 복제, 전송, 전시에 반대 의견을 전자우편을 통해
                        관리자에게 통지할 경우에는 그러하지 않습니다.<br>
                        ③ 회사의 서비스를 홍보하기 위한 목적으로 미디어, 소셜미디어를 포함한 디지털 마케팅 채널, 통신사 등에게 게시물의 내용을 보도, 방영하게 하는 것<br>
                        3. 전 항의 규정에도 불구하고, 회사가 게시물을 전 항 각 호에 기재된 목적 이외에 제3자에게 게시물을 제공 하고 금전적 대가를 지급받는 경우에는 사전에 전화,
                        E-mail 등의 방법으로 회원의 동의를 얻습니다. 이 경우 회사는 회원에게 별도의 보상을 제공합니다.<br>
                        4. 회원이 서비스에 게시물을 게재하는 것은 다른 회원이 게시물을 서비스 내에서 사용하거나, 회사가 검색결과로 사용하는 것을 허락한 것으로 봅니다. 그리고 스마트폰, 태블릿
                        PC의 서비스 이용자(앱 또는 브라우저로 서비스를 비가입 방문한 경우도 포함)가 소프트웨어(예: 앱, 브라우저) 또는 하드웨어(예: 스마트폰, 태블릿PC)에서 제공하는
                        기능을 이용하여 게시물을 저장한 후 활용하는 것을 허락한 것으로 봅니다.<br>
                        5. 제18조에 의해 이용계약이 해지되는 경우 회원이 서비스에 게시한 게시물은 삭제될 수 있습니다. 다만, 다른 회원 또는 제3자에게 의하여 스크랩, 공유 등의 기능을 통해
                        다시 게시된 게시물 및 댓글 등 다른 회원의 정상적인 서비스 이용에 필요한 게시물은 삭제되지 않습니다.<br>
                        6. 회사는 서비스 운영 정책상 또는 회사가 운영하는 사이트 간의 통합 등을 하는 경우 게시물의 내용을 변경 하지 아니하고 게시물의 게재 위치를 변경, 이전하거나 사이트간
                        공유로 하여 서비스할 수 있습니다. 다만, 이 경우에는 사전에 공지합니다.
                    </p>
                    <p>
                        <span class="fc6">제29조 (손해배상)</span><br>
                        1. 회원이 본 약관의 규정을 위반함으로 인하여 회사에 손해가 발생하게 되는 경우, 회원은 회사에 발생하는 모든 손해를 배상하여야 합니다.<br>
                        2. 회원이 서비스를 이용하는 과정에서 행한 불법행위나 본 약관 위반행위로 인하여 회사가 당해 회원 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를
                        받는 경우 당해 회원은 자신의 책임과 비용으로 회사를 면책 시켜야 하며, 회사가 면책되지 못한 경우 당해 회원은 그로 인하여 회사에 발생한 모든 손해를 배상하여야 합니다.
                    </p>
                    <p>
                        <span class="fc6">제30조 (면책사항)</span><br>
                        1. 회사는 천재지변, 해킹 등으로 인한 장애, 기간통신사업자의 회선 장애 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이
                        면책됩니다.<br>
                        2. 회사는 회원의 귀책사유로 인한 서비스의 이용 장애에 대하여 책임을 지지 않습니다.<br>
                        3. 회사는 회원이 사이트에 게재한 게시물에 대하여 확인 또는 사전심사 등의 의무를 갖지 않으며, 따라서 게시물의 정확성 등 내용에 대하여는 책임을 지지 않습니다.<br>
                        4. 회사는 회원 상호간 또는 회원과 제3자 상호간에 서비스를 매개로 발생한 분쟁에 대해서는 개입할 의무가 없으며 이로 인한 손해에 대하여 책임을 지지 않습니다.<br>
                        5. 회원이 자신의 개인정보를 타인에게 유출 또는 제공함으로써, 발생하는 피해에 대하여 회사는 책임을지지 않습니다.<br>
                        6. 게시물 또는 댓글 등을 통해 표현하거나 드러나는 회원의 견해와 회사의 견해는 무관하며, 회사는 회원이 제공하는 게시물 또는 댓글 등에 대하여 어떠한 책임도 지지
                        않습니다.<br>
                        7. 회사는 본 서비스 화면에서 링크, 배너 등을 통하여 연결된 회사와 회원간에 이루어진 거래의결과에 대하여 책임을 지지 않습니다.<br>
                        8. 회사는 회사의 관리 범위에 있지 아니한 장치 등의 보안 문제로 인하여 발생하는 제반 문제 또는 현재의 보안기술 수준으로 방어가 곤란한 네트워크 해킹 등 회사의 귀책사유
                        없이 발생하는 문제에 대해서 책임을 지지 않습니다.
                    </p>
                    <p>
                        <span class="fc6">제31조 (분쟁해결)</span><br>
                        1. 서비스 이용과 관련하여 회사와 회원 사이에 분쟁이 발생한 경우, 회사와 회원은 분쟁의 해결을 위해 성실히 협의합니다.<br>
                        2. 제1항의 협의에서도 분쟁이 해결되지 않을 경우 양 당사자는 민사소송법상의 관할법원에 소를 제기할 수 있으며 소송이 제기되는 경우에는 “회사”의 본사 소재지를 관할하는
                        법원을 관할법원으로 합니다.
                    </p>
                    <p>부칙 (시행일) 본 약관은 2021년 2월 4일부터 시행합니다.</p>
                </div>

            </div>
        </div>
    </div>

    <div id="modal-privacy" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h2>개인정보 이용약관</h2>
            </div>
            <div class="close-area" onclick="">X</div>
            <div class="content">
                <div class="wrapper">
                    <p>
                        주식회사 코나(이하 "회사"라 합니다)는 회사가 제공하는 이웃집반찬 서비스(이하 "서비스"라 합니다) 회원의 개인정보보호를 중요시하며, 『정보통신망 이용촉진 및 정보보호
                        등에 관한 법률』등 개인정보와 관련된 법령상의 개인정보보호규정을 준수하고 있습니다.<br>
                        회사는 아래와 같이 개인정보처리방침을 명시하여 회원이 회사에 제공한 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치를 취하는지
                        알려드립니다. 회사의 서비스 개인정보처리방침은 정부의 법률 및 지침의 변경과 당사의 약관 및 내부 정책에 따라 변경될수 있으며 이를 개정하는 경우 회사는 변경사항에 대하여
                        즉시 서비스 화면에 게시하오니 회원님께서는 사이트 방문 시 수시로 확인하시기 바랍니다.
                    </p>
                    <p>
                        <span class="fc6">1. 이웃집반찬은 이용하는 서비스의 형태에 따라 다음과 같은 개인정보를 수집 및 이용∙제공∙파기하고 있습니다.</span><br>
                        ① 개인정보의 수집 ∙ 이용 목적 및 항목<br>
                        회사가 제공하는 서비스는 별도의 회원가입 절차 없이 자유롭게 콘텐츠에 접근할 수 있습니다. 회사의 회원제 서비스 이용을 위해 수집 ∙ 이용하는 개인정보는 다음의 목적 이외의
                        용도로는 이용되지 않으며, 목적 변경 시 별도의 동의를 받는 등 필요한 조치를 이행합니다.
                    </p>
                    <div class="tswiper fix on swiper0 swiper-container-initialized swiper-container-horizontal swiper-container-free-mode">

                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <p>
                        <span class="fc6">2. 서비스의 제공 또는 법령에 정해진 책임의 준수를 위하여 회사가 보관하고 있는 개인정보가 제 3 자에게 수집 목적 범위 내에서 제공될 수 있습니다.</span><br>
                        ① 회사는 이용자의 개인정보를 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정에 해당하는 경우에만 개인정보를 제 3 자에게 제공합니다.<br>
                        ② 회사는 다음과 같이 개인정보를 제 3 자에게 제공하고 있습니다.
                    </p>
                    <div class="tswiper fix on swiper2 swiper-container-initialized swiper-container-horizontal swiper-container-free-mode">
                        <div class="swiper-wrapper" style="transition-duration: 0ms;">
                            <div class="swiper-slide wrp_tbl type1">
                                <table>
                                    <caption>개인정보 제 3 자 제공 안내</caption>
                                    <tbody>
                                    <tr>
                                        <td class="tc">판매자</td>
                                        <p>상품 및 경품(서비스) 배송(전송), 제품 설치, 반품, 환불, 고객상담 등 정보통신서비스제공계약 및 전자상거래(통신판매)계약의 이행을
                                            위해 필요한 업무의 처리</td>
                                        <p>
                                            1)구매자정보<span class="fc6">(별명, 이름, 휴대폰 번호, 이메일주소)</span><br>
                                            2)수령인정보<span class="fc6">(이름, 휴대폰번호, 주소)</span><br>
                                            3)상품 구매, 취소, 반품, 교환정보<br>
                                            4)송장정보<br>
                                        </p>
                                        <p>
                                            상품 제공 완료 후 3개월<br>
                                            단, 관계 법령이 정한 시점<br>
                                            까지 보존
                                        </p>
                                    </tr>
                                    <tr>
                                        <td class="tc">스페셜리스트<br> <span class="fc6">(에코플랜테리어)</span></td>
                                        <p>스페셜리스트 서비스 이용 및 상담을 위한 정보 확인<span
                                                class="fc6">(견적상담, 방문견적, 계약체결, 상담대리 접수)</span> 등 정보통신서비스제공계약의 이행을 위해 필요한
                                            업무의 처리</td>
                                        <p>
                                            1)이름<br>
                                            2)연락처<br>
                                            3)시공지역<br>
                                            4)상담내용
                                            </td>
                                        <td rowspan="2">
                                            서비스 제공 목적 달성시<br>
                                            까지<br>
                                            단, 관계 법령이 정한 시점<br>
                                            까지 보존
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tc">가비아<br> <span class="fc6">(퍼스트몰)</span></td>
                                        <p>고객의 주문 및 사업정보 관리 편이성 제공을 위한 제휴 서비스</td>
                                        <p>
                                            1) 수령자 정보: 이름, 전화번호, 주소<br>
                                            2)주문자 정보: 이름, 이메일, 전화번호
                                            </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <p>본 방침은 : 2021년 2월 4일부터 시행됩니다.</p>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/login/member.js"></script>
<script>
    globalThis.arrayFile2 = new Array();
    globalThis.j = 0;
    const dataTransfer = new DataTransfer();
    $("input[id='profile']").on("change", function() {
        const $files2 = $("input[id=profile]")[0].files[0];
        console.log($files2)
//    파일 객체에 접근함
        let formData = new FormData();
        globalThis.arrayFile2.push($files2);
        // 파일 Array의 file들을 하나씩 담아줌
        console.log(globalThis.arrayFile2)
        formData.append("file", $files2)
        $.ajax({
            url: "/members/upload",
            type: "post",
            data: formData,
            contentType: false,
            processData: false,
            success: function (uuid) {
                globalThis.uuid = uuid;
                console.log(globalThis.uuid)

                $("input[id='profile']")[0].files = dataTransfer.files;
                let text2 = "";
                text2 =
                    `
                    <input type="hidden" name="memberProfileOriginalName" value="${$files2.name}">
                    <input type="hidden" name="memberProfileUuid" value="${globalThis.uuid}">
                    <input type="hidden" name="memberProfilePath" value="${toStringByFormatting(new Date())}">
                    <input type="hidden" name="memberProfileSize" value="${$files2.size}">
                    `
                $("form[name='write-form']").append(text2);
                console.log(text2);
            }
        });
    });
</script>
</html>