<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>비밀번호 변경하기</title>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
  <link rel="stylesheet" href="/css/main/header.css">
  <link rel="stylesheet" href="/css/main/footer.css">
  <link rel="stylesheet" href="/css/login/password-update.css" />
  <style>
    .err{
      color : red;
      font-size:13px;
    }
  </style>
</head>
<body>
<div th:insert="~{/main/header:: header}"></div>
<main id="change-password" style="margin-top:100px;">
  <div class="update-password-heade"><h3 style="padding:37px;">비밀번호 변경</h3></div>
  <form action="/members/change-password" name="joinForm" method="post" class="find-form" >
    <div>
      <input
              id="new-password"
              type="password"
              name="memberPassword"
              placeholder="새 비밀번호 입력"
              class="original-password"
      />
      <div class="err-password err"></div>
    </div>
    <div>
      <input
              id="new-password-check"
              type="password"
              placeholder="비밀번호 확인"
              class="new-password"
              aria-autocomplete="list"
      />
      <div class="err-password-check err"></div>
      <p class="password-regex">
        대/소문자, 숫자, 특수문자 중 2가지 이상의 조합으로 10자 이상
      </p>
    </div>
    <input type="hidden" name="memberIdentification" th:value="${param.memberIdentification}">
    <button type="button" disabled="true" class="change-button">변경하기</button>
  </form>
</main>
<div class="modal">
  <div class="warn-modal">
    <div id="content-wrap"></div>
    <button class="confirm-btn" type="submit">확인</button>
  </div>
</div>
<div th:insert="~{/main/footer:: footer}"></div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/login/upadate-password.js"></script>
</html>
