/* css for list-by-region */
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

body {
    font: 12px/1.2 'Spoqa Han Sans', sans-serif;
    color: #4d4d4d;
    zoom: 80%;
    margin: auto 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body, div, dl, dt, dd, th, td, ul, ol, li,
h1, h2, h3, h4, h5, h6, form, fieldset, p,
blockquote, button, input, textarea {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: normal;
}

html, body, #wrap {
    min-height: 100vh;
}

section, article, header, footer, nav, aside, hgroup, figure, figcaption {
    display: block;
    margin: 0;
    padding: 0;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

img, fieldset, button, input {
    border: 0;
    vertical-align: middle;
}

button {
    vertical-align: top;
    background: transparent;
    font-family: 'Spoqa Han Sans', sans-serif;
}

input, select, button, textarea {
    font: 12px/1.2 'Spoqa Han Sans', sans-serif;
    color: #4d4d4d;
    letter-spacing: inherit;
    outline: none;
}

input, select, textarea {
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

label, button {
    cursor: pointer;
}

ul, ol, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}












/*-----------------------------------------*/


#list-by-region-container {
    position: relative;
    min-width: 320px;
    overflow: hidden;
    letter-spacing: -0.05em;
}

#list-by-region-container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 100px;
}

.list-by-region-inner-container {
    padding:30px 0;
}

.real-container{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.sub-title{
    line-height: 63px;
    font-size: 25px;
    font-weight: 700;
    color: #222624;
}

.sub-title.type2{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    font-size: 28px;
    margin-top: 13px;
}

.text-sub{
    font-size: 16px;
    font-weight: 400;
    margin-left: 14px;
}

.region-select-container::after {
    content: "";
    display: block;
    clear: both;
}

.map-seoul-container{
    position: relative;
    float: left;
    margin-top: 54px;
    width: 50%;
}

.map-seoul, .map-seoul .region-name .img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.map-seoul{
    position: relative;
    background-image: url('static/css/list/image/seoul-map.png');
    margin: 0;
    width: 100%;
    padding-bottom: calc(58.82% * 1.3843);
}

.map-seoul .region-name input {
    display: none;
}

.map-seoul .region-name label, .map-seoul .region-name .img {
    position: absolute;
}

.map-seoul .region-name label {
    z-index: 10;
    padding: 0 6px;
    line-height: 26px;
    font-size: 15px;
    color: #fff;
    white-space: nowrap;
    background-color: #808080;
    border-radius: 13px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transition: background-color .2s;
}

/* 잊지말고 label 위치 바꾸기 */
.map-seoul .region-name.gangnam label {
    top: 77.88%;
    left: 72.31%;
}

.map-seoul .region-name.gangdong label {
    top: 53.88%;
    left: 90.31%;
}

.map-seoul .region-name.gangbuk label {
    top: 22.88%;
    left: 57.31%;
}

.map-seoul .region-name.gangseo label {
    top: 49.88%;
    left: 14.31%;
}

.map-seoul .region-name.gwanak label {
    top: 84.88%;
    left: 43.31%;
}

.map-seoul .region-name.gwangjin label {
    top: 55.88%;
    left: 76.7%;
}

.map-seoul .region-name.guro label {
    top: 74.88%;
    left: 18.31%;
}

.map-seoul .region-name.geumchun label {
    top: 87.88%;
    left: 32.31%;
}

.map-seoul .region-name.nowon label {
    top: 17.88%;
    left: 73%;
}

.map-seoul .region-name.dobong label {
    top: 7.88%;
    left: 62.8%;
}

.map-seoul .region-name.dongdaemun label {
    top: 43.88%;
    left: 67.8%;
}

.map-seoul .region-name.dongjak label {
    top: 71.88%;
    left: 43.31%;
}

.map-seoul .region-name.mapo label {
    top: 54.88%;
    left: 38.31%;
}

.map-seoul .region-name.seodaemun label {
    top: 45.88%;
    left: 40.31%;
}

.map-seoul .region-name.seocho label {
    top: 78.88%;
    left: 57.31%;
}

.map-seoul .region-name.sungdong label {
    top: 53.88%;
    left: 66.31%;
}

.map-seoul .region-name.sungbuk label {
    top: 36.88%;
    left: 59.31%;
}

.map-seoul .region-name.songpa label {
    top: 69.88%;
    left: 82.31%;
}

.map-seoul .region-name.yangcheon label {
    top: 66.0%;
    left: 22.31%;
}

.map-seoul .region-name.youngdeungpo label {
    top: 64.88%;
    left: 34.31%;
}

.map-seoul .region-name.yongsan label {
    top: 60.88%;
    left: 51.31%;
}

.map-seoul .region-name.eunpyung label {
    top: 24.88%;
    left: 39.8%;
}

.map-seoul .region-name.jongno label {
    top: 31.88%;
    left: 48.31%;
}

.map-seoul .region-name.junggu label {
    top: 51.5%;
    left: 56.5%;
}

.map-seoul .region-name.junglang label {
    top: 35.88%;
    left: 77.71%;
}

.map-seoul .region-name input:checked + label {
    background-color: #009a3e;
}

.map-seoul .region-name .img {
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* 잊지말고 클릭했을 때 이미지 바꾸기 백단에서 파라미터로 넘기는거 같음*/
.map-seoul .region-name.gangnam input:checked ~ .img {
    background-image: url(image/seoul-map-1.png);
}
.map-seoul .region-name.gangdong input:checked ~ .img {
    background-image: url(image/seoul-map-2.png);
}
.map-seoul .region-name.gangbuk input:checked ~ .img {
    background-image: url(image/seoul-map-3.png);
}
.map-seoul .region-name.gangseo input:checked ~ .img {
    background-image: url(image/seoul-map-4.png);
}
.map-seoul .region-name.gwanak input:checked ~ .img {
    background-image: url(image/seoul-map-5.png);
}
.map-seoul .region-name.gwangjin input:checked ~ .img {
    background-image: url(image/seoul-map-6.png);
}
.map-seoul .region-name.guro input:checked ~ .img {
    background-image: url(image/seoul-map-7.png);
}
.map-seoul .region-name.geumchun input:checked ~ .img {
    background-image: url(image/seoul-map-8.png);
}
.map-seoul .region-name.nowon input:checked ~ .img {
    background-image: url(image/seoul-map-9.png);
}
.map-seoul .region-name.dobong input:checked ~ .img {
    background-image: url(image/seoul-map-10.png);
}
.map-seoul .region-name.dongdaemun input:checked ~ .img {
    background-image: url(image/seoul-map-11.png);
}
.map-seoul .region-name.dongjak input:checked ~ .img {
    background-image: url(image/seoul-map-12.png);
}
.map-seoul .region-name.mapo input:checked ~ .img {
    background-image: url(image/seoul-map-13.png);
}
.map-seoul .region-name.seodaemun input:checked ~ .img {
    background-image: url(image/seoul-map-14.png);
}
.map-seoul .region-name.seocho input:checked ~ .img {
    background-image: url(image/seoul-map-15.png);
}
.map-seoul .region-name.sungdong input:checked ~ .img {
    background-image: url(image/seoul-map-16.png);
}
.map-seoul .region-name.sungbuk input:checked ~ .img {
    background-image: url(image/seoul-map-17.png);
}
.map-seoul .region-name.songpa input:checked ~ .img {
    background-image: url(image/seoul-map-18.png);
}
.map-seoul .region-name.yangcheon input:checked ~ .img {
    background-image: url(image/seoul-map-19.png);
}
.map-seoul .region-name.youngdeungpo input:checked ~ .img {
    background-image: url(image/seoul-map-20.png);
}
.map-seoul .region-name.yongsan input:checked ~ .img {
    background-image: url(image/seoul-map-21.png);
}
.map-seoul .region-name.eunpyung input:checked ~ .img {
    background-image: url(image/seoul-map-22.png);
}
.map-seoul .region-name.jongno input:checked ~ .img {
    background-image: url(image/seoul-map-23.png);
}
.map-seoul .region-name.junggu input:checked ~ .img {
    background-image: url(image/seoul-map-24.png);
}
.map-seoul .region-name.junglang input:checked ~ .img {
    background-image: url(image/seoul-map-25.png);
}

.map-select-container {
    float: right;
    margin-top: 32px;
    width: 47%;
}

.best-list {
    border-top: 1px solid #d9d9d9;
    margin-top: 10px
}

.best-list li {
    border-bottom: 1px solid #d9d9d9;
    position: relative;
}

.best-list li > a {
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: url('static/css/list/image/arrow_r.png');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 7px auto;
}

.best-list.type2 li > a {
    background: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background-position-x: calc(100% - 21px); */
}

.best-list .cont {
    position: relative;
    display: block;
    padding-bottom: 1.3em;
    background-image: url('static/css/list/image/arrow_r.png');
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 7px auto;
    padding-right: 52px;
    padding-left: 100px;
    background-position-x: calc(100% - 30px);
}

.best-list .name {
    display: inline-block;
    vertical-align: top;
    line-height: 26px;
    font-size: 16px;
    color: #4d4d4d;
    background: none;
    position: relative;
    padding-right: 50px;
    max-width: calc(100% - 120px);
    margin-block-start: 0.8em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.best-list .info-container{
    position: relative;
}

.best-list .tag {
    position: absolute;
    bottom: 0.5px;
    line-height: 12px;
    font-size: 14px;
    color: #808080;
    margin-left: 10px;

}

.best-list .name, .best-list .tag {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.best-list .state {
    position: absolute;
    line-height: 15px;
    font-size: 0;
    width: fit-content;
    float: right;
    right: 50px;
    bottom: 39.8%;
}

.thumbs {
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: calc(50% - 25.5px);
    width: 49px;
    height: 49px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    left: 30px;
}

.map_link {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: url('static/css/list/image/place_link.png') no-repeat 0 center/auto 16px;
    z-index: 5;
    padding-left: 16px;
    font-size: 14px;
    color: #b3b3b3;
}

.best-list .state span,
.sub-info-area-box .price span {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.best-list .state .won,
.price .won {
    background-image: url('static/css/list/image/won.png');
}

.best-list .state .scrap {
    width: 35px;
    background-image: url('static/css/list/image/state_scrap.png');
}

.search-area{
    margin-top: 30px;
}

.wrp_frm{
    font-size: 0;
    width: calc(100% + 10px);
}

.search-area .wrp_frm > *,
.search-area .wrp_frm .region-select-container > * {
    float: left;
}

.search-area .gugun {
    margin-right: 0 !important;
    width: 28%;
}

.custom_select {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 50px;
    padding-right: 30px;
    text-align: left;
    font-size: 15px;
    color: #808080;
    background: #fff url('static/css/list/image/arrow_down.png') calc(100% - 19px) center no-repeat;
    background-size: 10px auto;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-area .w1 {
    width: 86%;
}

select {
    width: 140%;
    padding: 0.8em;
    border: 1px solid #d9d9d9;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* padding-right: 30px; */
    text-indent: 19px;
    text-overflow: ellipsis;
    white-space: nowrap;
    outline: none;
    color: #808080;
}

select::-ms-expand {
    display: none;
}

option {
    z-index: 0;
    position: absolute;
    top: 100%;
    right: -1px;
    left: -1px;
    max-height: 230px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

/*************************************************************/

.region-select-container.w4{
    width: 70%;
    margin: 0;
}

.search-box {
    height: 50px;
    font-size: 15px;
    color: #808080;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    text-indent: 19px;
}

.search-area .region-select-container.w4 input {
    width: 100%;
}

.wrp_buttons{
    margin-top: 30px;
    font-size: 0;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}

.btn.green {
    color: #fff;
    background-color: #009a3e;
    width: calc(100% - 88px);
}

.btn + .btn {
    margin-left: 8px;
}

.btn.lgray {
    color: #4d4d4d;
    background-color: #d9d9d9;
    width: 80px;
}

.gotowrite {
    margin-top: 20px;
    position: relative;
    display: table;
    width: 100%;
    padding: 0 130px 0 40px;
    line-height: 20px;
    font-size: 14px;
    color: #222624;
    background-color: #edf8f1;
    border-radius: 4px;
    box-sizing: border-box;
}

.gotowrite .cell {
    display: table-cell;
    vertical-align: middle;
    height: 74px;
}

.gotowrite strong{
    position: absolute;
    top: calc(50% - 10px);
    right: 40px;
    font-size: 15px;
    font-weight: 700;
    color: #009a3e;
}

/************************************************************************/
.search-result-area{
    margin-top: 40px;
}

.count-result {
    color: #009a3e;
}

.result-list{
    margin-top: -10px;
    width: calc(100% + 20px);
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.result-list .result-list-container {
    margin-top: 20px;
    float: left;
    margin-right: 20px;
    width: calc(50% - 20px);
    position: relative;
}

.result-list .result-list-container .result-list-outer-box{
    position: relative;
    display: block;
    padding: 21px 39px 21px 39px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: border-color .2s;

}

.result-list .result-list-container .result-list-outer-box:hover{
    border: 1px solid #009a3e;
}

.profile-area-box{
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.profile-area-box .thumbs{
   position: inherit;
   width: 30px;
   height: 30px;
   min-width: 30px;
}

.profile-area-box .id span{
    font-size: 14px;
    color: #4d4d4d;
    padding-left: 8px;
    display: inline-block;
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-area-inner{
    display: flex;
    align-items: center;
    max-width: 80%;
}

.profile-area-inner p{
    max-width: 100%;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.title-area-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}

.title-area{
    float: left;
    display: flex;
    align-items: center;
}

.list-title {
    max-width: 355px;
    line-height: 35px;
    font-size: 20px;
    color: #222624;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 15px;
}

.profile-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:100%;
}

.profile-area-box .location{
    margin-left: 12px;
    min-width: fit-content;
}

.profile-area-box .location .map {
    display: block;
    background: url('static/css/list/image/place_link.png') no-repeat 0 center/auto 16px;
    font-size: 14px;
    color: #4d4d4d;
    padding-left: 16px;
}

.result-list-outer-box .pic-box{
    margin-top: 7px;

}

.result-list-outer-box .pic-box .pics-thumbs{
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc((100% - 20px)/3);
    border-radius: 4px;
    padding-bottom: calc((100% - 14px)/3*0.6667);
}


.pic-box .thumbs1{
    background-image: url('static/css/list/image/dummy-thumbnail-2.jpg');
}
.pic-box .thumbs2{
    background-image: url('static/css/list/image/dummy-thumbnail-2.jpg');
}
.pic-box .thumbs3{
    background-image: url('static/css/list/image/dummy-thumbnail-2.jpg');
}

.pic-box .pics-thumbs+.pics-thumbs{
    margin-left: 10px;
}


.pic-box::after{
    content: "";
    display: block;
    clear: both;
}


/************************************************************/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


/************************************************************/
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #009a3e;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
  }
  
  #topBtn:hover {
    background-color: #c2185b;
  }

  