/* css for product-detail.html */
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

body {
    font: 12px/1.2 'Spoqa Han Sans', sans-serif;
    color: #4d4d4d;
    zoom: 80%;
    margin: auto 0;
}

img#expandedImg {
    border: none !important;
    outline: none !important;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body, div, dl, dt, dd, th, td, ul, ol, li,
h1, h2, h3, h4, h5, h6, form, fieldset, p,
blockquote, button, input, textarea {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: normal;
}

html, body, #wrap {
    min-height: 100vh;
}

section, article, header, footer, nav, aside, hgroup, figure, figcaption {
    display: block;
    margin: 0;
    padding: 0;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

img, fieldset, button, input {
    border: 0;
    vertical-align: middle;
}

button {
    vertical-align: top;
    background: transparent;
    font-family: 'Spoqa Han Sans', sans-serif;
}

input, select, button, textarea {
    font: 12px/1.2 'Spoqa Han Sans', sans-serif;
    color: #4d4d4d;
    letter-spacing: inherit;
    outline: none;
}

input, select {
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

label, button {
    cursor: pointer;
}

ul, ol, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    display: block;
    font-size: 1.6em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/********************margin/layout***********************/

.product-detail-page{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.wrapper {
    padding: 50px 0;
}

.container{
    width: 100%;
    display: flex;
}

.product-img-container .no-image{
    width:25%;
    margin:0 auto;
}

.product-img-container{
    margin-bottom: 160px;
    margin-top: 160px;
}

.main-container{
    width: 64.58%;
    padding: 0 2.5%;
}

.product-img-container{
    width: 100%;
    text-align: center;
}

.product-img-container img{
    display: block;
    width: 100%;
}

.aside-container{
    width: 40%;
    position: relative;
}

/*****************aside*****************/
.img-spec {
    color: inherit;
    font-size: 20px;
    max-width: 453px;
    color: #201e1eb5;
    font: caption;
    background: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
}

.border-botton {
    border-bottom: 1px #d0d0d0 solid;
}

.spec{
    display: flex;
}

.info-container {
    margin-bottom: 15px;
}

.product-img img {
    width: 645px;
    border-radius: 1px;
    height: 582px;
}

img.star {
    width: 15px;
    height: 15px;
}

div#spec-top {
    margin-right: 18px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#spec-md {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

p.spec-top {
    margin: 3px;
}

p.spec-md {
    margin: 3px;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 57px;
}

.count {
    margin: 0px;
    padding: 0px;
    border: 1px solid #808080;
    display: inline-block;
}

#mainus {
    border-right: 1px solid #201e1eb5;
    width: 30px;
    height: 39px;
    color: #201e1eb5;
}

#span {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.count input[type='button'] {
    background-color: white;
    border-style: none;
    line-height: 25px;
    cursor: pointer;
}

#plus {
    border-left: 1px solid #201e1eb5;
    width: 30px;
    height: 39px;
    color: #201e1eb5;
}

.total-price :nth-child(1) {
    color: black;
}

.total-price :nth-child(2) {
    color: green;
    font-size: 25px;
}

.buy {
    text-align: center;
    margin-top: 69px;
    display: flex;
}

.buy input[type='button'] {
    background-color: white;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid;
    color: green;
    cursor: pointer;
    border-collapse: collapse;
    width: 50%;
    padding: 15px;
    margin-left: 5px;
}

.buy input:nth-child(2) {
    background-color: green;
    color: white;
}

/********************************navigation*********************************/
.stick-nav-to-top{
    position: sticky;
    top: 0;
    z-index: 1;
}

.board-navigation {
    height: 45px;
    background-color: #edf8f1;
    margin: 25px 0;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.board-navigation > a {
    display: inline-block;
    vertical-align: top;
    height: 45px;
    padding: 0 40px;
    text-align: center;
    color: #4d4d4d;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.board-navigation > a > span {
    padding: 0;
    line-height: 44px;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.board-navigation > a.current {
    height: 45px;
    color: #009a3e;
    background-color: inherit;
    border-right: 0;
    border-bottom: 1px solid #009a3e;
}

.slides_container{

}

/****************************review***********************************/
.review-list li a {
    color: #444;
    text-decoration: none;
    border: none;
    outline: none;
}

.review-write-form{
    width: 95%;
    margin: 0 auto;
}
.form-inner-wrapper {
    position: relative;
    margin-top: 26px;
}

.count-letters{
    position: absolute;
    bottom: 4px;
    right: 39px;
    display: flex;
    width: 93%;
    height: 35px;
    justify-content: flex-end;
    background-color: #fff;
    align-items: center;
    margin-right: 22px;
}

textarea::placeholder {
    font-size: 17px;
    display: flex;
}

.review-wrap {
    margin: 0;
    color: #808080;
    position: relative;
    padding-top: 80px;
    min-height: 0;
    display: block !important;
    padding: 0;
}

.review-my {
    padding-bottom: 30px;
    width: 100%;
    display: none;
}

.review-my-score-title {
    font-size: 25px;
    font-weight: 700;
    color: #222624;
}

.review-my-star-wrap {
    padding-left: 10px;
}

.review-my-star {
    width: 20px;
    height: 20px;
}

.review-my-write-cancel {
    padding-left: 15px;
}

.review-my-score-cancel {
    font-size: 16px;
    color: #b3b3b3;
    border: 0;
    background-color: transparent;
}

.review-my-score-submit {
    font-size: 17px;
    color: #009a3e;
    border: 0;
    background-color: transparent;
    padding-left: 13px;
    font-weight: 600;
}

.review-my-textarea {
    resize: none;
    width: 93%;
    height : 100%;
    border-radius: 10px;
    font-size: 17px;
    padding: 25px;
}

.review-write {
    position: absolute;
    top: 0px;
    right: 0;
    height: 63px;
    font-size: 19px;
    font-weight: 600;
    color: #009a3e;
    border: 0;
    background-color: transparent;
}

.review-write-count {
    font-size: 15px;
    color: #aaa;
    margin-top: 5px;
    text-align: end;
    background-color: transparent;
    border: none;
    outline: none;
}

.review-write-full-count {
    font-size: 15px;
    color: #aaa;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 4px;
}

.review-title {
    line-height: 63px;
    font-size: 25px;
    font-weight: 700;
    color: #222624;
    border-bottom: 1px solid #b3b3b3;
    position: relative;
}

.review-count {
    color: #009a3e !important;
    padding-right: 10px;
}


/* 크기에 비해 font-weight가 너무 무거워서 글씨가 깨진다. */

.review-star {
    width: 20px;
    height: 20px;
}

.review-list > li{
    position: relative;
    margin-top: 20px;
    color: #808080;
    list-style-type: none;
}

.review-user-info {
    position: relative;
    line-height: 20px;
}

.review-user-nickname {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    color: #4d4d4d;
}

.review-score-wrap {
    margin-left: 13px;
    font-size: 14px;
    font-weight: 700;
    color: #222624;
    display: inline-block;
    vertical-align: top;
}

.review-date {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    color: #b3b3b3;
}

.review-photo {
    visibility: visible;
    width: auto;
    height: auto;
    line-height: inherit;
    font-size: inherit;
    margin-top: 20pxs;
    overflow: hidden;
}

.review-photo-flex-wrap {
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.review-photo-flex-inner {
    width: calc((100% - 120px)/9);
    position: relative;
}

.review-img-hover {
    display: block;
    color: inherit;
    text-decoration: none;
    color: #444;
    text-decoration: none;
    border: none;
    outline: none;
}

.review-img-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.review-img-inner {
    background-image: url('images/food.jpeg');
    padding-bottom: 100%;
    border-radius: 4px;
    padding-bottom: 100%;
    border-radius: 4px;
    transition: transform .4s ease-in-out;
    background-position: center center;
    background-size: cover;
}

.review-photo-flex-inner + .review-photo-flex-inner {
    margin-left: 15px;
}

.review-letters {
    margin-top: 11px;
    margin-bottom: -4px;
    padding-bottom: 20px;
    line-height: 22px;
    font-size: 15px;
    border-bottom: 1px solid #b3b3b3;
}

.review-my-star {
    width: 25px;
    height: 25px;
}

.review-img-wrap {
    overflow: hidden; /* 요소 내부 영역을 넘어가는 부분은 숨김 처리 */
    transform: scale(1); /* 기본 크기 유지 */
    transition: transform 0.3s ease-in-out; /* 변환 효과에 대한 전환 효과 지정 */
  }
  
  .review-img-hover:hover .review-img-wrap {
    transform: scale(1.1); /* 마우스 오버 시 요소를 1.1배 크게 확대하여 튀어나오는 효과 적용 */
  }

  .review-img-wrap {
    overflow: hidden; /* 요소 내부 영역을 넘어가는 부분은 숨김 처리 */
    transform: scale(1); /* 기본 크기 유지 */
    transition: transform 0.3s ease-in-out; /* 변환 효과에 대한 전환 효과 지정 */
  }
  
  .review-img-hover:hover .review-img-wrap {
    transform: scale(1.1); /* 마우스 오버 시 요소를 1.1배 크게 확대하여 튀어나오는 효과 적용 */
  }

  /* 모달 */

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

div.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
    font-size: 20px;
}

div.warn-modal {
    box-sizing: border-box;
    position: unset;
    width: 600px;
    height: 70px;
    margin: 20vh 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
}

div.warn-modal {
    padding: 24px;
}

div#content-wrap span{
    display: block;
}

.review-my-write-cancel input {
    cursor: pointer;
}


/************************banner-in-main****************************/
.product-banner-container{
    position: relative;

}

.row{
    width: 202%;
    margin: 0 auto;
    /* display: flex; */
    box-sizing: content-box;
    height: 100px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;

  }

.banner-wrapper{
    width: 80%;
    padding:0;
    margin: 0 auto;
}



/* The grid: Four equal columns that floats next to each other */
.column {
    /* flex: 1; */
    float: left;
    margin-left: 4.2px;
    height: 100%;
    width: calc((50% - 15px) / 4);
}

.column:nth-child(1) {
    margin: 0;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.thumb-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

#expandedImg {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin: 15px 0;
}
/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
/******************************************main-container************************************/

.board-content-container{
    font-size: x-large;
    text-align: center;
}

.product-content-container {
    margin-top: 83px;
    line-height: 2.3em;
}
.banner-inner-wrapper{
    width: 100%;
    margin: 0 auto;
}

.paging-container {
    position: relative;
    max-width: 588.97px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.button-container button{
    width:10px;
    height: 17px;
    background-repeat: no-repeat;
}

.prev {
    background-image: url('images/arrow04_r.png');
    transform: scaleX(-1);
    position: absolute;
    left: 34px;
    top:  89.5%;
}

.next{
    background-image: url('images/arrow04_r.png');
    position: absolute;
    right: 34px;
    top: 89.5%;
}

/**************************************header-navigation**************************************/
.nospace {
    margin-top: 0px;
}

.subinfo {
    line-height: 40px;
    font-size: 13px;
    color: #808080;
    background-color: #f2f2f2;
    width: 100%;
}

.holder, .pholder {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.subinfo .loc {
    text-align: left;
    font-size: 0;
    padding: 0 2.5%;
}

.subinfo .loc li {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    cursor: pointer;
}

/********************************message-modal******************************************/
/* 쪽지함 디테일 모달창*/
.this_modal {
    z-index: 998;
    display: none;
    width: 25%;
    height: auto;
    padding: 20px 20px;
    background-color: #fefefe;
    border: 1px solid #888;
}

.this_modal .modal_close_btn {
    position: absolute;
    cursor: pointer;
    top: 7px;
    right: 10px;
}
.modal_background{
    display: none;
}

.comment-writer{
    margin-top: 10%;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
}

.comment-detail{
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
}



/* 모달창 탑 */
.box_top{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.box_top_wrap{
    width: 100%;
    height: 100%;
}

.detail_nick_name{
    font-weight: bold;
    font-size: 14px;
    color: black;
    margin-left: 8px;
}

.detail_title{
    position: relative;
    z-index: 3;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 20px;
}

.title_refresh_wrap{
    display: flex;
    margin: 0 auto;
}

.refresh_image_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    cursor: pointer;
    padding-top: 5px;
    margin-left: 8px;
}

.refresh_image_wrap:hover{
    background-color: #f2f2f2;
}

.refresh_image{
    line-height: 1px;
    width: 18px;
    height: 18px;
}

.div_for_margin{
    width: 50.85px;
    height: 30px;
}

.go_to_board{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    margin-top: 2%;
}

.go_to_board_text{
    margin: 0;
    font-weight: 200;
    font-size: 12px;
    color: #b3b3b3;
}

.right_text{
    margin-bottom: 1px;
}

.right_arrow{
    display: flex;
    align-items: center;
    width: 15px;
    height: 15px;
}

/* 모달창 탑 프로필 */
.profile_image_section{
    position: relative;
    width: 35px;
    height: 35px;
}

.profile_image{
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
    object-fit: cover;
}


/* 모달창 텍스트 부분 */
.box_text{
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    height: 526px;
    overflow: scroll;
    overflow-x: hidden;
}

.my_text_wrap{
    padding: 5px;
}

.my_text_time{
    display: flex;
    justify-content: flex-end;
}

.my_text{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.my_text_content{
    margin: 0;
    padding: 10px 14px;
    max-width: 484px;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    border-radius: 20px 2px 20px 20px;
    background-color: #009a3e;
    color: #ffffff;
}

.opponent_text_wrap{
    padding: 5px;
}

.opponent_text_time{
    display: flex;
    justify-content: flex-start;
}

.opponent_text{
    display: flex;
    justify-content: flex-start;
}

.opponent_text_content{
    margin: 0;
    padding: 10px 14px;
    max-width: 484px;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
    border-radius: 2px 20px 20px 20px;
    background-color: #E9EAEE;
    color:#222624;
}
/* 모달창 전송부분 */


.write-section{
    margin: 0;
    padding: 12px;
    padding-bottom: 0;
    width: 100%;
    height: 75px;
    font-size: 1rem;
    font-weight: 300;
    resize: none;
    border-top: 1px solid #b3b3b3;
    border-bottom: 0;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    outline: none;
    box-sizing: border-box;
    line-height: 150%;
}

.text_send_wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 10px;
    border-top: 0;
    border-bottom: 1px solid #b3b3b3;
    border-left: 1px solid #b3b3b3;
    border-right: 1px solid #b3b3b3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
    outline: none;
    margin-top: -5px;
}

.send_btn{
    cursor: pointer;
    width: 64px;
    height: 32px;
    background-color: #009a3e;
    color: #ffffff;
    outline: none;
    border: 0;
    border-radius: 4px;
    margin-left: 10px;
}

.count_letter{
    display: inline;
    border: 0;
    outline: none;
    text-align: end;
    font-size: 12px;
    color: #b3b3b3;
    padding: 0;

}

.count_letter_max{
    display: inline;
    border: 0;
    outline: none;
    width: 37px;
    text-align: end;
    font-size: 12px;
    color: #b3b3b3;
    padding: 0;
}


/************************************************************/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #009a3e;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

#topBtn:hover {
    background-color: #c2185b;
}



