<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.mapper.AskAdminMapper">

    <sql id="search">
        <if test="keyword!=null">
            where ask_admin_title like concat('%',#{keyword}, '%')
        </if>
    </sql>


    <!-- 관리자 페이지 답변 대기중 문의사항 리스트-->
    <select id="selectWaitAnswer" resultType="askAdminDTO">
        select ask_admin_id, ask_admin_title, ask_admin_content, ask_admin_register_date, aa.member_id, member_nickname, ask_admin_status
        from tbl_ask_admin aa
        join tbl_member m on aa.member_id = m.member_id
        where aa.ask_admin_status = 0
        <if test="keyword!=null">
            and ask_admin_title like concat('%',#{keyword}, '%')
        </if>
        order by aa.ask_admin_id desc
        limit #{cri.offset}, #{cri.amount}
    </select>

    <!-- 관리자 페이지 문의사항 전체 조회-->
    <select id="selectAll" resultType="askAdminDTO">
        select aa.ask_admin_id, aa.ask_admin_title, aa.ask_admin_content, aa.ask_admin_register_date, aa.member_id, m.member_nickname, aa.ask_admin_status, aaa.ask_admin_answer_register_date
        from tbl_ask_admin aa
        join tbl_member m on aa.member_id = m.member_id
        left join tbl_ask_admin_answer aaa on aa.ask_admin_id = aaa.ask_admin_id
        <include refid="search" />
        order by aa.ask_admin_id desc
        limit #{cri.offset}, #{cri.amount}
    </select>

    <!-- 관리자 페이지 대시보드 문의사항 -->
    <select id="selectAllBy" resultType="askAdminDTO">
        select aa.ask_admin_id, aa.ask_admin_title, aa.ask_admin_content, aa.ask_admin_register_date, aa.member_id, m.member_nickname, aa.ask_admin_status
        from tbl_ask_admin aa
        join tbl_member m on aa.member_id = m.member_id
        order by aa.ask_admin_id desc
        limit 5
    </select>


    <!-- 관리자 페이지 문의사항 전체 질문 수-->
    <select id="countAll" resultType="_int">
        select count(distinct ask_admin_id) countTotalAsks
        from tbl_ask_admin
        <include refid="search" />
    </select>

    <!--관리자페이지 문의사항 답변대기 질문 수-->
    <select id="count" resultType="_int">
        select count(distinct ask_admin_id) countAnswerWaitAsks
        from tbl_ask_admin
        where ask_admin_status = 0
        <if test="keyword!=null">
            and ask_admin_title like concat('%',#{keyword}, '%')
        </if>
    </select>

    <delete id="delete">
        delete from tbl_ask_admin
        where ask_admin_id=#{askAdminId}
    </delete>

    <!--문의 작성-->
    <insert id="insert" parameterType="askAdminVO">
        INSERT INTO tbl_ask_admin
        (ask_admin_title, ask_admin_content, ask_admin_register_date,member_id)
        VALUES(#{askAdminTitle}, #{askAdminContent}, CURRENT_TIMESTAMP, #{memberId});
    </insert>

    <!--내가 쓴 모든 글 조회-->
    <select id="selectListByMemberId" resultType="askAdminVO">
        SELECT ask_admin_id, ask_admin_title, ask_admin_content, ask_admin_register_date, ask_admin_status, member_id
        FROM tbl_ask_admin
        WHERE member_id = #{memberId}
        <if test="keyword != null">
            and ask_admin_title like concat('%', #{keyword}, '%')
        </if>
        ORDER BY ask_admin_id DESC
        limit #{criteria.offset}, #{criteria.amount}
    </select>


    <!--내가쓴글 and 검색한글 갯수-->
    <select id="countByMemberId"  resultType="Integer">
        SELECT COUNT(ask_admin_title)
        FROM tbl_ask_admin
        WHERE member_id = #{memberId}
        <if test="keyword != null">
            and ask_admin_title like concat('%',#{keyword}, '%')
        </if>
    </select>


    <!--문의 상세-->
    <select id="selectDetail" parameterType="long" resultType="askAdminVO">
        SELECT ask_admin_id, ask_admin_title, ask_admin_content, ask_admin_register_date, ask_admin_status, member_id
        FROM tbl_ask_admin
        where ask_admin_id = #{askAdminId}
    </select>


    <!--문의상세 삭제-->
    <delete id="deleteDetail" parameterType="long">
        DELETE FROM tbl_ask_admin
        WHERE ask_admin_id= #{askAdminId}
    </delete>


    <!--문의상세답글 -->
    <select id="selectByAnswer" resultType="askAdminAnswerVO">
        select ask_admin_answer_id, ask_admin_answer_content, ask_admin_answer_register_date, ask_admin_id, member_id
        from tbl_ask_admin_answer
        where ask_admin_id = #{askAdminId};
    </select>

</mapper>