<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.mapper.AskAdminMapper">
    <!--대쉬보드 문의사항 답변 대기중 리스트-->
    <select id="selectWaitAnswer" resultType="AskAdminDTO">
        select ask_admin_id, ask_admin_title, ask_admin_content, ask_admin_register_date, aa.member_id, member_nickname, ask_admin_status
        from tbl_ask_admin aa
        join tbl_member m on aa.member_id = m.member_id
        where aa.ask_admin_status = 0
        order by aa.ask_admin_id desc
    </select>

    <!--문의사항 전체 조회-->
    <select id="selectAll" resultType="AskAdminDTO">
        select aa.ask_admin_id, aa.ask_admin_title, aa.ask_admin_content, aa.ask_admin_register_date, aa.member_id, m.member_nickname, aa.ask_admin_status
        from tbl_ask_admin aa
        join tbl_member m on aa.member_id = m.member_id
        order by aa.ask_admin_id desc
        limit #{amount} offset #{offset}
    </select>

    <!--대시보드 문의사항 -->
    <select id="selectAllBy" resultType="AskAdminDTO">
        select aa.ask_admin_id, aa.ask_admin_title, aa.ask_admin_content, aa.ask_admin_register_date, aa.member_id, m.member_nickname, aa.ask_admin_status
        from tbl_ask_admin aa
        join tbl_member m on aa.member_id = m.member_id
        order by aa.ask_admin_id desc
        limit 5
    </select>


    <!--문의사항 전체 질문 수-->
    <select id="countAll" resultType="Integer">
    select count(distinct ask_admin_id) countTotalAsks
    from tbl_ask_admin
    </select>

    <!--문의사항 답변대기 질문 수-->
    <select id="count" resultType="Integer">
    select count(distinct ask_admin_id) countAnswerWaitAsks
    from tbl_ask_admin
    where ask_admin_status = 0
    </select>

    <delete id="delete">
        delete from tbl_ask_admin
        where ask_admin_id=#{askAdminId}
    </delete>

    <insert id="insert" parameterType="AskAdminVO">
        INSERT INTO tbl_ask_admin
        (ask_admin_title, ask_admin_content, ask_admin_register_date,member_id)
        VALUES(#{askAdminTitle}, #{askAdminContent}, CURRENT_TIMESTAMP, #{memberId});
    </insert>

    <select id="selectOne" parameterType="long" resultType="AskAdminVO">
        SELECT ask_admin_id, ask_admin_title, ask_admin_content, ask_admin_register_date, ask_admin_status, member_id
        FROM tbl_ask_admin
        where member_id = #{member_id};
    </select>




</mapper>