<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.mapper.AskAdminAnswerMapper">
    <insert id="insertAskAdminAnswer">
        insert into tbl_ask_admin_answer
        (ask_admin_answer_content, ask_admin_id, member_id)
        values(#{askAdminAnswerContent}, #{askAdminId}, #{memberId})
    </insert>


</mapper>