<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.mapper.BoardMapper">

    <sql id="search">
        <if test="keyword!=null">
            where board_content like concat('%',#{keyword}, '%')
        </if>
    </sql>


<!-- 맴버아이디로 모든 보드정보 가져오기 -->
    <select id="selectAllBoardMember" resultType="boardDTO">
        select m.member_id, board_id, board_title, board_region, board_register_date, board_update_date, board_status, board_price, board_content,
        member_nickname, member_profile_path, member_profile_uuid, member_profile_original_name, member_identification, member_email, member_region,
        member_hi_sentence
        from tbl_member m
        join tbl_board b on m.member_id = b.member_id
        <where>
            <if test="memberId != null">
                AND m.member_id = #{memberId}
            </if>
        </where>
        order by board_id desc
            limit #{cri2.offset}, #{cri2.rowCount}
    </select>

    <select id="selectAllBoardMemberByBoard" resultType="boardDTO">
        select m.member_id, board_id, board_title, board_region, board_register_date, board_update_date, board_status, board_price, board_content,
        member_nickname, member_profile_path, member_profile_uuid, member_profile_original_name, member_identification, member_email, member_region,
        member_hi_sentence
        from tbl_member m
        join tbl_board b on m.member_id = b.member_id
        <where>
            <if test="boardId != null">
                AND b.board_id = #{boardId}
            </if>
        </where>
        order by board_id desc
        limit #{cri2.offset}, #{cri2.rowCount}
    </select>

    <!-- board에 있는 모든 정보 가져오기-->
    <insert id="insert">
        insert into tbl_board
        (board_title, board_content, board_register_date, board_update_date, member_id, board_region, board_price)
        VALUES(#{boardTitle}, #{boardContent}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, #{memberId}, #{boardRegion}, #{boardPrice});
    </insert>

    <!--페이징 처리를 위한 전체 갯수 가져오기-->
    <select id="getTotal" resultType="_int">
        select count(board_id) from tbl_board b
    </select>

    <!-- memberId로 모든 보드 정보 가져오기-->
    <select id="selectOne" resultType="boardVO">
        select board_id, board_title, board_content, board_register_date, board_update_date, board_status, member_id, board_region, board_price
        from tbl_board
        where member_id = #{memberId}
    </select>

    <!--마지막에 추가된 boardId가져오기 -->
    <select id="getLastBoardId" resultType="long">
        select LAST_INSERT_ID() lastNum from tbl_member
        group by lastNum
    </select>

    <!-- BoardDTO로 내가 등록한 디테일페이지의 모든 파일 정보 가져오기 -->
    <select id="getBoardInfo" resultType="boardDTO">
        select b.board_id, board_title, board_content, board_register_date, board_update_date, board_status, board_region, member_id,
        board_file_original_name, board_file_uuid, board_file_path, board_file_size
        from tbl_board b join tbl_board_file bf
        where b.board_id = bf.board_id
    </select>

    <!--BoardId로 사용자 정보 가져오기-->
    <select id="getMemberInfoByBoardId" resultType="memberVO">
        select m.member_id, member_identification, member_password, member_name, member_nickname,
        member_birth, member_phone, member_region, member_email, member_hi_sentence, member_profile_uuid,
        member_profile_original_name, member_profile_path, member_profile_size from tbl_board b join tbl_member m
        on b.member_id = m.member_id
        where board_id = #{boardId}
    </select>

    <!-- 게시판 판매대기중 조회 -->
    <select id="selectWait" resultType="boardDTO">
        select board_id, m.member_region, board_title, m.member_nickname, board_register_date, board_update_date, board_status
        from tbl_member m join tbl_board b
        on m.member_id = b.member_id
        where board_status = 0
        <if test="keyword!=null">
            and board_content like concat('%',#{keyword}, '%')
        </if>
        order by board_id desc
    </select>

    <!-- 관리자 게시판 관리 게시판 전체 조회 -->
    <select id="selectAll" resultType="boardDTO">
        select board_id, board_title, board_register_date, board_update_date, board_status, board_price, board_content,
        member_nickname, member_profile_path, member_identification, member_email, member_region, board_region
        from tbl_member m join tbl_board b
        on m.member_id = b.member_id
        <include refid="search" />
        order by board_id desc
        limit #{cri.offset}, #{cri.amount}
    </select>

    <!-- 관리자 게시판 관리 게시판 총 글 수-->
    <select id="countAll" resultType="_int">
        select count(distinct board_id) countTotalBoards
        from tbl_board
        <include refid="search" />
    </select>

    <!-- 게시판 판매대기중 글 수-->
    <select id="count" resultType="_int">
        select count(distinct board_id) countTotalBoards
        from tbl_board
        where board_status=0
    </select>

    <!-- 관리자 대시보드 게시판 조회 -->
    <select id="selectAllBy" resultType="boardDTO">
        select board_id, board_region, board_title, m.member_nickname, board_register_date, board_update_date, board_status
        from tbl_member m join tbl_board b
        on m.member_id = b.member_id order by board_id desc
        limit 5
    </select>

    <!--관리자 게시판 목록 삭제-->
    <delete id="delete">
        delete from tbl_board
        where board_id=#{boardId}
    </delete>

    <!-- 보드 제목 -->
    <select id="selectBoardTitle" resultType="string">
        select board_title from tbl_board where board_id = #{boardId}
    </select>




</mapper>