<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.mapper.MessageMapper">
    <!-- 내가 보낸 쪽지방 전체 -->
    <select id="selectAll" resultType="messageRoomDTO">
        select if(seller_id=#{memberId}, customer_id, seller_id) target_id, message_room_id, board_id
        from tbl_message_room where (seller_id=#{memberId} or customer_id=#{memberId})
    </select>

    <!-- 해당 게시글의 쪽지 내역-->
    <select id="selectMessage" resultType="messageVO">
        select message_id, board_id, message_content, message_register_date, message_room_id, message_sender_id, message_getter_id
        from tbl_message where message_room_id =#{messageRoomId}
        order by message_register_date asc
        limit #{criteria.offset}, #{criteria.amount}
    </select>

    <!-- 전체 쪽지 개수 -->
    <select id="selectCountList" resultType="integer">
        select count(message_room_id) from tbl_message_room
        where customer_id = #{memberId} or seller_id = #{memberId}
    </select>

    <!-- 쪽지 대화내용 개수 -->
    <select id="selectCountMessage" resultType="integer">
        select count(message_id) from tbl_message
        where message_room_id =#{messageRoomId}
    </select>

    <!-- 쪽지 대화내역 중 가장 최근 날짜 -->
    <select id="selectLatestDate" resultType="string">
        select date_format(max(message_register_date), '%y-%m-%d %h:%i') as latest_register_date
        from tbl_message where message_room_id = #{messageRoomId}
    </select>

    <!-- 기본 정보로 대화방 번호 가져오기-->
    <select id="selectMessageRoomId" resultType="long">
        select message_room_id from tbl_message_room where board_id = #{boardId} and customer_id = #{customerId}
    </select>


    <!--  쪽지 상대방 정보  -->
    <select id="selectTargetInfo" resultType="memberVO">
        select member_id, member_nickname, member_profile_uuid, member_profile_path, member_profile_original_name from tbl_member where member_id = #{member_id}
    </select>

    <!--  쪽지 입력  -->
    <insert id="insertMessageVO">
        insert into tbl_message
        (message_content, board_id, message_room_id, message_sender_id, message_getter_id)
        values(#{messageContent}, #{boardId}, #{messageRoomId}, #{messageSenderId}, #{messageGetterId})
    </insert>

    <!--  쪽지방 생성  -->
    <insert id="insertMessageRoomVO">
        insert into tbl_message_room (board_id, seller_id, customer_id)
        values(#{boardId}, #{sellerId}, #{customerId})
    </insert>



</mapper>