<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.mapper.ReplyMapper">

    <sql id="search">
        <if test="keyword!=null">
            where reply_content like concat('%',#{keyword}, '%')
        </if>
    </sql>

    <!--후기 넣기-->
    <insert id="insert">
        insert into tbl_reply
        (reply_content, reply_score, member_id, board_id)
        values(#{replyContent}, #{replyScore}, #{memberId}, #{boardId})
    </insert>

    <!-- 방금 넣은 후기 아이디 가져오기 -->
    <select id="getCurrentSeq" resultType="long">
        select LAST_INSERT_ID() lastNum from tbl_reply
        group by lastNum
    </select>

    <select id="selectAllReplyMemberByBoardId" resultType="replyDTO">
        select reply_id, reply_content , reply_score, reply_update_date, m.member_id, board_id, member_name, member_identification,
        member_nickname, member_phone, member_region, member_email, member_hi_sentence, member_profile_uuid, member_profile_original_name,
        member_profile_path
        from tbl_member m join tbl_reply r on r.member_id = m.member_id
        where board_id = #{boardId}
        order by r.reply_id desc
        limit #{cri2.offset}, #{cri2.rowCount}
    </select>

    <!-- 보드아이디로 모든 reply정보 가져오기 -->
    <select id="selectAllByBoardId" resultType="replyVO">
        select reply_id, reply_content, reply_score, reply_register_date, reply_update_date, member_id, board_id
        from tbl_reply where board_id = #{boardId};
    </select>

<!--  페이징을 위한 후기 총수 가져오기  -->
    <select id="getCountAll" resultType="_int">
        select count(reply_id) from tbl_reply
    </select>

    <!-- 해당 게시물에 같은 사람이 리뷰를 몇번 썼는지 확인 -->
    <select id="countReplyForRestrict" resultType="_int">
        select count(reply_id) from tbl_reply
        where board_id = #{boardId} and member_id = #{memberId}
    </select>


    <!--후기관리 글 삭제-->
    <delete id="delete">
        delete from tbl_reply
        where reply_id=#{replyId}
    </delete>

    <!--대시보드 후기글 부분 조회-->
    <select id="selectAllBy" resultType="replyDTO">
        select reply_id, reply_content, reply_score, reply_register_date, reply_update_date, r.member_id, board_id, member_nickname
        from tbl_member m join tbl_reply r
        on m.member_id = r.member_id order by reply_id desc
        limit 5
    </select>

    <!--후기 총 수-->
    <select id="countAll" resultType="_int">
        select count(distinct reply_id) as countTotalReplys
        from tbl_reply
        <include refid="search" />
    </select>

    <!--후기 전체 조회 검색 포함-->
    <select id="selectAll" resultType="replyDTO">
        select r.reply_id, r.board_id, b.board_region, m.member_nickname, r.reply_content, r.reply_register_date
        from tbl_reply as r
        join tbl_board as b on r.board_id = b.board_id
        join tbl_member as m on r.member_id = m.member_id
        <include refid="search" />
        order by reply_id desc
        limit #{cri.offset}, #{cri.amount}
    </select>
</mapper>
