<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.mapper.ReplyMapper">
    <!--후기관리 전체조회-->
    <select id="selectAll" resultType="ReplyDTO">
        select reply_id, reply_content, reply_score, reply_register_date, reply_update_date, r.member_id, board_id, member_nickname, (select count(distinct reply_id) from tbl_reply) as countTotalReplys
        from tbl_member m join tbl_reply r
        on m.member_id = r.member_id order by reply_id desc
    </select>

    <!--후기관리 글 삭제-->
    <delete id="delete">
        delete from tbl_reply
        where reply_id=#{replyId}
    </delete>

</mapper>