<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neighbor.mapper.SignUpMapper">
    <!---->
    <insert id="insert">
        insert into tbl_member(member_identification, member_password, member_name, member_nickname, member_birth, member_phone, member_region, member_email, member_hi_sentence)
        values(#{memberIdentification}, #{memberPassword}, #{memberName}, #{memberNickname}, #{birth}, #{phone}, #{region}, #{memberEmail}, #{hiSentence})
    </insert>
</mapper>